﻿@model WebApplication1.Models.ViewModels.OrderViewModel

<h2>Просмотр заказа</h2>

@Html.Partial("OrderHeadPartial", Model)
@Html.Partial("OrderTransPartial", Model)
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>

