﻿@using WebApplication1.Classes;
@model IEnumerable<WebApplication1.Models.ViewModels.OrderViewModel>

<h2>Список заказов</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </th>
            <td>
                @item.TransDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceAmount)
            </td>
            <td class="ss">
                @Html.DisplayFor(modelItem => item.StatusString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Строки", "Details", new { id = item.OrderId })
                @if (item.Status == SaleStatus.Aside)
                {
                    @Html.ActionLink("Сборка", "Pickup", new { id = item.OrderId })
                }
                @*@Html.ActionLink("Отмена заказа", "Cancel", new { id = item.OrderId, @class="order" })*@
                <br>
                @*<button title="Отмена" id="@item.OrderId" class="cancelOrder"></button>*@
                @if (item.Status == SaleStatus.Aside || item.Status == SaleStatus.Picked || item.Status == SaleStatus.Edit)
                {
                    <input id="@item.OrderId"  type="button" class="cancelOrder" value="Отменить" />
                }
            </td>
        </tr>
    }

</table>
<script language="javascript">
    $(function () {
        $(".cancelOrder").click(function () {
            var button = $(this);
            var id = $(this).attr("id");
            $.post("@Url.Action("Cancel")/" + id,
                function (res) {
                    if (res) {
                        button.parent().parent().find('.ss').html("Отменен")
                    }
                    else
                    {
                        alert("Ошибка отмены");
                    }
                })
        });
    });

</script>