﻿@using WebApplication1.Classes;
@model WebApplication1.Models.ViewModels.OrderViewModel
<table class="table">
    <tr>
        <th></th>
        <th>Код</th>
        <th>Название</th>
        <th>К отгрузке</th>
        <th>Заказано</th>
        <th>Цена</th>
        <th>Доступно</th>
    </tr>

    @for (var i = 0; i < Model.Items.Count; i++)
    {
        <tr class="product_item">
            <td class="catalog_photo">
                @{if (File.Exists(Model.Items[i].MainImagePath[0]))
                    {
                        <img alt="@Model.Items[i].ItemName" src="@Url.Action("GetImagePath", "InventTable", new { filePath = Model.Items[i].MainImagePath[0] })" />
                    }
                }
            </td>
            <td class="item_id">
                @Html.HiddenFor(modelItem => Model.Items[i].ItemId)
                @Html.DisplayFor(modelItem => Model.Items[i].ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Items[i].ItemName)
            </td>
            <td class="qty">
                @if (Model.Status == SaleStatus.Aside)
                {
                    @Html.EditorFor(modelItem => Model.Items[i].Qty)
                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.Items[i].Qty)
                }
            </td>

            <td class="qty">
                @Html.DisplayFor(modelItem => Model.Items[i].QtyOrdered)
            </td>


            <td class="item_price">
                @Html.DisplayFor(modelItem => Model.Items[i].Price)
            </td>
            <td class="qty">
                @Html.DisplayFor(modelItem => Model.Items[i].AvailQty)
            </td>
        </tr>
}
</table>