﻿@model WebApplication1.Models.ViewModels.OrderViewModel


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.HiddenFor(model => model.OrderId)
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TransDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustLastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustLastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvoiceAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvoiceAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryCost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusString)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusString)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceiverFirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceiverFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceiverLastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceiverLastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

        </dl>
    </div>