﻿@using (Html.BeginForm("Pickup", "Order", FormMethod.Post))
{
@model WebApplication1.Models.ViewModels.OrderViewModel

<h2>Сборка</h2>

@Html.Partial("OrderHeadPartial", Model)


@Html.Partial("OrderTransPartial", Model)


<input type="submit" value="Завершить">
<p>
    @Html.ActionLink("Назад к списку", "Index")
</p>
}
