﻿@model WebApplication1.Models.InventTableModel

<div class="product">
    <h1 class="product_title">@Html.DisplayFor(model => model.ItemName)</h1>
    <span class="product_page_code item_ItemId">Код товара: <span>@Model.ItemId</span></span>
    <div class="row">
        <div class="photo_block">
            <ul class="bxslider">
                <li><img src = @Model.MainImagePath[1] width="500" alt="" /></li>
            </ul>

            <div id="bx-pager">
            </div>
            <p>Фактический вид товара может отличаться от изображения на сайте<br />
            Цена действительна только для интернет-магазина и может отличаться от цен в розничных магазинах</p>
        </div>
        <div class="right_block">
            <div class="anons">
                <p>@Html.DisplayFor(model => model.ShortDescription)</p>
                <p>                    
                    @{ if (Model.Properties.Any())
                        {
                            foreach (var prop in Model.Properties)
                            {
                                @Html.Raw("<strong>" + @prop.PropertyName+"</strong>: "+ @prop.PropertyValue +"<br />");
                            }
                        }
                    }

                    @{ if (!string.IsNullOrEmpty(Model.Article))
                        { 
                            <strong>Артикул:</strong> @Model.Article<br />
                        }
                    }
                    @{if (Model.AvailQty > 0)
                        {
                            <span class="available"><i class="fa fa-check-circle" aria-hidden="true"></i> в наличии</span>
                        }
                        else
                        {
                            <span class="not_available"><i class="fa fa-ban" aria-hidden="true"></i> нет в наличии</span>
                        }
                    }
                    
                </p>
            </div>
            <div class="buy_block">
                <div class="price_block">
                    @{if (Model.OldPrice > Model.Price)
                        {
                            <span class="old_price">@Html.DisplayFor(model => model.OldPrice)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                        }
                     }
                    <span class="price">@Html.DisplayFor(model => model.Price)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                    @{if(Model.PriceExpDate!=DateTime.MinValue)
                        {
                        <div class="price_comment">Только до&nbsp;@Model.PriceExpDate.ToShortDateString()</div>
                        }
                    }
                </div>
                @{if (Model.AvailQty > 0)
                    {
                        <div class="quantity_block" data-max-value=@Model.AvailQty>
                            <label class="control-label">Количество</label>
                            <span class="counter counter-minus dis"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            @*<span class="quantity" name="quantity">1</span>*@
                            <span class="quantity">1</span>
                            <span class="counter counter-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <div class="cl"></div>
                        </div>
                        <a class="add2basket2" href="#">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            в корзину
                        </a>
                    }
                }
            </div>

            <div class="descr_block">
                <div class="tabs">
                    <ul class="tabs__caption">
                        <li class="active">описание</li>                        
                        <li>отзывы</li>
                    </ul>

                    <div class="tabs__content active">
                            @Html.Raw(Model.Description)               
                    </div>

                    <div class="tabs__content">
                        <div id="hypercomments_widget"></div>
                        <script type="text/javascript">
                            _hcwp = window._hcwp || [];
                            _hcwp.push({widget:"Stream", widget_id: 86663});
                            (function() {
                            if("HC_LOAD_INIT" in window)return;
                            HC_LOAD_INIT = true;
                            var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                            var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                            hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/86663/"+lang+"/widget.js";
                            var s = document.getElementsByTagName("script")[0];
                            s.parentNode.insertBefore(hcc, s.nextSibling);
                            })();
                        </script>
                    </div>

                </div><!-- .tabs-->

                <div class="share_block">
                    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
                </div>
            </div>

        </div>
    </div>
</div>
@if (Model.RelatedItems.Any())
            {
    <div class="products nop">
        <div class="recommend_block">
            <h3>Рекомендуемые товары</h3>
            <div class="products_list">
                @Html.Partial("ItemsPartial", Model.RelatedItems)
            </div>
        </div>
    </div>
}
