﻿@model WebApplication1.Models.ViewModels.CatalogViewModel
@{
    ViewBag.Title = "Каталог товаров";
}

            <div class="all_products products with_filter">
                @Html.Partial("FilterPartial", Model.Filter)
                
                <div class="products_block">
                    <div class="products_list">
                        @Html.Partial("ItemsPartial", Model.inventTable) 
                        

                    </div>
                </div>                      
            </div>

