﻿@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper,
    IList<WebApplication1.Models.ViewModels.TagViewModel> tags)
{
foreach (var tag in tags)
{
        <div class="tags-div">
            @WebApplication1.ActionLinkExtensions.TagLink(htmlHelper, tag)
        </div>
}
}