﻿@model WebApplication1.Models.ViewModels.BlogPostViewModel

@{
    ViewBag.Title = "Редактор статей";
}
<h2>Редактировать статью</h2>
@using (Html.BeginForm("EditPost", "Blog", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //вот здесь место для партиала
    @Html.Partial("PostEditorPartial", Model)
    <iframe id="form_target" name="form_target" style="display:none"></iframe>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@using (Html.BeginForm("Upload", "Blog", FormMethod.Post, htmlAttributes: new { @target = "form_target", @enctype = "multipart/form-data", @id = "my_form", @style = "width:0;height:0;overflow:hidden" }))
    {
    <input name="file" type="file" onchange="$('#my_form').submit();this.value='';">
    }

