﻿@model  WebApplication1.Models.ViewModels.BlogPostListViewModel
<h2>Index</h2>

<div id="content">

    <h1>@ViewBag.Title</h1>

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("PostTemplate", post)
        }
    }
    else
    {
        <p>Статьи не найдены</p>
    }

@Html.Partial("Pager", Model)

</div>