﻿@model  WebApplication1.Models.ViewModels.BlogPostListViewModel
<h2>Консоль администратора</h2>

<div id="content">

    @if (Model.Posts.Count > 0)
    {
         <table>
             <tr>
                 <th>
                    @Html.Label("Порядковый номер");
                 </th>
                 <th>
                     @Html.Label("Код");
                 </th>
                 <th>
                     @Html.Label("Заголовок");
                 </th>
                 <th>
                     @Html.Label("Опубликовано");
                 </th>
                 <th>
                     @Html.Label("Метки");
                 </th>
                 <th>
                     @Html.Label("Категория");
                 </th>
                 <th>
                     @Html.Label("Дата публикации");
                 </th>
                 <th>
                     @Html.Label("Дата последнего редактирования");
                 </th>
             </tr>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => post.OrderNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => post.PostId)
                    </td>
                    <td>
                        @Html.ActionLink(Html.DisplayFor(modelItem => post.Title).ToString(), "EditPost", new { Id = post.PostId })
                        @*@Html.DisplayFor(modelItem => post.Title)*@
                    </td>
                    <td>
                        @if (post.Published)
                        {
                            @Html.Label("Опубликован");
                        }
                        else
                        {
                            @Html.Label("Не опубликован");
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => post.TagString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => post.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => post.PostedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => post.Modified)
                    </td>

                </tr>
            }
        </table>
    }
    else
    {
        <p>Статьи не найдены</p>
    }

    @Html.Partial("Pager", Model)

</div>