﻿@model IEnumerable<WebApplication1.Models.FilterTreeModel>

    

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<tree class="tree">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <ul>
            <li>
                @Html.DisplayFor(model => item.Name)
            </li>

            <ul>
            @foreach (var subitem in item.TreeNodeModel)
            {
                <li>
                    <a href="#">
                        @Html.DisplayFor(model => subitem.Title)
                        @Html.CheckBoxFor(model => subitem.Checked)
                    </a>
                </li>

            }
            </ul>
        </ul>
    }

</tree>


