﻿@using System.Configuration
@using WebApplication1.Classes
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html lang="ru">
<head>
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@(ViewBag.Keywords ?? ConfigurationManager.AppSettings["MetaKeywords"])" />
    <meta name="description" content="@(ViewBag.Description ?? ConfigurationManager.AppSettings["MetaDescription"])" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/jquery.formstyler.css" rel="stylesheet" />
    <link href="~/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/media.css" rel="stylesheet" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91312038-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>

<body class="main">

    <span id="baseurl" base-url="@Request.Url.Scheme://@Request.Url.Authority@Request.ApplicationPath" class="hidden"></span>
    <div class="wrapper">    
        @{
            string message = DataService.GetDeliveryPromoMessage("layout");

            if (!string.IsNullOrWhiteSpace(message))
            {
                <div class="pr_line">
                    <div class="title">
                        <span>@message</span>
                        <!--<i class="fa fa-times" aria-hidden="true"></i>-->
                    </div>
                </div>
            }
        }

        <!--
         <div class="pr_line">
           <div class="title">
               <span>20.11.2017 c 8-00 до 10-00 будут проводиться профилактические работы на сайте!</span>
            </div>
        </div>
        -->
        <header class="header">
            <div class="header_panel">
                <div class="wrapper">
                    @Html.Partial("_LoginPartial")
                    <nav class="menu">
                        <ul>
                            <li><a href="https://krasivo.pro/anketa">Анкета</a></li>
                            <li><a href="#feedback" class="feedback">Задать вопрос</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="logo_block">
                <div class="wrapper">
                    <div class="left_block">
                        <div class="phone">8 (800) 234-79-95</div>
                        <a href="#call_order" class="call_order popup-with-form">Перезвонить мне</a>
                    </div>
                    <a href="@Url.Action("Index","Home")" class="logo"><img src="~/img/logo.png" alt="krasivo.pro" /></a>
                    <div class="right_block">
                        @{
                            string userId;
                            if (Request.IsAuthenticated)
                            {
                                userId = User.Identity.GetUserId();
                            }
                            else
                            {
                                userId = Request.AnonymousID;
                            }
                            
                            var sum = 0d;
                            var qty = 0;
                            DataService.GetBasketSumAndQty(userId, out qty, out sum);
                            <a class="cart" href="@Url.Action("Index","Basket")"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Корзина&nbsp;<span class="sm_cart_count">@qty.ToString()</span></a>
                        }
                        <a class="wishlist" href="@Url.Action("Index","WishList")"><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;Мои желания&nbsp;</a>
                        @if (Request.IsAuthenticated)
                        {
                            <a class="myOrders" href="@Url.Action("OrderList","Cabinet")"><i class="fa" aria-hidden="true"></i>&nbsp;Мои заказы&nbsp;</a>
                        }
                    </div>
                </div>
            </div>
            <div class="menu_block">
                <nav class="menu">
                    <ul>
                        <li class="cat"><a href="@Url.Action("Index","InventTable")"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Каталог</a></li>
                        <li><a href="@Url.Action("Index","Brand")">Бренды</a></li>
                        <li><a href="@Url.Action("PaymentTerms","Home")">Оплата</a></li>
                        <li><a href="@Url.Action("Delivery","Home")">Доставка</a></li>
                        <li><a href="@Url.Action("Contacts","Home")">Контакты</a></li>
                        <li><a href="@Url.Action("Shops","Home")">Магазины</a></li>
                        <li><a href="@Url.Action("Index","Magazine")">Журнал</a></li>
                    </ul>

                    <a href="#m_menu" class="menu_link popup-with-form"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Меню</a>
                    <div id="m_menu" class="popup mfp-hide">
                        <nav class="menu">
                            <ul>
                                <li><a href="@Url.Action("Index","InventTable")">Каталог</a></li>
                                <li><a href="@Url.Action("Index","Brand")">Бренды</a></li>
                                <li><a href="@Url.Action("PaymentTerms","Home")">Оплата</a></li>
                                <li><a href="@Url.Action("Delivery","Home")">Доставка</a></li>
                                <li><a href="@Url.Action("Contacts","Home")">Контакты</a></li>
                                <li><a href="@Url.Action("Shops","Home")">Магазины</a></li>
                                <li><a href="@Url.Action("Index","Magazine")">Журнал</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="search_block">
                    @using (Html.BeginForm("Search", "Search"))
                    {
                        <input type = "text" name = "search_string" class="search_string" placeholder="Поиск" />
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="submit" value="" class="search_submit_btn" />                        
                    }
                    </div>
                </nav>

            </div>
        </header><!-- .header-->

        <main class="content">
            <div class="wrapper">
                @RenderBody()
            </div>
        </main><!-- .content -->

    </div><!-- .wrapper -->

    <footer class="footer">
        <div class="wrapper">
            <div class="col">
                <div class="title">О нас</div>
                <nav class="menu">
                    <ul>
                        <li><a href="@Url.Action("Contacts","Home")">Контакты</a></li>
                        <li><a href="@Url.Action("Shops","Home")">Магазины</a></li>
                        <li><a href="@Url.Action("License","Home")">Публичная оферта</a></li>
                        <li><a href="@Url.Action("Index","Magazine")" target="_blank">Гид по профессиональной косметике</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <div class="title">Помощь</div>
                <nav class="menu">
                    <ul>
                        <li><a href="@Url.Action("PaymentTerms","Home")">Оплата</a></li>
                        <li><a href="@Url.Action("Delivery","Home")">Доставка</a></li>
                        <li><a href="#feedback" class="feedback">Служба поддержки</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <div class="social">
                    @*<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>*@
                    <a href="https://vk.com/industriyakrasoti" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    @*<a href="#"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>*@
                </div>
                <div class="phone">8 (800) 234-79-95</div>
                <a href="#call_order" class="call_order">Перезвонить мне</a>
            </div>
        </div>
        <div class="copy">
            <span>Krasivo.pro ООО "Бьюти трейд групп" &copy; @DateTime.Now.Year.ToString()</span>
        </div>
    </footer><!-- .footer -->

    <div id="toTop"></div>

    @*<script type="text/javascript" src="~/js/jquery.js"></script>*@
    @*<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>*@
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="~/js/form2js.js"></script>
    <script type="text/javascript" src="~/js/json2.js"></script>

    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.formstyler.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    @*<script type="text/javascript" src="~/js/scriptLocal.js"></script>*@
    <script type="text/javascript" src="~/js/script.js"></script>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <!-- forms -->
    <form id="call_order" action="@Url.Action("CreateCustomerFeedback","Home")" method="post" class="popup mfp-hide">
        <h2>Заказ обратного звонка</h2>
        <div class="success">Ваше сообщение принято.<br /> Мы с вами свяжемся в ближайшее время.</div>
        <div class="error">Ошибка! Сообщение не отправлено.</div>
        <div class="fields">
            <input type="hidden" name="frm_type" class="frm_type" value="0" />
            <label><input type="text" name="name" class="field" id="name" placeholder="Имя" /></label>
            <label><input type="text" name="phone" class="m_phone field" placeholder="Телефон" /></label>
            <label>
                <input class="agree" data-val="true" name="AgreeToMaintainPersonalData" data-val-required="Требуется согласие на обработку Ваших данных" type="checkbox" value="true" />
                <input data-val="true" name="AgreeToMaintainPersonalData" data-val-required="Требуется согласие на обработку Ваших данных" type="hidden" value="false" />
                <span>Нажимая кнопку "отправить", я подтверждаю свою дееспособность и даю согласие на обработку моих персональных данных в соответствии с <a href="@Url.Action("License","Home")" target="_blank">Публичной офертой</a>.</span>
            </label>
            <input type="submit" name="submit" value="отправить" />
        </div>
        
    </form>

    <form id="feedback" action="@Url.Action("CreateCustomerFeedback","Home")" method="post" class="popup mfp-hide">
        <h2>Обратная связь</h2>
        <div class="success">Ваше сообщение принято.<br /> Мы с вами свяжемся в ближайшее время.</div>
        <div class="error">Ошибка! Сообщение не отправлено.</div>
        <div class="fields">
            <input type="hidden" name="frm_type" value="1" />
            <label><input type="text" name="name" id="fio" class="field" placeholder="Имя" /></label>
            <label><input type="text" name="phone" class="m_phone field" placeholder="Телефон" /></label>
            <label><input type="text" name="email" class="email field" placeholder="Эл. почта" /></label>
            <label><textarea name="message" class="message field" placeholder="Сообщение"></textarea></label>
            <label>
                <input class="agree" data-val="true" name="AgreeToMaintainPersonalData" data-val-required="Требуется согласие на обработку Ваших данных" type="checkbox" value="true" />
                <input data-val="true" name="AgreeToMaintainPersonalData" data-val-required="Требуется согласие на обработку Ваших данных" type="hidden" value="false" />
                <span>Нажимая кнопку "отправить", я подтверждаю свою дееспособность и даю согласие на обработку моих персональных данных в соответствии с <a href="@Url.Action("License","Home")" target="_blank">Публичной офертой</a>.</span>
            </label>
            <input type="submit" name="submit" value="отправить" />
        </div>       
    </form>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42518369 = new Ya.Metrika({ id:42518369, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42518369" style="position:absolute; left:-9999px;" alt="" /></div></noscript> --> <!-- /Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42518369 = new Ya.Metrika2({ id:42518369, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42518369" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
(function(){ var widget_id = 'E4eifQOVOl';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
    <!-- {/literal} END JIVOSITE CODE -->

<!-- Facebook авторизация блеать и бабки 
    <script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '307024933114653',
            cookie: true,
            xfbml: true,
            version: 'v2.11'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=307024933114653';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
-->
</body>
</html>

@RenderSection("scripts", required: false)