﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="account_block">
        @Html.ActionLink("Личный кабинет", "Index", "Cabinet", routeValues: null, htmlAttributes: new { title = "Управление аккаунтом", @class = "lk" })
        <a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
    </div>
    
    @*<ul class="nav navbar-nav navbar-right" >
        <li>
            @Html.ActionLink("Личный кабинет", "Index", "Cabinet", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @*@Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Cabinet", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        @*</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>*@
    }
}
else
{
    <div class="account_block">
        @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Вход", "Login", "Account", routeValues: new { @returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })
    </div>

    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
