﻿@model List<WebApplication1.Models.ViewModels.BannerViewModel>
@if (Model.Any())
{
    <div class="special_block">
        <div class="special_list special_slider">
            @foreach (var banner in Model)
            {
                <a href="@banner.LinkTo" Id = @banner.Id class="item big_product">
                    <img src="@banner.PathToImage" alt="@banner.Description" />
                </a>
            }
            @*<a href="@Url.Action("Details","SaleAction", new { Id = Model[0].UrlSlug })" class="item big_product">
                    <img src="@Model[0].LongMainImage" alt="@Model[0].Title" />
                </a>*@
            @*<a href="@Url.Action("Details","SaleAction", new { Id = Model[0].UrlSlug })" class="item big_product">
                    <img src="@Model[0].LongMainImage" alt="@Model[0].Title" />
                </a>*@
        </div>
    </div>
}
