﻿@model IEnumerable<WebApplication1.Models.ViewModels.BrandViewModel>
@{ if (Model.Any())
    {
        @*<div class="brands_list">*@
            foreach (var brand in Model)
            {
                <a href="@Url.Action("Details","Brand",new { Id = brand.UrlSlug })" class="item"><img src="@brand.MainImagePath[1]" alt="@brand.BrandName" /></a>
            }
        @*</div>*@
    }
    else
    {
        @Html.Raw("<p>Раздел в разработке</p>")
    }
}
