﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}
<div class="content_page syst">
    <h1 class="text-danger">Ошибка</h1>
    <h2 class="text-danger">Извините, произошла ошибка.</h2>
</div>
