﻿@model IEnumerable<WebApplication1.Models.FilterTreeModel>

<aside class="filter_block">
    <div class="title">Фильтры</div>
    <div class="filter_list">
        @foreach (var item in Model)
        {
            <ul class="item">
                <li class="item_group">
                    <span class="head_filter @{if (!item.Enabled)
                                    {<text>dis</text>}}" id="@item.Id">@Html.DisplayFor(model => item.Name)</span>
                                    <ul class="value_list">
                                        @foreach (var subitem in item.TreeNodeModel)
                                        {
                                            <li class="value_item @{if (subitem.Checked) { <text>check</text>} } @{if (!subitem.Enabled) {<text>dis</text>}}">
                                                <label>
                                                    <input type="checkbox" class="prop_value"
                                                           name="@item.Id" value="@subitem.Id"
                                                           @{if (subitem.Checked) { <text> checked='checked' </text>      } }
                                                           />
                                                    @subitem.Title
                                                </label>
                                            </li>
    }
                                    </ul>
                                </li>
                            </ul>
    }
    </div>
    <div class="btns">
        <a href="#" class="do_filt">показать</a>
        <a href="#" class="clear_filt">очистить фильтр</a>
    </div>

    <div class="tmpFilter" data-filter-url='/InventTable/GetFilteredItemsQty' data-products-url='/InventTable/GetItemsPartial' data-filter-items='/InventTable/GetNewFilter' data-index-url='/catalog'></div>
    @*<div class="tmpFilter" data-filter-url='https://krasivo.pro/591684AE-4993-4864-BBB9-49F94231E48A/InventTable/GetFilteredItemsQty' data-products-url='https://krasivo.pro/591684AE-4993-4864-BBB9-49F94231E48A/InventTable/GetItemsPartial' data-filter-items='https://krasivo.pro/591684AE-4993-4864-BBB9-49F94231E48A/InventTable/GetNewFilter' data-index-url='https://krasivo.pro/591684AE-4993-4864-BBB9-49F94231E48A/catalog'></div>*@
    <div class="count_block">
        <div class="count_text">Выбрано: <span class="count_value"></span></div>
        <a href="#" class="do_filt">показать</a>
    </div>
    <div class="mgz_link">        
        <a href="@Url.Action("Index","Magazine")" target="_blank" title="Гид по профессиональной косметике"><img src="https://krasivo.pro/pic/journal/2017/cover-03.png" alt=""></a>
    </div>

</aside>





