﻿@model WebApplication1.Models.ViewModels.PublicityActionViewModel

@{ if (Model.PublicityItems.Any())
    {
            foreach (var item in Model.PublicityItems)
            {
                if (item.AvailQty == 0)
                {
                    continue;
                }

                <div class="item product_item @{if (item.Hit) { <text>hit</text>} } @{if (item.isAction) { <text>action</text>} } ">
                    <div class="photo"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></div>
                    <div class="title">@Html.DisplayFor(model => item.ItemName)</div>

                    <input type="hidden" class="item_num" value="@item.OrderNumber" />

                    <div class="price_block">

                        <span class="price">Цена в баллах: @Html.DisplayFor(modelItem => item.PointsCost)&nbsp;<i class="fa" aria-hidden="true"></i></span>

                    </div>
                    @if (item.PointsCost <= @Model.PointsEarned)
                    {
                        <div class="quantity_block_p" data-max-value=@item.AvailQty data-price="@Html.DisplayFor(modelItem => item.PointsCost)">
                            <label class="control-label">Выбрано:</label>
                            <span class="counter counter-minus @{if (item.QtyGiven == 0) { <text>dis</text> } }" data-id="@item.ItemId" data-order-id="@Model.OrderId" data-action-id="@Model.JournalId">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </span>
                            <span class="quantity" name="quantity">@Html.DisplayFor(model => item.QtyGiven)</span>

                            <span class="counter counter-plus @{if (item.PointsCost > (@Model.PointsEarned - @Model.PointsGiven)) { <text>dis</text> } } " data-id="@item.ItemId" data-order-id="@Model.OrderId" data-action-id="@Model.JournalId">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>

                            <div class="cl"></div>
                        </div>
                    }
                    else
                    {
                        <span class="comment">
                            Недостаточно баллов для этого подарка
                        </span>
                    }
                </div>
    }

        <div class="more_block">
            <div class="cl"></div>
            <a class="show_more" href="#">показать еще</a>
        </div>

    }
    else
    {
        <div class="cl"></div>
        @Html.Raw("<p class='no_result'>Извините, по вашему запросу товары отсутствуют.</p>");
    }
}

