﻿@model IEnumerable<WebApplication1.Models.InventTableModel>

@{ if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="item product_item @{if (item.Hit) { <text>hit</text>} } @{if (item.isAction) { <text>action</text>} } ">
                <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">
                    <div class="photo"><img src="@item.MainImagePath[1]" alt="@item.ItemName" /></div>
                    <div class="title">@Html.DisplayFor(model => item.ItemName)</div>
                    
                    <input type="hidden" class="item_num" value="@item.OrderNumber" />
                    @if (item.AvailQty > 0)
                    {
                        <div class="price_block">  
                            @if (item.OldPrice > 0 && item.OldPrice > item.Price)
                            {
                                <span class="old_price">@Html.DisplayFor(modelItem => item.OldPrice)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                            }

                            <span class="price">@Html.DisplayFor(modelItem => item.Price)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                            
                            @if (item.PriceExpDate != DateTime.MinValue)
                            {
                                <div class="price_comment">Только до&nbsp;@item.PriceExpDate.ToShortDateString()</div>
                            }
                        </div>
                    }
                </a>
                <div class="adds">
                    <a href="#" class="add2wishlist" data-item-id="@item.ItemId"><i class="fa fa-heart-o" aria-hidden="true"></i> в желания</a>
                    @if (item.AvailQty > 0)
                    {
                        <a href="#" class="add2basket" data-item-id="@item.ItemId"><i class="fa fa-shopping-cart" aria-hidden="true"></i> в корзину</a>
                    }
                    else
                    {
                        <span class="not_available"><i class="fa fa-ban" aria-hidden="true"></i> нет в наличии</span>
                    }

                </div>
            </div>
        }

        <div class="more_block">
            <div class="cl"></div>
            <a class="show_more" href="#">показать еще</a>
        </div>

    }
    else
    {
        <div class="cl"></div>
        @Html.Raw("<p class='no_result'>Извините, по вашему запросу товары отсутствуют.</p>");
    }
}

