﻿@model WebApplication1.Models.ViewModels.OrderSummaryViewModel

@if (Model.TotalAmount > 0)
{
    @Html.HiddenFor(model=>model.DeliveryTypeName)
    <div class="all_ammount line">
        <span class="title">@Html.DisplayNameFor(model=>model.TotalAmount)</span>
        <span class="value">@Html.DisplayFor(model => model.TotalAmount) <i class="fa fa-rub" aria-hidden="true"></i></span>
    </div>
}
<div class="order_ammount line">
    <span class="title">@Html.DisplayNameFor(model => model.ItemsQty) </span>
    <span class="value">@Html.DisplayFor(model => model.ItemsQty) </span>
</div>
<div class="order_ammount line">
    <span class="title">@Html.DisplayNameFor(model => model.OrderAmount)</span>
    <span class="value">@Html.DisplayFor(model => model.OrderAmount) <i class="fa fa-rub" aria-hidden="true"></i></span>
</div>

@if (Model.DeliveryCost > 0)
{
    <div class="delivery_ammount line">
        <span class="title">@Html.DisplayNameFor(model => model.DeliveryCost)</span>
        <span class="value">@Html.DisplayFor(model => model.DeliveryCost) <i class="fa fa-rub" aria-hidden="true"></i></span>
    </div>
}


@if (!string.IsNullOrEmpty(Model.DeliveryTypeName))
{
    <div class="delivery_type line">
        <span class="title">@Html.DisplayNameFor(model => model.DeliveryTypeName)</span>
        <span class="value">@Html.DisplayFor(model => model.DeliveryTypeName)</span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.CityName))
{
    <div class="delivery_type line">
        <span class="title">@Html.DisplayNameFor(model => model.CityName)</span>
        <span class="value">@Html.DisplayFor(model => model.CityName)</span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.DeliveryModeName))
{
    <div class="delivery_type line">
        <span class="title">@Html.DisplayNameFor(model => model.DeliveryModeName)</span>
        <span class="value">@Html.DisplayFor(model => model.DeliveryModeName)</span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.PaymentTypeName))
{
    <div class="payment_type line">
        <span class="title">@Html.DisplayNameFor(model => model.PaymentTypeName)</span>
        <span class="value">@Html.DisplayFor(model => model.PaymentTypeName)</span>
    </div>
}
