﻿@model IEnumerable<WebApplication1.Models.ViewModels.OrderTransViewModel>
@{ if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Код товара
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Цена
                    </th>

                </tr>
            </thead>
            @foreach (var item in Model)
                {
                <tr class="product_item">
                    @*<td class="catalog_photo">
                        @{if (File.Exists(item.MainImagePath[0]))
                            {
                                <img alt="@item.ItemName" src="@Url.Action("GetImagePath", "InventTable", new { filePath = item.MainImagePath[0] })" />
                            }
                        }
                    </td>*@
                    <td class="item_id">
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">@Html.DisplayFor(modelItem => item.ItemName)</a>
                    </td>
                    <td class="qty">
                        <span class="item_qty">@Html.DisplayFor(modelItem => item.Qty)</span>
                    </td>

                    <td class="item_price">
                        @Html.DisplayFor(modelItem => item.Price) <i class="fa fa-rub" aria-hidden="true"></i>
                    </td>
                </tr>

             }
        </table>
    }
}
