﻿@using WebApplication1.Models.ViewModels
@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel
@if (@Model!=null)
{
@*сначала вытащим параметры доставки*@
var deliveryTypeItem = Model.DeliveryType.TypeItems.FirstOrDefault(x => x.DeliveryTypeId == Model.DeliveryType.SelectedDeliveryTypeId);
var deliveryModeItem = new DeliveryModeRadioItem();
var cityName = string.Empty;
var deliveryModeId = string.Empty;
var deliveryModeName = string.Empty;
var selfDeliveryPointName = string.Empty;
var selfDeliveryPointDesc = string.Empty;
var deliveryAddressStreet = string.Empty;
var deliveryAddressBuilding = string.Empty;
var deliveryAddressAppt = string.Empty;
var deliveryAddressGate = string.Empty;
var deliveryAddressLevel = string.Empty;
var deliveryAddressIntercom = string.Empty;
var transportLeg = Model.TransportLeg;
var deliveryCost = Model.DeliveryCost;
var deliveryTypeId = Model.DeliveryType.SelectedDeliveryTypeId;
var trackingNumber = Model.TrackingNumber;

if (deliveryTypeItem!=null)
{
    cityName = deliveryTypeItem.SelectedCityName;    
    deliveryModeItem = deliveryTypeItem.ModeItems.FirstOrDefault(x => x.DeliveryModeId == deliveryTypeItem.SelectedDeliveryModeId);
    if (deliveryModeItem!=null)
    {        
        deliveryModeId = deliveryModeItem.DeliveryModeId;
        deliveryModeName = deliveryModeItem.Name;
        selfDeliveryPointName = deliveryModeItem.SelectedSelfDeliveryPointName;
        selfDeliveryPointDesc = deliveryModeItem.SelectedSelfDeliveryPointDescription;

        deliveryAddressStreet = deliveryModeItem.DeliveryAddressStreet;
        deliveryAddressBuilding = deliveryModeItem.DeliveryAddressBuilding;
        deliveryAddressAppt = deliveryModeItem.DeliveryAddressAppt;
        deliveryAddressGate = deliveryModeItem.DeliveryAddressGate;
        deliveryAddressLevel = deliveryModeItem.DeliveryAddressLevel;
        deliveryAddressIntercom = deliveryModeItem.DeliveryAddressIntercomCode;
    }
}
    @*Вытащили параметры*@
    <span>Способ доставки: @deliveryModeName</span><br />
    if (deliveryCost>0)
    { 
        <span>Стоимость доставки: @deliveryCost <i class="fa fa-rub" aria-hidden="true"></i></span><br />
    }
    else
    {
        <span>Стоимость доставки: Бесплатно <i class="fa fa-rub" aria-hidden="true"></i></span><br />
    }
    if (Model.PaymentType.SelectedPaymentTypeId == PaymentTypeStatic.CardPaymentTypeId)
    { 
        if (deliveryModeId == DeliveryTypeStatic.SelfDeliveryModeId)
        {
            <span>Срок доставки после оплаты, рабочих дней: @transportLeg</span><br />
        }
        else
        {
            <span>Срок доставки после оплаты, рабочих дней: @transportLeg</span><br />
        }
    }
    else
    {
        if (deliveryModeId == DeliveryTypeStatic.SelfDeliveryModeId)
        {
            <span>Срок доставки, рабочих дней: @transportLeg</span><br />
        }
        else
        {
            <span>Срок доставки, рабочих дней: @transportLeg</span><br />
        }
    }
    <span>Город: @cityName</span><br />

    if (deliveryModeId == DeliveryTypeStatic.CDEKPVZ10ModeId || deliveryModeId == DeliveryTypeStatic.CDEKPVZ136ModeId || deliveryModeId == DeliveryTypeStatic.SelfDeliveryModeId)
    {
        <span>Пункт самовывоза: @selfDeliveryPointName</span><br />
        <span>@selfDeliveryPointDesc</span><br />
    }

    if (deliveryModeId == DeliveryTypeStatic.CDEKCourier11ModeId || deliveryModeId == DeliveryTypeStatic.CDEKCourier137ModeId)
    {
        if (!string.IsNullOrWhiteSpace(@deliveryAddressStreet))
        {
            <span>Улица: @deliveryAddressStreet</span><br />
        }

        if (!string.IsNullOrWhiteSpace(@deliveryAddressBuilding))
        {
            <span>Дом, строение, корпус: @deliveryAddressBuilding</span><br />
        }

        if (!string.IsNullOrWhiteSpace(@deliveryAddressAppt))
        {
            <span>Квартира, офис: @deliveryAddressAppt</span><br />
        }

        if (!string.IsNullOrWhiteSpace(@deliveryAddressGate))
        {
            <span>Подъезд: @deliveryAddressGate</span><br />
        }

        if (!string.IsNullOrWhiteSpace(@deliveryAddressLevel))
        {
            <span>Этаж: @deliveryAddressLevel</span><br />
        }

        if (!string.IsNullOrWhiteSpace(@deliveryAddressIntercom))
        {
            <span>Домофон: @deliveryAddressIntercom</span><br />
        }
        if (!string.IsNullOrWhiteSpace(@Model.Comment))
        {
            <span>Комментарий: @Model.Comment</span><br />
        }
    }
    if (!string.IsNullOrWhiteSpace(trackingNumber))
    {        
        <span>Номер накладной доставки: @trackingNumber</span><br />
        if (deliveryTypeId == DeliveryTypeStatic.CDEKDeliveryTypeId)
        {
            var cdekLink = "http://www.edostavka.ru/track.html?order_id=" + trackingNumber;
            <span>Отследить заказ на <a href = "@cdekLink" target="_blank" >сайте транспортной компании</a></span><br />
        }
    }
}