﻿@model List<WebApplication1.Models.ViewModels.SaleActionViewModel>
@if (Model.Any())
{ 
<div class="special_block">
    <div class="special_list special_slider">
        @foreach (var publicity in Model)
        {
            <a href="@Url.Action("Details","SaleAction", new { Id = @publicity.UrlSlug })" class="item big_product">
                <img src="@publicity.LongMainImage" alt="@publicity.Title" />
            </a>
        }
        @*<a href="@Url.Action("Details","SaleAction", new { Id = Model[0].UrlSlug })" class="item big_product">
            <img src="@Model[0].LongMainImage" alt="@Model[0].Title" />
        </a>*@
        @*<a href="@Url.Action("Details","SaleAction", new { Id = Model[0].UrlSlug })" class="item big_product">
            <img src="@Model[0].LongMainImage" alt="@Model[0].Title" />
        </a>*@ 
    </div>
</div>
}