﻿@model WebApplication1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}
<div class="content_page syst">
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm("ChangePassword", "Cabinet", FormMethod.Post, new { @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
       
        <div class="fields">

            <label>
                <input class="field form-control" placeholder="Текущий пароль" data-val="true" data-val-required="Требуется поле Текущий пароль." id="OldPassword" name="OldPassword" type="password" />
            </label>
            <label>
                <input class="field form-control" placeholder="Новый пароль (мин. 6 символов)" data-val="true" data-val-length="Пароль должен содержать символов не менее: 6." data-val-length-max="100" data-val-length-min="6" data-val-required="Требуется поле Новый пароль." id="NewPassword" name="NewPassword" type="password" />
             </label>
            <label>
                <input class="field form-control" placeholder="Подтверждение пароля" data-val="true" data-val-equalto="Новый пароль и его подтверждение не совпадают." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" type="password" />
            </label>


            <input type="submit" class="btn btn-default" value="Изменить пароль" />
        </div>
    }
</div>