﻿@model WebApplication1.Models.ViewModels.PersonalInfoViewModel

<div class="content_page syst">
    <h1>Личный кабинет</h1>
    <p class="cab_menu">
        Профиль
        @Html.ActionLink("Мои заказы", "OrderList")
        @Html.ActionLink("Сменить пароль", "ChangePassword")
    </p>
    <h2>Редактирование личных данных</h2>

    @using (@Html.BeginForm("EditProfile", "Cabinet"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })






        <div class="fields">

            <label>
                <input class="field text-box single-line" placeholder="Имя" data-val="true" data-val-length="Значение Имя должно содержать не менее 2 символов." data-val-length-max="256" data-val-length-min="2" data-val-required="Требуется поле Имя." id="FirstName" name="FirstName" value="@Model.FirstName" type="text" />
            </label>
            <label>
                <input class="field text-box single-line" placeholder="Фамилия" data-val="true" data-val-length="Значение Фамилия должно содержать не менее 2 символов." data-val-length-max="256" data-val-length-min="2" data-val-required="Требуется поле Фамилия." id="LastName" name="LastName" value="@Model.LastName" type="text" />
            </label>
            <label>
                <input class="m_phone field text-box single-line" placeholder="Номер телефона" data-val="true" data-val-phone="Поле Номер телефона не содержит допустимый номер телефона." data-val-required="Требуется поле Номер телефона." id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" type="tel" />
            </label>
            <label>
                @Html.DisplayNameFor(model => model.AgreeToReceivePromoInfo):
                @Html.EditorFor(model => model.AgreeToReceivePromoInfo)                
            </label>
            <div class="btns">
                <input type="submit" class="in_row btn btn-default" value="Сохранить" />
                <a href="@Url.Action("Index","Cabinet")">Отмена</a>
            </div>
        </div>
    }
</div>