﻿@model WebApplication1.Models.ViewModels.PersonalInfoViewModel

<div class="content_page syst">
    <h1>Личный кабинет</h1>
    <p class="cab_menu">
        @*@Html.ActionLink("Профиль", "Index", "Manage")*@
        Профиль
        @Html.ActionLink("Мои заказы", "OrderList")
        @Html.ActionLink("Сменить пароль", "ChangePassword")
    </p>
    <h3>Личные данные</h3>

    <p class="status_msg">@ViewBag.StatusMessage</p>

    <strong>@Html.DisplayNameFor(model => model.Email):</strong>
    @Html.DisplayFor(model => model.Email)
    <br />
    <strong>@Html.DisplayNameFor(model => model.FirstName):</strong>
    @Html.DisplayFor(model => model.FirstName)
    <br />
    <strong>@Html.DisplayNameFor(model => model.LastName):</strong>
    @Html.DisplayFor(model => model.LastName)
    <br />
    <strong>@Html.DisplayNameFor(model => model.PhoneNumber):</strong>
    @Html.DisplayFor(model => model.PhoneNumber)
    <br />
    <strong>@Html.DisplayNameFor(model => model.AgreeToReceivePromoInfo):</strong>
    @Html.DisplayFor(model => model.AgreeToReceivePromoInfo)
    <br />
    <a href="@Url.Action("EditProfile","Cabinet")" class="edit_profile">Редактировать</a>
</div>


