﻿@using WebApplication1.Classes
@model IEnumerable<WebApplication1.Models.ViewModels.OrderViewModel>
<div class="content_page syst order_list">
    <h1>Мои заказы</h1>

    @{if (@Model != null && Model.Any())
        {
            <div class="orders_list">

                @foreach (var item in Model)
                {
               
                <div class="orders_item">

                    <table>
                        <tr>
                            <td class="col1">
                                <span class="order_id">@Html.DisplayFor(modelItem => item.OrderId)</span><br/>
                                <span class="order_date">@item.SubmitDate.ToShortDateString()</span>
                            </td>
                            <td class="col2">
                                <a href="#" class="toggle_details">товаров: @Html.DisplayFor(modelItem => item.ItemsQty)</a>
                            </td>
                            <td class="col3">
                                <span class="item_status status1">@Html.DisplayFor(modelItem => item.StatusString)</span>
                            </td>
                            <td class="col4">
                                @if (item.DeliveryType!=null)
                                { 
                                    <span class="item_delivery_type">@Html.DisplayFor(modelItem => item.DeliveryType.SelectedDeliveryTypeDescription)</span>
                                }
                            </td>
                            <td class="col5">
                                <span class="item_ammount">@Html.DisplayFor(modelItem => item.TotalAmount) <i class="fa fa-rub" aria-hidden="true"></i></span>
                            </td>
                            <td class="col6">
                                @if (item.PaymentType != null)
                                {
                                    <span class="item_delivery_type">@Html.DisplayFor(modelItem => item.PaymentType.SelectedPaymentTypeName)</span>
                                }
                            </td>
                        </tr>
                    </table>
                    <div class="delivery_details">
                        @Html.Partial("OrderDeliveryParamsPartial", item)
                    </div>
                    <div class="item_details">
                        @Html.Partial("OrderItemsPartial", item.Items)
                    </div>

                    <div class="item_actions">

                        <div class="pay_status_list">
                            @if (item.PaymentType.SelectedPaymentTypeId == PaymentTypeStatic.CardPaymentTypeId)
                            { 
                                if (item.Status == WebApplication1.Classes.SaleStatus.Post || item.Status == WebApplication1.Classes.SaleStatus.Delivered || item.Status == WebApplication1.Classes.SaleStatus.SentToDelivery || item.Status == WebApplication1.Classes.SaleStatus.Received || item.Status == WebApplication1.Classes.SaleStatus.Storno)
                                {
                                    <span class="available"><i class="fa fa-check-circle" aria-hidden="true"></i> Оплачен</span><br />
                                }
                                else
                                {
                                    <span class="not_available"><i class="fa fa-ban" aria-hidden="true"></i> Не оплачен</span><br />
                                }
                            }
                        </div>

                        <div class="actions_list">
                            <a href="@Url.Action("RepeatOrder", "Cabinet", new { Id = item.OrderId })">Повторить заказ</a>

                            @if (item.Status == WebApplication1.Classes.SaleStatus.Aside)
                            {
                                <a href="@Url.Action("ReturnToBasket", "Cabinet", new { Id = item.OrderId })">Вернуть в корзину</a>
                            }
                            @if (item.PaymentType.SelectedPaymentTypeId == PaymentTypeStatic.CardPaymentTypeId)
                            { 
                                if (item.Status == WebApplication1.Classes.SaleStatus.Aside)
                                {
                                    <a href="@Url.Action("PayOrder", "Cabinet", new { Id = item.OrderId })">Оплатить заказ</a>
                                    <a href="@Url.Action("CheckOrderPayment", "Cabinet", new { Id = item.OrderId })">Проверить статус оплаты</a>
                                }
                            }
                            @if (item.Status != WebApplication1.Classes.SaleStatus.Cancel && item.Status != WebApplication1.Classes.SaleStatus.Storno && item.Status != WebApplication1.Classes.SaleStatus.Received && item.Status != WebApplication1.Classes.SaleStatus.Delivered)
                            {
                                <a href="@Url.Action("RejectOrder", "Cabinet", new { Id = item.OrderId })">Отменить заказ</a>
                            }
                        </div>

                    </div>

                    @Html.AntiForgeryToken()
                </div>



                }
            </div>
        }
        else
        {
            <div class="cart_empty_block active">
                <div class="cl"></div>
                <span class="icon">:-(</span>
                Вы ещё не сделали ни одного заказа.
            </div>
            }
        }

</div>