﻿<div class="content_page syst">
    <h1>Заказ пока не может быть оплачен</h1>
    <p>
        К сожалению, мы ещё не успели проверить ваш заказ, поэтому его пока нельзя оплатить. 
        Пожалуйста, дождитесь звонка от нашего менеджера. Приносим извинения за доставленные неудобства.
    </p>
    <p>Интернет-магазин "Индустрия Красоты"</p>
</div>