﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel
@using (Html.BeginForm("RejectOrder", "Cabinet", FormMethod.Post))
{
    <div class="content_page syst">
        <h1>Отмена заказа @Model.OrderId</h1>
        @Html.HiddenFor(model => model.OrderId)
        @Html.AntiForgeryToken()
        @if(Model.PaymentType.SelectedPaymentTypeId == PaymentTypeStatic.CardPaymentTypeId)
        {
        <p>
            Если вы нажмёте сейчас кнопку "Отменить", ваш заказ будет отменён, а уплаченные деньги вернутся на вашу карту в течение 3 рабочих дней.
        </p>
        }
        else
        {
            <p>
                Если вы нажмёте сейчас кнопку "Отменить", ваш заказ будет отменён.
            </p>
        }
        <input type="submit" value="Отменить" />
        <p>
            @Html.ActionLink("Назад к списку заказов", "OrderList")
        </p>
    </div>
}
