﻿@model WebApplication1.Models.ViewModels.OrderViewModel
@using (Html.BeginForm("ReturnToBasket", "Cabinet", FormMethod.Post))
{
    <div class="content_page syst">
        <h1>Изменение отправленного заказа  @Model.OrderId</h1>
        @Html.HiddenFor(model => model.OrderId)
        @Html.AntiForgeryToken()
        <p>
            Если вы нажмёте сейчас кнопку "Вернуть в корзину", этот заказ будет отменён, а товары из него вернутся в вашу корзину. <br />
            Вы сможете откорректировать количество, а также изменить набор товаров и условия доставки.
        </p>

        <input type="submit" value="Вернуть в корзину" />
        <p>
            @Html.ActionLink("Назад к списку заказов", "OrderList")
        </p>
    </div>
}
