﻿<div class="content_page syst">
    <h1>По нашим данным, заказ пока не оплачен</h1>
    <p>
       По нашим данным заказ пока не оплачен. Если вы его уже оплатили, пожалуйста, свяжитесь с нашей службой поддержки.
       Приносим извинения за причиненные неудобства.
    </p>
    <p>Интернет-магазин "Индустрия Красоты"</p>
    <p><a href="@Url.Action("OrderList","Cabinet")">Вернуться к списку заказов</a></p>
</div>