﻿<div class="content_page syst">
    <h1>Для заказа выбран тип оплаты "при получении"</h1>
    <p>
        Заказы с типом оплаты "Наложенный платёж" нельзя оплатить картой на сайте.
    </p>
    <p>Интернет-магазин "Индустрия Красоты"</p>
</div>