﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

ul, li {
    display:block;
    list-style-type:none;
    margin:0;
    padding:0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page_content {
    width:100%;
    clear:both;
}
.page_content:after {
    display:table;
    clear:both;
    content:'';
}

.page_content aside {
    float:left;
    width:300px;
    overflow:hidden;
}
.page_content .content {
    float:left;
    overflow:hidden;
}

.page_content aside .tree ul ul {display:none;}
.page_content aside .tree ul > ul.show {display:block;}

.page_content aside .tree .group {cursor:pointer;}

li.group {margin:15px 0 3px 0;}
li.group span {
    font-weight:bold;
    border-bottom-style:dotted;
    border-bottom:1px dotted;
}
li.item {margin:2px 0 0 5px;}

.page_content aside .tree .group span:hover,
li.item span:hover {
    cursor:pointer;
    color:crimson;
}

body .tmpFilter {display:none; left:-9999px;}

.filter_block .count_block {
    display:block;
    position:absolute;
    z-index:999;
    height:30px;
    width:200px;
    clear:both;
    border-radius:5px;
    top:0;
    left:-9999px;
    background-color:grey;
    color:#ffffff;
}
.filter_block .count_block.act {
    left:100px;
}

.filter_block .count_block .count_text {
    float:left;
    width:120px;
    line-height:30px;
    text-align:center;

    overflow:hidden;
}
.filter_block .count_block .count_text span {font-weight:bold;}
.filter_block .count_block .do_filt {
    display:block;
    float:right;
    width:70px;
    text-decoration:none;
    line-height:30px;
    text-align:center;
    color:#ffffff;
    font-weight:bold;
    font-size:12px;
    background-color:crimson;
    border-radius:5px;
}

.btns {
    margin:20px 0 0 0;
}

.btns a {
    display:inline-block;
    width:80px;
    height:40px;
    line-height:40px;
    padding:0 5px;
    text-decoration:none;
    color:#000000;
    text-align:center;
    outline:none;
}
.btns a.do_filt {
    background-color:crimson;
    border-radius:5px;
    color:#ffffff;
    font-weight:bold;
    margin:0 10px 0 0;
}
.btns a.clear_filt {
    text-decoration:underline;
    
}

.show_more {
    display:block;
    text-align:center;
    color:crimson;
    font-weight:bold;
    outline:none;
}

.more_block {display:none;}
.more_block.vis {display:block;}

.basket_block {
    color:#ffffff;
    width:300px;
}
.basket_block .basket_content {
    margin:10px 0 0 0;
}

#loading {
    display:none;
    z-index:9999;
    position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.6);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
    text-align:center;
}
#loading.act {
    display:block;
}
#loading img {
    display:inline;
    margin:300px auto;
    z-index:9999;
    vertical-align:middle;
}