﻿@model WebApplication1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken();
        <button type="submit" class="btn btn-default" id="Facebook" name="provider" value="Facebook" title="Войти с помощью учетной записи Facebook"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-default" id="Vkontakte" name="provider" value="VK" title="Войти с помощью учетной записи Vkontakte"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-default" id="Instagram" name="provider" value="Instagram" title="Войти с помощью учетной записи Instagram"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-default" id="Google" name="provider" value="Google" title="Войти с помощью учетной записи Google"><i class="fa fa-google fa-2x" aria-hidden="true"></i></button>
    }


    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <!--<p>
                Внешние службы проверки подлинности не настроены. В <a href="http://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                вы можете узнать о том, как в этом приложении ASP.NET настроить вход через внешние службы.
            </p>-->
        </div>
    }
    else
    {
        <br/>
        <strong>Войти с помощью:</strong>

        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        switch (p.AuthenticationType)
                        {
                            case ("VKontakte"):
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></button>
                                break;
                            case ("Google"):
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption"><i class="fa fa-google fa-2x" aria-hidden="true"></i></button>
                                break;
                            case ("Facebook"):
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></button>
                                break;
                            case ("Instagram"):
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></button>
                                break;
                            default:
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
                                break;

                        }
                    }
            </div>

        }
    }
}
