﻿@{
    ViewBag.Title = "Подтверждение почты";
}
<div class="content_page syst">
    <h1>@ViewBag.Title</h1>
    <div>
        <p>
            Благодарим за подтверждение электронной почты. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>