﻿<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>
    <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      //document.getElementById('status').innerHTML = 'Please log ' +
      //  'into this app.';

        FB.login(function (response)
        {
            if (response.status === 'connected') {
                testAPI();
            } else {
                // The person is not logged into this app or we are unable to tell. 
            }
        }, { scope: 'email', auth_type: 'rerequest'});
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {

      FB.init({
        appId      : '1993125770933142',
        cookie     : true,  // enable cookies to allow the server to access
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
      });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

      /*
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
      */

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=name,email,id, first_name, last_name', function(response) {
      //console.log('Successful login for: ' + response.name);
        document.getElementById('fb-status').innerHTML =
          'Thanks for logging in, ' + response.last_name +' '+ response.first_name + ' ! ' +response.email + ' ! ' +response.id;
        $.ajax({
            url: baseurl + "/Account/FacebookCallback",
            data: {
                ln: response.last_name,
                fn: response.first_name,
                email: response.email,
                id: response.id
            },
            global: false,
            type: "GET",
            dataType: "text",
            async: false,
            success: function (data) {
                //alert("успех");
                location.href = baseurl;
            },
            fail: function (data) {
                console.log("f");
            }
        });

    });
  }
    </script>

    <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->
    
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
    
    
    <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>-->

    <div id="fb-status">
    </div>

</body>
</html>