﻿@model WebApplication1.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="content_page syst">
    <h1>@ViewBag.Title</h1>
    <h3>Связывание вашей учетной записи @ViewBag.LoginProvider.</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            Вы успешно прошли проверку подлинности через <strong>@ViewBag.LoginProvider</strong>
            Введите имя пользователя на этом сайте ниже и нажмите кнопку "Зарегистрировать", чтобы завершить
            вход.
        </p>
        <div class="fields">
            <div class="form-group">
                
                <label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "field form-control", @placeholder = "электронная почта"  })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </label>
                <label>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "field form-control", @placeholder = "фамилия" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </label>
                <label>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "field form-control", @placeholder = "имя" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Регистрация" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
