﻿@{
    ViewBag.Title = "Сброс пароля";
}

<div class="content_page syst">
    <h1>@ViewBag.Title</h1>

    <div>
        <p>
            На вашу почту отправлено письмо для сброса пароля
        </p>
    </div>
</div>
