﻿@model WebApplication1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли пароль?";
}
<div class="content_page syst">
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="fields">
            <label>
                <input class="field form-control input-validation-error" placeholder="Адрес эл. почты" data-val="true" data-val-email="Поле Почта не содержит допустимый адрес электронной почты." data-val-required="Требуется поле Почта." id="Email" name="Email" value="" type="text" />
            </label>

            <input type="submit" name="submit" value="Отправить письмо для сброса пароля" />
            </div>
            }
        </div>
    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
