﻿@using WebApplication1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Авторизация";
}
<div class="content_page syst">
    <h1>@ViewBag.Title</h1>

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal"}))
            {
                    @Html.AntiForgeryToken()

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToHtmlString()))
                    }

                    <div class="fields">
                        <label>
                            <input class="field form-control input-validation-error" placeholder="Адрес эл. почты" data-val="true" data-val-email="Поле Адрес электронной почты не содержит допустимый адрес электронной почты." data-val-required="Требуется поле Адрес электронной почты." id="Email" name="Email" value="" type="text" />
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </label>

                        

                        <label>
                            <input class="field form-control input-validation-error" placeholder="Пароль" data-val="true" data-val-required="Требуется поле Пароль." id="Password" name="Password" type="password" />
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                         </label>

                        <input type="submit" name="submit" value="Войти" />
                    </div>


                   
                }
            </section>
    
    <p>
        @Html.ActionLink("Регистрация нового пользователя", "Register")
    </p>
    <p>
        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
    </p>
    <section id="socialLoginForm">
       <!-- @@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })-->
       <!-- @@Html.Partial("ExternalLoginFacebook")-->
        <p><strong>Войти через внешние сервисы:</strong></p>

        <!--        
        <a class="gp-login" href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/plus.me&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=https://avp.ru/Account/GpCallback&response_type=code&client_id=190035927765-t82porcqhardu40am5n81gffu9ljq1jc.apps.googleusercontent.com" title="google"></a>
        <a class="vk-login" href="https://oauth.vk.com/authorize?client_id=6260286&display=page&redirect_uri=https://avp.ru/Account/VKCallback&scope=4194304&response_type=code&v=5.69" title="вконтакте"></a>
        <a class="fb-login" href="https://www.facebook.com/v2.11/dialog/oauth?client_id=1993125770933142&redirect_uri=https://avp.ru/Account/FBCallback&response_type=code&scope=public_profile,email&v2.8" title="facebook"></a>
        <a class="ok-login" href="https://connect.ok.ru/oauth/authorize?client_id=1258857728&scope=VALUABLE_ACCESS;GET_EMAIL&response_type=code&redirect_uri=https://avp.ru/Account/OKCallback" title="одноклассники"></a>
        <a class="ya-login" href="https://oauth.yandex.ru/authorize?response_type=code&client_id=422e63c576914ce3be4114260d78e345" title="яндекс"></a>
        -->              
                  
        <a class="gp-login" href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/plus.me&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=https://krasivo.pro/Account/GpCallback&response_type=code&client_id=151770473728-bmgjmms486q5rbdhnn0sj67i3ode2hae.apps.googleusercontent.com" title="google"></a>
        <a class="vk-login" href="https://oauth.vk.com/authorize?client_id=6260213&display=page&redirect_uri=https://krasivo.pro/Account/VKCallback&scope=4194304&response_type=code&v=5.69" title="вконтакте"></a>
        <a class="fb-login" href="https://www.facebook.com/v2.11/dialog/oauth?client_id=307024933114653&redirect_uri=https://krasivo.pro/Account/FBCallback&response_type=code&scope=public_profile,email&v2.8" title="facebook"></a>
        <a class="ok-login" href="https://connect.ok.ru/oauth/authorize?client_id=1258857728&scope=VALUABLE_ACCESS;GET_EMAIL&response_type=code&redirect_uri=https://krasivo.pro/Account/OKCallback" title="одноклассники"></a>
        <a class="ya-login" href="https://oauth.yandex.ru/authorize?response_type=code&client_id=422e63c576914ce3be4114260d78e345" title="яндекс"></a>
        <a class="mail-login" href="https://connect.mail.ru/oauth/authorize?client_id=757366&response_type=code&scope=users&redirect_uri=https://krasivo.pro/Account/MailCallback" title="mail.ru"></a>
        
    </section>
</div>



