﻿@{
    ViewBag.Title = "Завершение регистрации";
}
<div class="content_page syst">
    <h1>Завершение регистрации</h1>

    <h2>Для завершения регистрации Вам нужно подтвердить адрес электронной почты</h2>
    <p>Пожалуйста, откройте свой ящик электронной почты, там будет письмо от нас. Пожалуйста, откройте его и щёлкните по ссылке.</p>
    <p>P.S. Если письма нет во Входящих, проверьте папку с нежелательной почтой.</p>
    <p>С уважением, интернет-магазин "Индустрия Красоты"</p>
</div>
