﻿@model WebApplication1.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="content_page syst">
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="fields">
            <label>
                <input class="field form-control" placeholder="Адрес эл. почты" data-val="true" data-val-email="Поле Адрес электронной почты не содержит допустимый адрес электронной почты." data-val-required="Требуется поле Адрес электронной почты." id="Email" name="Email" value="" type="text" />
            </label>
            <label>
                <input class="field form-control" placeholder="Имя" data-val="true" data-val-length="Значение Имя должно содержать не менее 2 символов." data-val-length-max="256" data-val-length-min="2" data-val-required="Требуется поле Имя." id="FirstName" name="FirstName" value="" type="text" />
            </label>
            <label>
                <input class="field form-control" placeholder="Фамилия" data-val="true" data-val-length="Значение Фамилия должно содержать не менее 2 символов." data-val-length-max="256" data-val-length-min="2" data-val-required="Требуется поле Фамилия." id="LastName" name="LastName" value="" type="text" />
            </label>
            <label>
                <input class="field m_phone form-control" placeholder="Номер телефона" data-val="true" data-val-phone="Поле Номер телефона не содержит допустимый номер телефона." data-val-required="Требуется поле Номер телефона." id="PhoneNumber" name="PhoneNumber" value="" type="text" />
            </label>
            <label>
                <input class="field form-control" placeholder="Пароль (мин. 6 символов)" data-val="true" data-val-length="Пароль должен содержать не менее 6 символов." data-val-length-max="100" data-val-length-min="6" data-val-required="Требуется поле Пароль." id="Password" name="Password" type="password" />
            </label>
            <label>
                <input class="field form-control" placeholder="Подтверждение пароля" data-val="true" data-val-equalto="Пароль и его подтверждение не совпадают." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
            </label>

            <label>
                <input class="agree" data-val="true" name="AgreeToMaintainPersonalData" data-val-required="Требуется согласие на обработку Ваших данных" type="checkbox" value="true" />
                <input data-val="true" name="AgreeToMaintainPersonalData" data-val-required="Требуется согласие на обработку Ваших данных" type="hidden" value="false" />
                <span>Нажимая кнопку "Регистрация", я подтверждаю свою дееспособность и даю согласие на обработку моих персональных данных в соответствии с <a href="@Url.Action("License","Home")" target="_blank">Публичной офертой</a>.</span>
            </label>


            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>

    }
</div>