﻿@model WebApplication1.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Установка нового пароля";
}

<div class="content_page syst">
    <h1>@ViewBag.Title</h1>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)

        <div class="fields">
            <label>
                <input class="field form-control" placeholder="Адрес эл. почты" data-val="true" data-val-email="Поле Адрес электронной почты не содержит допустимый адрес электронной почты." data-val-required="Требуется поле Адрес электронной почты." id="Email" name="Email" value="" type="text" />
            </label>
            <label>
                <input class="field form-control" placeholder="Пароль (мин. 6 символов)" data-val="true" data-val-length="Пароль должен содержать не менее 6 символов." data-val-length-max="100" data-val-length-min="6" data-val-required="Требуется поле Пароль." id="Password" name="Password" type="password" />
            </label>
            <label>
                <input class="field form-control" placeholder="Подтверждение пароля" data-val="true" data-val-equalto="Пароль и его подтверждение не совпадают." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
            </label>

                    <input type="submit" class="btn btn-default" value="Установить новый пароль" />
         </div>

            }

</div>