﻿@{
    ViewBag.Title = "Подтверждение нового пароля";
}

<div class="content_page syst">

        <h1>@ViewBag.Title</h1>

    <div>
        <p>
            Ваш новый пароль установлен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>