﻿@{
    ViewBag.Title = "Ошибка, пользователь не найден";
}
<div class="content_page syst">
    <h1>Ошибка, пользователь не найден</h1>

    <h2>Служба поддержки уже занимается решением этой проблемы. Приносим извинения за доставленные неудобства.</h2>
    <p>С уважением, интернет-магазин "Индустрия Красоты"</p>
</div>
