﻿@model WebApplication1.Models.ViewModels.BrandViewModel

<div class="content_page">
    <h1>@Html.DisplayFor(m=>Model.BrandName)</h1>

    <p style="text-align:center;"><img src=@Model.MainImagePath[1] alt=@Model.BrandName /></p>
    
    @Html.Raw(Model.BrandDescription)
        
    <div class="share_block">
        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="https://yastatic.net/share2/share.js" async="async"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
    </div>

</div>
@if (Model.FeaturedItems.Count > 0)
{
    <div class="products bottom_list">
        <h3>Избранные товары</h3>
        <div class="products_list">
            @Html.Partial("ItemsPartial", Model.FeaturedItems)
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.LinkToCatalog))
        {
            <div class="link_block">
                <a href="@Model.LinkToCatalog" class="cat_link">Перейти в каталог</a>
            </div>
        }
    </div>
}






