﻿@model IEnumerable<WebApplication1.Models.ViewModels.BrandViewModel>


        <div class="content_page">
            <div class="page_block full">
                <h1>Бренды</h1>
                <div class="brands_list">
                    @Html.Partial("BrandPartial", Model)
                </div>
                @*<p>SEO текст</p>*@
                <div class="share_block">
                    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
                </div>
            </div>
        </div>
