﻿@model List<WebApplication1.Models.ViewModels.JournalByYearViewModel>
<div class="content_page">
    <div class="page_block full">
        <h1>Гид по профессиональной косметике</h1>
        <br />
        <h2>2017</h2>
        <div class="mgz_list">
            <div class="item">
                <a id="joomag-embed-b8d663e2-c857-4beb-b3d3-e26c7a4919f1" href="//view.joomag.com/Индустрия-красоты-Осень-2017-Осень-2017/0773426001504527853" target="_blank"><img style="width:238px;" title="Индустрия красоты Осень 2017" alt="Индустрия красоты Осень 2017" src="https://www.joomag.com/Frontend/embed/cover/issue_cover.php?UID=0773426001504527853" /></a>
                <a id="joomag-embed-b8d663e2-c857-4beb-b3d3-e26c7a4919f1" href="//view.joomag.com/Индустрия-красоты-Осень-2017-Осень-2017/0773426001504527853" target="_blank" class="title">Осень 2017</a>
            </div>
            <div class="item">
                <a id="joomag-embed-775be416-ef8d-4ca3-904a-68e7113ec682" href="//view.joomag.com/Индустрия-красоты-Осень-2017-Лето-2017/0328493001506001566" target="_blank"><img style="width:238px;" title="Индустрия красоты Лето 2017" alt="Индустрия красоты Лето 2017" src="https://www.joomag.com/Frontend/embed/cover/issue_cover.php?UID=0328493001506001566" /></a>
                <a id="joomag-embed-775be416-ef8d-4ca3-904a-68e7113ec682" href="//view.joomag.com/Индустрия-красоты-Осень-2017-Лето-2017/0328493001506001566" target="_blank" class="title">Лето 2017</a>
            </div>
            <div class="item">
                <a id="joomag-embed-020d266f-fc07-425c-88ef-5deb1bf72904" href="//view.joomag.com/Индустрия-красоты-Осень-2017-Весна-2017/0729214001506073192" target="_blank"><img style="width:238px;" title="Индустрия красоты Весна 2017" alt="Индустрия красоты Весна 2017" src="https://www.joomag.com/Frontend/embed/cover/issue_cover.php?UID=0729214001506073192" /></a>
                <a id="joomag-embed-020d266f-fc07-425c-88ef-5deb1bf72904" href="//view.joomag.com/Индустрия-красоты-Осень-2017-Весна-2017/0729214001506073192" target="_blank" class="title">Весна 2017</a>
            </div>

        </div>
        @*
        <h2>Читать выпуски журнала за 2017 год</h2>
        <br />
        <iframe name="joomag-embed-40661cec-57c8-4abd-af22-01c10926f4d0" style="width:900px;height:523px;" width="900" height="523" hspace="0" vspace="0" frameborder="0" src="//view.joomag.com/Индустрия-красоты-Осень-2017-Осень-2017/0773426001504527853?e=1&amp;page=1&amp;embedInfo=;image,//www.joomag.com/static/flash/gui/themes/backgrounds/gray.png,fill"></iframe>
        <br />*@
        <h2>Архив номеров в PDF</h2>
        @if (Model.Any())
        {            
            for (var i = 0; i < Model.Count; i++)
            {
                <h2>@Model[i].Year.ToString()</h2>
                
                <div class="mgz_list">
                    @foreach (var journal in Model[i].Journals)
                    {
                        <div class="item">
                            <a href="@journal.PathToMagazineFile" target="_blank"><img src="@journal.PathToCoverFileTn" /></a>
                            <a href="@journal.PathToMagazineFile" target="_blank" class="title">@journal.Description.Trim()</a>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <h2>
                Раздел в разработке, скоро здесь появятся все номера нашего журнала! Обещаем!
           </h2>
        }
        <div class="share_block">
            <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="https://yastatic.net/share2/share.js" async="async"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
        </div>
    </div>
</div>
