﻿@model WebApplication1.Models.ViewModels.SearchItemsViewModel

<div class="search_page">

        <div class="all_products products">
            <h2>@Model.Message</h2>
            @Html.HiddenFor(model => model.QueryStr)

            <div class="products_block">
                <div class="products_list">
                    @Html.Partial("ItemsPartial", Model.inventTable)
                </div>
            </div>
        </div>
        <div class="tmpFilter" data-search-url='/Search/GetSearchedItemsQty' data-search-products-url='/Search/GetItemsPartial'></div>
        <div class="count_block">
            <div class="count_text"><span class="count_value"></span></div>
        </div>

</div><!-- .content -->
