﻿@model IEnumerable<WebApplication1.Models.ViewModels.WishListViewModel>


            <div class="wishlist_block cart_page_block">
                <h1>Список желаний</h1>
                    @{ if (Model != null && Model.Any())
                        {
                            <div class="wishlist_empty_block">
                                <div class="cl"></div>
                                <span class="icon">:-(</span>
                                В вашем списке желаемых покупок пусто.
                            </div>

                            <div class="wish_list order_list col">
                                <table>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="photo"><a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></a></td>
                                            <td class="name">
                                                <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">@item.ItemName</a>
                                                <span class="product_code">Код товара: @item.ItemId</span>
                                            </td>
                                            <td class="price row_ammount">
                                                @if (item.OldPrice > item.Price)
                                                {
                                                    <span class="old_price">@item.OldPrice<text>&nbsp;</text><i class="fa fa-rub" aria-hidden="true"></i></span>
                                                }
                                                <span class="price">@item.Price&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                                                
                                                @if (item.PriceExpDate != DateTime.MinValue)
                                                {
                                                    <div class="price_comment">до&nbsp;@item.PriceExpDate.ToShortDateString()</div>

                                                }
                                            </td>
                                            <td class="row_del"><a href="#" title="переместить в корзину" class="move2basket" data-id="@item.ItemId"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></td>
                                            <td class="row_del"><a href="#" title="удалить из списка желаний" class="delFromWishList" data-id="@item.ItemId"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        }
                        else
                        {
                            <div class="cart_empty_block active">
                                <div class="cl"></div>
                                <span class="icon">:-(</span>
                                В вашем списке желаний пусто.
                            </div>
                        }
                    }
            </div>


