﻿@model WebApplication1.Models.ViewModels.SaleActionViewModel
<main class="content">
    <div class="wrapper">

        <div class="content_page">
                @*<h1>@Html.DisplayFor(m => Model.Title)</h1>*@

                <p style="text-align:center;"><img src="@Model.LongMainImage" alt="@Model.Title" style="max-width: 100%" /></p>

                <p>Предложение действует до @Model.DateEnd.ToShortDateString()!</p>

                @*@Html.Raw(Model.Description)*@

                <div class="share_block">
                    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script src="https://yastatic.net/share2/share.js" async="async"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
                </div>

        </div>

        @if (Model.PublicityItems.Count > 0)
        {
            <div class="products bottom_list">
                <h3>Товары, участвующие в акции</h3>
                <div class="products_list">
                    @Html.Partial("ItemsPartial", Model.PublicityItems)
                </div>
            </div>
        }
    </div>
</main><!-- .content -->