﻿@model IEnumerable<WebApplication1.Models.ViewModels.SaleActionViewModel>

<main class="content">
    <div class="wrapper">
        @*<div class="breadcrumbs">
                <ul>
                    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                    <li><span>Бренды</span></li>
                </ul>
            </div>*@

        <div class="content_page">
            <div class="page_block full">
                <div class="blog_block">
                    <h1>Акции</h1>
                    <div class="cl"></div>
                    @{ if (Model.Any())
                        {
                            <div class="blog_list">
                                @{foreach (var item in Model)
                                    {
                                        <text>
                                            <div class="item">
                                                <a href="@Url.Action("Details", "SaleAction", new { Id = item.UrlSlug })" class="photo" ><img src="@item.MedMainImage" alt="@item.Title" style="max-width: 100%"/></a>
                                                <div class="descr">
                                                    <a href="@Url.Action("Details", "SaleAction", new { Id = item.UrlSlug })" class="title">@item.Title</a>
                                                    <div class="anons">
                                                        <p>Предложение действует с @item.DateBegin.ToShortDateString() до @item.DateEnd.ToShortDateString()</p>
                                                        <p>@item.ShortDescription</p>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </text>
                                    }
                                }
                            </div>
                                    }
                                    else
                                    {
                                        <text>
                                            <div class="cl"></div>
                                        </text>
                                        @Html.Raw("<p>Извините, раздел в разработке</p>");
                                    }
                    }
                </div>
             </div>
            @*<p>SEO текст</p>*@
            <div class="share_block">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js" async="async"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
            </div>

        </div>
     </div>
</main>


@*<div class="blog_block">
    <h3>Акции</h3>
    <div class="cl"></div>
    <div class="blog_list">
        <div class="item">
            <a href="#" class="photo"><img src="pic/pic-1.jpg" alt="" /></a>
            <div class="descr">
                <a href="#" class="title">Заголовок поста</a>
                <div class="anons">
                    <p>Update: In the above video, Blac opens up about her burn incident, how she used makeup as a shield, and why she encourages viewers to love themselves...</p>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="#" class="photo"><img src="pic/pic-2.jpg" alt="" /></a>
            <div class="descr">
                <a href="#" class="title">Заголовок поста</a>
                <div class="anons">
                    <p>Update: In the above video, Blac opens up about her burn incident, how she used makeup as a shield, and why she encourages viewers to love themselves...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item_video">
        <div class="player">
            <iframe width="770" height="433" src="https://www.youtube.com/embed/lJVZM-sqxN8" frameborder="0" allowfullscreen></iframe>
        </div>
        <a href="#" class="title">Заголовок поста блога с видео записью от Youtube</a>
    </div>
    <div class="cl"></div>
</div>*@