﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.DeliveryTypeRadioItem

@Html.DisplayFor(m => m.Message)

@if (Model.ModeItems.Count > 0)
{
    for (int j = 0; j < Model.ModeItems.Count; j++)
    {
        <div class="CDEK_DeliveryModes_item">
            @Html.HiddenFor(m => m.ModeItems[j].DeliveryModeId)
            @Html.RadioButtonFor(m => m.SelectedDeliveryModeId, Model.ModeItems[j].DeliveryModeId, new { @class = "radio dm_radio", @id = "dm" + j.ToString() })
            <span>@Model.ModeItems[j].Name</span><text>&nbsp;</text>
            <span class="bold">@Model.ModeItems[j].MessageAboutCostAndPeriod</span>

            @if (Model.ModeItems[j].DeliveryModeId == DeliveryTypeStatic.CDEKPVZ10ModeId || Model.ModeItems[j].DeliveryModeId == DeliveryTypeStatic.CDEKPVZ136ModeId)
            {
            <div class="cdek_pickup sub_info">

                <span class="cdek_pickup_title">Пункт выдачи</span> @Html.EditorFor(item => @Model.ModeItems[j])

                @for (int k = 0; k < Model.ModeItems[j].SelfDeliveryItems.Count; k++)
                {
                    <div id="@Model.ModeItems[j].SelfDeliveryItems[k].SelfDeliveryPointId" class="cdek_pickup_addr">
                       
                            @Model.ModeItems[j].SelfDeliveryItems[k].SelfDeliveryPointDescription
                        
                    </div>
                }
            </div>
            }
            @if (Model.ModeItems[j].DeliveryModeId == DeliveryTypeStatic.CDEKCourier11ModeId || Model.ModeItems[j].DeliveryModeId == DeliveryTypeStatic.CDEKCourier137ModeId)
            {
                <div class="cur_aaddr sub_info">
                    <span class="bold">Адрес доставки</span>

                    <div class="addr_row street">
                        <span class="row_title">@Html.DisplayNameFor(m => m.ModeItems[j].DeliveryAddressStreet)</span>
                        @Html.TextBoxFor(m => m.ModeItems[j].DeliveryAddressStreet)
                    </div>

                    <div class="addr_row">
                        <span class="row_title">@Html.DisplayNameFor(m => m.ModeItems[j].DeliveryAddressBuilding)</span>
                        @Html.TextBoxFor(m => m.ModeItems[j].DeliveryAddressBuilding)
                    </div>

                    <div class="addr_row">
                        <span class="row_title">@Html.DisplayNameFor(m => m.ModeItems[j].DeliveryAddressAppt)</span>
                        @Html.TextBoxFor(m => m.ModeItems[j].DeliveryAddressAppt)
                    </div>

                    <div class="addr_row">
                        <span class="row_title">@Html.DisplayNameFor(m => m.ModeItems[j].DeliveryAddressGate)</span>
                        @Html.TextBoxFor(m => m.ModeItems[j].DeliveryAddressGate)
                    </div>

                    <div class="addr_row">
                        <span class="row_title">@Html.DisplayNameFor(m => m.ModeItems[j].DeliveryAddressIntercomCode)</span>
                        @Html.TextBoxFor(m => m.ModeItems[j].DeliveryAddressIntercomCode)
                    </div>

                    <div class="addr_row">
                        <span class="row_title">@Html.DisplayNameFor(m => m.ModeItems[j].DeliveryAddressLevel)</span>
                        @Html.TextBoxFor(m => m.ModeItems[j].DeliveryAddressLevel)
                    </div>

                </div>
            }
        </div>
    }
}
@*else
{
    @Html.DisplayFor(m => m.Message)
}*@