﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel
@using (Html.BeginForm("Success", "Basket", FormMethod.Post))
{
    if (Model != null)
    {        

        <div class="cart_page_block syst">
            <h1>Подтверждение заказа №@Html.DisplayFor(m => Model.OrderId)</h1>            
            <div class="order_steps">
                <div class="steps_list">
                    <div class="item"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">2</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">3</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item active last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                </div>

                <div class="step_block step_4">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => Model.OrderId)


                    <div class="confirm col">
                        <strong>@Html.LabelFor(m => Model.ReceiverFirstName):</strong>
                        @Html.DisplayFor(m => Model.ReceiverFirstName)<br />
                        <strong>@Html.LabelFor(m => Model.ReceiverLastName):</strong>
                        @Html.DisplayFor(m => Model.ReceiverLastName)<br />
                        <strong>@Html.LabelFor(m => Model.ReceiverPhone):</strong>
                        @Html.DisplayFor(m => Model.ReceiverPhone)<br />
                        @if (!string.IsNullOrEmpty(Model.Comment))
                        {
                            <strong>@Html.LabelFor(m => Model.Comment):</strong>
                            @Html.DisplayFor(m => Model.Comment)<br />

                        }
                        <strong>Способ оплаты:</strong><br />
                        @PaymentTypeStatic.GetPaymentTypeName(Model.PaymentType.SelectedPaymentTypeId)<text><br /></text>
                        <strong>Куда доставить:</strong><br />
                        @if (Model.DeliveryType.SelectedDeliveryTypeId == DeliveryTypeStatic.SelfDeliveryTypeId)
                        {
                            var deliveryItem = Model.DeliveryType.TypeItems.First(m => m.DeliveryTypeId == Model.DeliveryType.SelectedDeliveryTypeId);
                            <text>Город:&nbsp;</text> @deliveryItem.SelectedCityName;<br />
                            var deliveryModeItem = deliveryItem.ModeItems.First(m => m.DeliveryModeId == deliveryItem.SelectedDeliveryModeId);                            
                            @deliveryModeItem.SelectedSelfDeliveryPointDescription;<text><br /></text>
                            @deliveryModeItem.MessageAboutCostAndPeriod;<br />
                        }
                        @if (Model.DeliveryType.SelectedDeliveryTypeId == DeliveryTypeStatic.CDEKDeliveryTypeId)
                        {
                            var deliveryItem = Model.DeliveryType.TypeItems.First(m => m.DeliveryTypeId == Model.DeliveryType.SelectedDeliveryTypeId);
                            <text>Город:&nbsp;</text> @deliveryItem.SelectedCityName;<br />
                            var deliveryModeItem = deliveryItem.ModeItems.First(m => m.DeliveryModeId == deliveryItem.SelectedDeliveryModeId);
                            if (deliveryModeItem.DeliveryModeId == DeliveryTypeStatic.CDEKPVZ10ModeId || deliveryModeItem.DeliveryModeId == DeliveryTypeStatic.CDEKPVZ136ModeId)
                            {
                                <text>Пункт выдачи:&nbsp;</text>@deliveryModeItem.SelectedSelfDeliveryPointName;<text><br /></text>
                                @deliveryModeItem.SelectedSelfDeliveryPointDescription;<text><br /></text>
                                @deliveryModeItem.MessageAboutCostAndPeriod;<br />
                            }

                            if (deliveryModeItem.DeliveryModeId == DeliveryTypeStatic.CDEKCourier11ModeId || deliveryModeItem.DeliveryModeId == DeliveryTypeStatic.CDEKCourier137ModeId)
                            {
                                <text>Улица:&nbsp;</text>@deliveryModeItem.DeliveryAddressStreet;<text><br /></text>
                                <text>Дом, строение, корпус:&nbsp;</text>@deliveryModeItem.DeliveryAddressBuilding;<text><br /></text>
                                <text>Квартира/офис:&nbsp;</text>@deliveryModeItem.DeliveryAddressAppt;<text><br /></text>
                                <text>Подъезд:&nbsp;</text>@deliveryModeItem.DeliveryAddressGate;<text><br /></text>
                                <text>Этаж:&nbsp;</text>@deliveryModeItem.DeliveryAddressLevel;<text><br /></text>
                                <text>Код домофона:&nbsp;</text>@deliveryModeItem.DeliveryAddressIntercomCode;<text><br /></text>
                                @deliveryModeItem.MessageAboutCostAndPeriod;<br />
                            }
                        }
                        

                        <strong>Состав заказа:</strong>
                        <br /><br />
                        <div class="order_list">
                            <table>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="photo"><a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></a></td>
                                        <td class="name">
                                            <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">@item.ItemName</a>
                                            <span class="product_code">Код товара: @item.ItemId</span>
                                        </td>
                                        <td class="row_quantity">
                                            <div class="quantity_block" data-max-value=@item.AvailQty>
                                                <span class="quantity" name="quantity">@Html.DisplayFor(model => item.Qty)</span>
                                                <div class="cl"></div>
                                            </div>
                                        </td>
                                        <td class="row_ammount">@(item.Qty * item.Price)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></td>
                                    </tr>
                                }
                                @foreach (var item in Model.PresentItems)
                                {
                                    <tr>
                                        <td class="photo"><a href="@Url.Action(" Details", "InventTable" , new { Id=item.UrlSlug })"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></a></td>
                                        <td class="name">
                                            <a href="@Url.Action(" Details", "InventTable" , new { Id=item.UrlSlug })">@item.ItemName</a>
                                            <span class="product_code">Код товара: @item.ItemId</span>
                                        </td>
                                        <td class="row_quantity">
                                            <div class="quantity_block" data-max-value=@item.AvailQty>
                                                <span class="quantity" name="quantity">@Html.DisplayFor(model => item.Qty)</span>
                                                <div class="cl"></div>
                                            </div>
                                        </td>
                                        <td class="row_ammount">@(item.Qty * item.Price)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="confirm_block">
                            <div class="confirm_comment">
                                <p>
                                    Нажимая на кнопку «Подтвердить заказ», я даю разрешение Обществу с ограниченной ответственностью «Бьюти Трейд Групп»
                                    в целях заключения и исполнения договора купли-продажи обрабатывать - собирать, записывать, систематизировать, накапливать, хранить,
                                    уточнять (обновлять, изменять), извлекать, использовать, передавать (в том числе поручать обработку другим лицам), обезличивать, блокировать,
                                    удалять, уничтожать - мои персональные данные: фамилию, имя, номера домашнего и мобильного телефонов, адрес электронной почты.
                                    Согласие может быть отозвано мною в любой момент путем направления письменного уведомления по адресу ООО «Бьюти Трейд Групп».
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="order_summary col">
                        @Html.Partial("OrderSummaryPartial", Model.Summary)
                        <input id="сreateButton" type="submit" class="next_step order" value="Подтвердить заказ" />
                        <a href="@Url.Action("CreateOrder","Basket")" class="prev_page">Назад</a>
                    </div>
                </div>

            </div>
        </div>

    }
    else
    {
        <p>Вы зашли куда-то не туда</p>
    }
}


