﻿@model WebApplication1.Models.ViewModels.OrderViewModel


<form action="@Url.Action("SelectPayment", "Basket")" method="POST" id="CreateOrder">

                <div class="cart_page_block syst">
                    @*<h1>Ваша корзина</h1>*@
                    <h1>Оформление заказа №@Html.DisplayFor(m => Model.OrderId)</h1>
                    <div class="order_steps">
                        <div class="steps_list">
                            <div class="item"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <div class="item active"><span class="step_num">2</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <div class="item"><span class="step_num">3</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                        </div>


                        <div class="step_block step_2">
                            <div class="delivery col">
                                <div class="delivery_block">
                                    <ul class="types_list">
                                        <li class="r_item active">
                                            <input type="radio" class="radio" name="delivery_type" id="dt1" value="pickup" checked="checked" /><label for="dt1">самовывоз</label>

                                            <div class="pickup_info">
                                                <div class="pickup_place">
                                                    <div class="title">1. Место самовывоза:</div>
                                                    @*@Html.DropDownListFor(m => m.SelfDeliveryPoint.SelectedSelfDeliveryPointId, new SelectList(Model.SelfDeliveryPoint.Items, "SelfDeliveryPointId", "SelfDeliveryPointDescription"), new { @class = "m_addr", @orderid = "sdfdsf" })*@
                                                </div>

                                                <div class="pickup_chel">
                                                    <div class="title">2. Кто заберет товары</div>
                                                    <label for="pfioName">
                                                        <span>Имя</span> 
                                                        @Html.TextBoxFor(m => Model.ReceiverFirstName, new { @id = "pfioName", @name = "pfioName" })
                                                        @Html.ValidationMessageFor(m => Model.ReceiverFirstName)
                                                    </label>
                                                    <label for="pfioLastName">
                                                        <span>Фамилия</span>
                                                        @Html.TextBoxFor(m => Model.ReceiverLastName, new { @id = "pfioLastName", @name = "pfioLastName" })
                                                        @Html.ValidationMessageFor(m => Model.ReceiverLastName)
                                                    </label>
                                                    <label for="pphone">
                                                        <span>Телефон</span> 
                                                        @Html.TextBoxFor(m => Model.ReceiverPhone, new { @id = "pphone", @name = "pphone", @class = "m_phone" })
                                                        @Html.ValidationMessageFor(m => Model.ReceiverPhone)
                                                    </label>
                                                    <label for="pcomment">
                                                        <span>Комментарий</span>
                                                        @Html.TextBoxFor(m => Model.Comment, new { @id = "pcomment", @name = "pcomment" })
                                                    </label>
                                                    @Html.HiddenFor(m => Model.OrderId)
                                                    <input type="hidden" id="deliveryTypeId" value="@Model.DeliveryType.SelectedDeliveryTypeId" />
                                                    @*<input type="hidden" id="selfDeliveryPointId" value="@Model.SelfDeliveryPoint.SelectedSelfDeliveryPointId" />*@
                                                    @Html.AntiForgeryToken()
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="next_step_block">
                                    <span class="btn_comment">к способам оплаты</span>
                                    <!--<a href="" class="next_step order">далее</a>-->
                                    <input type="submit" class="next_step order" value="далее" />
                                    <a href="@Url.Action("Index","Basket")" class="prev_page">Назад</a>
                                </div>
                            </div>
                            <div class="order_summary col">
                                @Html.Partial("OrderSummaryPartial", Model.Summary)
                                
                                <input type="submit" id="сreateButton" class="next_step order" value="далее" />
                                <a href="@Url.Action("Index","Basket")" class="prev_page">Назад</a>
                            </div>
                        </div>

                    </div>
                </div>

</form>

