﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel

    <form action="@Url.Action("Confirmation", "Basket")" method="POST" id="CreateOrder" class="co_attr">
    @*<form action="@Url.Action("SelectPayment", "Basket")" method="POST" id="CreateOrder" class="co_attr">*@

    <div class="cart_page_block syst">
        @*<h1>Ваша корзина</h1>*@
        <h1>Оформление заказа №@Html.DisplayFor(m => Model.OrderId)</h1>
        <div class="order_steps">
            <div class="steps_list">
                <div class="item"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <div class="item"><span class="step_num">2</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <div class="item active"><span class="step_num">3</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
            </div>


            <div class="step_block step_3">
                <div class="delivery col">
                    <div class="pickup_chel">
                        <div class="title">Получатель:</div>
                        <label for="pfioName">
                            <span>Имя</span>
                            @Html.TextBoxFor(m => Model.ReceiverFirstName, new { @id = "pfioName", @name = "pfioName" })
                            @Html.ValidationMessageFor(m => Model.ReceiverFirstName)
                        </label>
                        <label for="pfioLastName">
                            <span>Фамилия</span>
                            @Html.TextBoxFor(m => Model.ReceiverLastName, new { @id = "pfioLastName", @name = "pfioLastName" })
                            @Html.ValidationMessageFor(m => Model.ReceiverLastName)
                        </label>
                        <label for="pphone">
                            <span>Телефон</span>
                            @Html.TextBoxFor(m => Model.ReceiverPhone, new { @id = "pphone", @name = "pphone", @class = "m_phone" })
                            @Html.ValidationMessageFor(m => Model.ReceiverPhone)
                        </label>
                        <label for="pcomment">
                            <span>Комментарий</span>
                            @Html.TextBoxFor(m => Model.Comment, new { @id = "pcomment", @name = "pcomment" })
                        </label>
                        @Html.HiddenFor(m => Model.OrderId)
                        @*<input type="hidden" id="deliveryTypeId" value="@Model.DeliveryType.SelectedDeliveryTypeId" />*@
                        @*<input type="hidden" id="selfDeliveryPointId" value="@Model.SelfDeliveryPoint.SelectedSelfDeliveryPointId" />*@
                        @Html.AntiForgeryToken()
                    </div>
                    <div class="delivery_block">
                        <div class="title">Доставка:</div>
                        <ul class="delivery_list types_list">

                            @for (int j = 0; j < Model.DeliveryType.TypeItems.Count; j++)
                            {
                                <li class="delivery_item r_item @{if (j == 0) {<text>active</text>}}">
                                    @{var tmpId = "dt" + j.ToString();
                                        @Html.RadioButtonFor(m => m.DeliveryType.SelectedDeliveryTypeId, Model.DeliveryType.TypeItems[j].DeliveryTypeId, new { @class = "radio", @id = "dt" + j.ToString() })

                                        <label for="@tmpId">@Model.DeliveryType.TypeItems[j].Name</label>
                                    }
                                    <div id="@Model.DeliveryType.TypeItems[j].DeliveryTypeId" class="delivery_item_descr delivery_info">
                                        @Html.EditorFor(item => @Model.DeliveryType.TypeItems[j])
                                    </div>
                                </li>
                            }

                        </ul>

                    </div>
                    <div class="next_step_block">
                        <span class="btn_comment">подтвердить заказ</span>
                        <!--<a href="" class="next_step order">далее</a>-->
                        <input type="submit" class="next_step order" value="далее" />
                        <a href="@Url.Action("SelectPayment","Basket")" class="prev_page">Назад</a>
                    </div>
                </div>
                <div class="order_summary col">
                    @Html.Partial("OrderSummaryPartial", Model.Summary)

                    <input type="submit" id="сreateButton" class="next_step order" value="далее" />
                    <a href="@Url.Action("SelectPayment","Basket")" class="prev_page">Назад</a>
                </div>
            </div>

        </div>
    </div>

</form>



