﻿@model WebApplication1.Models.ViewModels.OrderViewModel
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ошибка!</title>
    <link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
    <script type="text/javascript" src="../../js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="../../js/jquery.url.js"></script>
    <script type="text/javascript" src="../../js/error_page.js"></script>

    <script type="text/javascript">

var lang = "ru";
    </script>
</head>
<html>
<body>

    <div id="wrap">


        <!-- ЛОГОТИП -->
        <div class="logo">
            <!--  <div class="logo_prg"></div>-->
        </div>
        <br />
        <br />

        <hr align="left" width="600px" />
        <div id="errorBlock" style="color:red;margin-left:15px;font-size:18px;
"><img style="margin-right:10px;" src="images/warning.png" />Извините, оплата не может быть совершена</div>

        <form name="errorForm" action="#" method="post" id="errorForm">
            <input type="hidden" id="language" value="ru" type="hidden" />
        </form>

        <hr align="left" width="600px" />

        <br />


        <div>
            <a href="http://usa.visa.com/personal/secure_with_visa/verified_by_visa.html" target="_blank"><img style="border:none; background:none;" src="images/visa.jpg" /></a>
            <a href="http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&amp;content=securecodepopup" target="_blank"><img style="border:none; background:none;" src="images/master.jpg" /></a>

        </div>
        <span class="textt">
            Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
            персональной информации обеспечивается ОАО "Сбербанк России".
            Введенная информация не будет предоставлена третьим лицам за исключением случаев,
            предусмотренных законодательством РФ.
            Проведение платежей по банковским картам осуществляяется в строгом соответствии
            с требованиями платежных систем Visa Int/ и MasterCard Europe Sprl.
        </span>
    </div>

</body>

</html>
