﻿@model WebApplication1.Models.ViewModels.OrderViewModel
@{
    Layout = null;
}

<html>
<head>
    <META content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <script type="text/javascript" src="../../js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.url.js"></script>
    <style type="text/css">
        input {
            width: 100%;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Результат платежа</h1>
    <div id="errorBlock"></div>
    <fieldset>
        <legend>Результаты платежа</legend>
        <table width="100%" id="paymentResults">
            <tr>
                <td>Параметр</td>
                <td>Значение</td>
            </tr>
        </table>
    </fieldset>
    <input type="hidden" id="location" value="../../" />
    <input type="hidden" id="orderId" />
    <script type="text/javascript">


$(document).ready(function () {
    $('#orderId').val($.url.param("orderId"));

    // functions
    function getOrderStatus() {
        $('#errorBlock').empty();
        $('.result').remove();
        jQuery.ajax({
            url: "../../rest/getOrderStatus.do",
            type: 'POST',
            cache: false,
            data: ({
                orderId: $("#orderId").attr("value"),
                userName: $.url.param("login"),
                password: $.url.param("password")
            }),
            dataType: 'json',
            error: function(xhr, status, error) {
                $('#errorBlock').prepend('<p class="errorField" id="loginError">' + ajaxError+ "</p>");
            },
            success: function (data) {
                if ('error' in data) {
                    var message = data['error'];
                    $('#errorBlock').prepend('<p class="errorField" id="loginError">' + message + "</p>");
                    $('#buttonPayment').attr('disabled', true);
                }

                for (var item in data) {
                    var lineClass = 'result';
                    if (item.startsWith('error'))
                        lineClass = 'error result';
                    var value = data[item];
                    $('#paymentResults').append('<tr class="' + lineClass + '"><td>' + item + '</td><td>' + value + '</td></tr>');
                }
                return true;
            }
        });
    }

    getOrderStatus();

    String.prototype.startsWith = function(prefix) {
        return this.indexOf(prefix) === 0;
    };

    (function($) {
    $.extend({
        doGet: function(url, params) {
            document.location = url + '?' + $.param(params);
        },
        doPost: function(url, params) {
            var $form = $("<form method='POST'>").attr("action", url);
            $.each(params, function(name, value) {
                $("<input type='hidden'>")
                    .attr("name", name)
                    .attr("value", value)
                    .appendTo($form);
            });
            $form.appendTo("body");
            $form.submit();
        }
    });
	})(jQuery);

    String.prototype.startsWith = function(prefix) {
        return this.indexOf(prefix) === 0;
    }
});
    </script>
</body>
</html>
