﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.PublicityActionViewModel
<form action="@Url.Action("PublicityActions", "Basket")" method="POST" id="GivePresentsByAction">
    <div class="cart_page_block syst">
        <!--<h1>Оформление заказа №@Html.DisplayFor(m => Model.OrderId)</h1>-->
        <h1>Выбор подарков по акции @Html.DisplayFor(m => Model.JournalName)</h1>
        <p>Набрано баллов: <strong id="allPoints">@Html.DisplayFor(m => Model.PointsEarned)</strong><br/>
        Использовано баллов: <strong id="currPoints">@Html.DisplayFor(m => Model.PointsGiven)</strong></p>
        @{if (Model.PublicityItems.Any())
            {

                <div class="order_steps">
                    <!--<div class="steps_list">
                        <div class="item active"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <div class="item"><span class="step_num">2</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <div class="item"><span class="step_num">3</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                    </div>-->
                    @*<div class="step_block step_1">*@
                        @*<div class="order_list col">*@
                                        <div class="products with_filter all_products">
                                            <aside class="filter_block">
                                                @Html.Partial("FilterPartial4Action", Model)
                                            </aside>
                                            <div class="products_block">
                                                <input type="submit" class="next_step order present_finish" value="Завершить выбор подарков" />
                                                <div class="products_list">
                                                    @Html.Partial("ItemsPartial4Action", Model)
                                                </div>
                                                <input type="submit" class="next_step order present_finish" value="Завершить выбор подарков" />
                                            </div>
                                        @*</div>*@
                        @*</div>*@
                    </div>
                </div>
        }
     }
    </div>
</form>

<div id="presentAlert" class="popup mfp-hide">
    <h2>Выбор подарка</h2>
    <div class="success">Подарок успешно добавлен к заказу <span></span></div>
    <div class="error">Ошибка! Недостаточно баллов.</div>
</div>