﻿@model WebApplication1.Models.ViewModels.BasketViewModel
@*@if (@Model.PossibleActions == true)
    {
    <text>
        <form action="@Url.Action("PublicityActions", "Basket")" method="POST" id="CreateOrder">
    </text>
    }
    else
    {
    <text>
        <form action="@Url.Action("CreateOrder", "Basket")" method="POST" id="CreateOrder">
    </text>
    }*@
 <form action="@Url.Action("Index", "Basket")" method="POST" id="CreateOrder">
<div class="cart_page_block syst">
    <h1>Ваша корзина</h1>

    @{ if (Model != null && Model.BasketLines.Any())
        {
            <div class="cart_empty_block">
                <div class="cl"></div>
                <span class="icon">:-(</span>
                В вашей корзине пусто.
            </div>

            <div class="order_steps">
                <div class="steps_list">
                    <div class="item active"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">2</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">3</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                </div>
                <div class="step_block step_1">
                    <div class="order_list col">
                        @Html.AntiForgeryToken()
                        @{ if (!Model.Status.isOk)
                            {
                                <p>
                                    @Html.Raw(@Model.Status.errorMessage)
                                </p>
                            }
                        }
                        <table>
                            @foreach (var item in Model.BasketLines)
                            {
                                <tr>
                                    <td class="photo"><a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></a></td>
                                    <td class="name">
                                        <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">@item.ItemName</a>
                                        <span class="product_code">Код товара: @item.ItemId</span>
                                    </td>
                                    <td class="row_quantity">
                                        <div class="quantity_block" data-max-value=@item.AvailQty>
                                            <span class="counter counter-minus dis" data-id="@item.ItemId">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </span>
                                            <span class="quantity" name="quantity">@Html.DisplayFor(model => item.Qty)</span>
                                            <span class="counter counter-plus" data-id="@item.ItemId">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </span>
                                            <div class="cl"></div>
                                        </div>
                                    </td>

                                    <td class="row_ammount">
                                        @if (item.OldPrice > item.Price)
                                        {
                                            <span class="old_price">@(item.Qty * item.OldPrice)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                                        }
                                        <span class="price">@(item.Qty * item.Price)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>

                                        @if (item.PriceExpDate != DateTime.MinValue)
                                        {
                                            <div class="price_comment">до&nbsp;@item.PriceExpDate.ToShortDateString()</div>
                                        }
                                    </td>
                                    <td class=""><a href="#" title="переместить в список желаний" class="moveToWishlist" data-id="@item.ItemId"><i class="fa fa-heart-o" aria-hidden="true"></i></a></td>
                                    <td class="row_del"><a href="#" title="удалить из корзины" class="delFromBasket" data-id="@item.ItemId"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                </tr>
                            }
                        </table>

                    </div>
                    <div class="order_summary col">
                        @Html.Partial("OrderSummaryPartial", Model.Summary)
                        @if (Model.PossibleActions == true)
                        {
                            <input type="submit" class="next_step order" value="выбрать подарки и оформить заказ" />
                        }
                        else
                        {
                            <input type="submit" class="next_step order" value="оформить заказ" />
                        }
                    </div>
                </div>

            </div> <!--order step 1-->
                            }
                            else
                            {
                                <div class="cart_empty_block active">
                                    <div class="cl"></div>
                                    <span class="icon">:-(</span>
                                    В вашей корзине пусто.
                                </div>
                            }
    }
</div>

</form>



@{ if (Model != null && Model.BasketLines.Any())
    {
        <div class="prc_block">
            <form action="@Url.Action("SavePromoCode", "Basket")" method="POST" id="SavePromoCode">
                <div class="prc_status">
                    @Html.DisplayFor(m => Model.PromoCodeStatus, new { @id = "promocodestatus", @name = "promocodestatus" })
                </div>

                @if (!Model.IsMaster)
                {
                    <label for="promocode">
                        @Html.TextBoxFor(m => Model.PromoCode, new { @id = "promocode", @name = "promocode", @placeholder = "Промо-код" })
                        <input type="submit" value="применить" />
                    </label>
                }
            </form>
        </div>
    }
}


