﻿@model WebApplication1.Models.ViewModels.OrderViewModel
@using (Html.BeginForm("SelectPayment", "Basket", FormMethod.Post))
{
    @Html.HiddenFor(m => Model.OrderId)
    @Html.AntiForgeryToken()

            <div class="cart_page_block syst">
                <h1>Оформление заказа №@Html.DisplayFor(m => Model.OrderId)</h1>
                <div class="order_steps">
                    <div class="steps_list">
                        <div class="item"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <div class="item"><span class="step_num">2</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <div class="item active"><span class="step_num">3</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                    </div>

                    <div class="step_block step_3">
                        <div class="payment col">
                            <div class="payment_block">
                                <h1>Онлайн-оплата картой</h1>
                                        <div class="comment">
                                            <p>Вы сможете оплатить свой заказ банковскими картами (Visa, Mastercard, Maestro) через защищенный шлюз Сбербанка после подтверждения заказа.</p>
                                            <p><img src="~/pic/visa.png" alt="" /></p>
                                        </div>
                            </div>
                        </div>
                        <div class="order_summary col">
                            @Html.Partial("OrderSummaryPartial", Model.Summary)
                            
                            <input id="сreateButton" type="submit" class="next_step order" value="далее" />
                            <a href="@Url.Action("CreateOrder","Basket")" class="prev_page">Назад</a>
                        </div>
                    </div>
                </div>
            </div>

}

