﻿@model WebApplication1.Models.ViewModels.OrderViewModel
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sberbank</title>
    <link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
    <script type="text/javascript" src="../../js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.timers-1.2.js"></script>
    <script type="text/javascript" src="../../js/jquery.url.js"></script>
    <script type="text/javascript" src="../../js/jquery.payment.js"></script>

    <script type="text/javascript">

   $(document).payment({
            language: "ru",
            messageAjaxError: "Сервис временно недоступен. Попробуйте позднее.",
            messageTimeRemaining: "До окончания сессии осталось #MIN#:#SEC#",
            orderId: "orderNumber",
            paymentAction: "../../rest/processform.do",
            //paymentBindingAction: "../../rest/processBindingForm.do",
            getSessionStatusAction: "../../rest/getSessionStatus.do",
            showErrorAction: "../../rest/showErrors.do",
            updatePage: function(data) {
                $("#orderNumber").text(data['orderNumber']);
                $("#amount").text(data['amount']);

            }
        });



    </script>


    <script type="text/javascript" src="js/test.js"></script>


</head>
<html>
<body>
    <div id="wrap">
        <div class="logo"></div>
        <br />

        <hr align="left" width="600px" />

        <div id="left">

            <table cellpadding="5">
                <tbody>
                    <tr valign="top">
                        <td valign="top">
                            <span class="text">Номер заказа</span>
                        </td>
                        <td valign="top">
                            <div id="orderNumber"></div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td valign="top">
                            <span class="text">Сумма списания в рублях</span>
                        </td>
                        <td valign="top">
                            <div id="amount"></div>
                        </td>
                    </tr>



                    <tr valign="top">
                        <td valign="top" align="left" colspan="2">
                            <div id="description"></div>
                        </td>
                    </tr>



                    <!--<tr valign="top">
                        <td valign="top"  align="left" colspan="2">
                            </div>
                        </td>
                    </tr>-->

                </tbody>

            </table>
            <div id="numberCountdown"></div>
            <div id="errorBlock" style="color:red;"></div>
            <div id="infoBlock"></div>

        </div>

        <hr align="left" width="600px" />



        <div id="cards">
            <span class="text" style="margin-left:7px;">Принимаются к оплате:</span>
            <img src="images/cards.png">
        </div>

        <form action="" id="formBinding" style="display: none;">
            <table cellpadding="10">
                <tbody>
                    <tr valign="top">
                        <td valign="top" align="left">
                            <span>Выберите карту:</span>
                        </td>
                        <td valign="top">
                            <select name="bindingId">
                                <option value="" selected="selected">другая</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="rbs_hidden">
                        <td align="left">
                            <span>Введите CVC2/CVV2 код :</span><br />
                            <span class="text_form">
                                Код CVC2 (CVV2) - это трехзначное число,<br />
                                обозначенное на обороте карты.
                            </span>
                        </td>
                        <td>
                            <input name="cvc" maxlength="4" type="password" autocomplete="off" />
                        </td>
                    </tr>
                    <tr class="rbs_hidden">
                        <td> </td>
                        <td valign="top">
                            <input value="Оплатить" type="button" id="buttonBindingPayment">
                            <div id="indicator" style="display:none;"><img src="../../img/ajax-loader.gif" height="19" width="220" alt="indicator"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>



        <form name="PaymentForm" action="#" method="post" id="formPayment">
            <input type="hidden" id="expiry">
            <input type="hidden" id="mdOrder">
            <input type="hidden" id="location" value="/../">
            <input type="hidden" id="language" value="ru">

            <table cellpadding="5" style="width:300px;">
                <tbody>
                    <tr>
                        <td class="col1">
                            <span class="text">Номер банковской карты</span>
                        </td>

                        <td>
                            <input name="$PAN" id="iPAN" type="hidden" maxlength="19" />
                            <input id="iPAN_sub" type="text" style="float: left" pattern="[0-9]*" autocomplete="off" />
                            <div></div>


                            <div class="login-invalid" id="iPAN-validation"></div>
                        </td>


                    </tr>
                    <tr>
                        <td class="col1">
                            <span class="text">Срок действия карты</span>
                        </td>
                        <td>
                            <select style="float: left" name="MM" id="month">
                                <option value="01" selected> 1 - январь</option>
                                <option value="02"> 2 - февраль</option>
                                <option value="03"> 3 - март</option>
                                <option value="04"> 4 - апрель</option>
                                <option value="05"> 5 - май</option>
                                <option value="06"> 6 - июнь</option>
                                <option value="07"> 7 - июль</option>
                                <option value="08"> 8 - август</option>
                                <option value="09"> 9 - сентябрь</option>
                                <option value="10">10 - октябрь</option>
                                <option value="11">11 - ноябрь</option>
                                <option value="12">12 - декабрь</option>
                            </select>
                            <select style="float: left" name="YYYY" id="year">
                                <option value='2013' selected>2013</option>
                                <option value='2014'>2014</option>
                                <option value='2015'>2015</option>
                                <option value='2016'>2016</option>
                                <option value='2017'>2017</option>
                                <option value='2018'>2018</option>
                                <option value='2019'>2019</option>
                                <option value='2020'>2020</option>
                                <option value='2021'>2021</option>
                                <option value='2022'>2022</option>
                                <option value='2023'>2023</option>
                            </select>
                            <div class="login-invalid" id="year-validation"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1"><span class="text">Владелец карты</span></td>
                        <td>
                            <input style="float: left" name="TEXT" id="iTEXT" maxlength="90" type="text" autocomplete="off" />
                            <div class="login-invalid" id="iTEXT-validation"></div>
                            <div style="clear: both"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1" colspan="2">
                            <span class="text_form">Имя владельца карты должно быть введено в латинской транскрипции именно так, как оно указано на Вашей карте</span>
                        </td>
                    </tr>
                    <tr class="rbs_hidden">
                        <td class="col1">
                            <span class="text">CVC2  /  CVV2 код</span>
                        </td>
                        <td>
                            <input style="float: left" name="$CVC" id="iCVC" maxlength="4" type="password" autocomplete="off" />
                            <div class="login-invalid" id="iCVC-validation"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1"><div class="img_card"></div></td>
                        <td><span class="text_form">Код CVC2 (CVV2) - это трехзначное число, обозначенное на обороте карты.</span></td>
                    </tr>
                    <tr class="rbs_hidden">
                        <td class="col1" colspan="2">
                            <span class="textt">
                                В случае если Ваш банк поддерживает технологию безопасного проведения
                                интернет-платежей Verified by VISA или MasterCard Secure Code,
                                для проведения платежа может потребоваться ввод специального пароля.
                                Способы и возможности получения паролей для совершения интернет-платежей
                                Вы можете уточнить в банке, выпустившем карту.
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1" valign="top">



                            <div class="payment_submit">
                                <input name="SendPayment" type="hidden" id="realPayment">
                                <button name="SendPayment2" type="button" class="button" id="buttonPayment">Оплатить</button>
                            </div>


                            <br />
                            <div id="indicator" style="display:none;"><img src="../../img/ajax-loader.gif" height="19" width="220" alt="indicator"></div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <form id="acs" method="post" action="">
            <input type="hidden" id="MD" name="MD" />
            <input type="hidden" id="PaReq" name="PaReq" />
            <input type="hidden" id="TermUrl" name="TermUrl" />
        </form>


        <hr align="left" width="600px" />



        <div>
            <a href="http://usa.visa.com/personal/secure_with_visa/verified_by_visa.html" target="_blank"><img style="border:none; background:none;" src="images/visa.jpg"></a>
            <a href="http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&amp;content=securecodepopup" target="_blank"><img style="border:none; background:none;" src="images/master.jpg"></a>

        </div>
        <span class="textt">
            Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
            персональной информации обеспечивается ОАО "Сбербанк России".
            Введенная информация не будет предоставлена третьим лицам за исключением случаев,
            предусмотренных законодательством РФ.
            Проведение платежей по банковским картам осуществляяется в строгом соответствии
            с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
        </span>
    </div>

</body>

</html>
