﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel
<form action="@Url.Action("PublicityActions", "Basket")" method="POST" id="PublicityActions">

    <div class="cart_page_block syst">
        <h1>Оформление заказа №@Html.DisplayFor(m => Model.OrderId)</h1>
        <h2>Выбор подарков</h2>
        @{if (Model.Actions != null && Model.Actions.Any())
            {

            <div class="order_steps">
                <div class="steps_list">
                    <div class="item active"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">2</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">3</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                </div>
                <div class="step_block step_1">
                    <div class="order_list col">
                    @for (var i = 0; i < Model.Actions.Count; i++)
                    {
                        if (Model.Actions[i].PublicityItems.Any())
                        {
                            <h3>Акция @Html.DisplayFor(m => Model.Actions[i].JournalName)</h3>
                            <h3>Набрано баллов: @Html.DisplayFor(m => Model.Actions[i].PointsEarned)</h3>
                            <h3>Использовано баллов: @Html.DisplayFor(m => Model.Actions[i].PointsGiven)</h3>
                            {
                                <div class="products">
                                    <div class="products_list">
                                        @foreach (var item in Model.Actions[i].PublicityItems)
                                        {
                                            if (item.AvailQty == 0)
                                            {
                                                continue;
                                            }

                                            <div class="item product_item @{if (item.Hit) { <text>hit</text>} } @{if (item.isAction) { <text>action</text>} } ">
                                                    <div class="photo"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></div>
                                                    <div class="title">@Html.DisplayFor(model => item.ItemName)</div>
                    
                                                    <input type="hidden" class="item_num" value="@item.OrderNumber" />

                                                    <div class="price_block">  

                                                            <span class="price">Цена в баллах: @Html.DisplayFor(modelItem => item.PointsCost)&nbsp;<i class="fa" aria-hidden="true"></i></span>
                            
                                                    </div>
                                                @if (item.PointsCost <= @Model.Actions[i].PointsEarned)
                                                { 
                                                    <div class="row_quantity">
                                                        <div class="quantity_block" data-max-value=@item.AvailQty>
                                                            <span>Выбрано:</span>
                                                            <span class="counter counter-minus dis" data-id="@item.ItemId" data-order-id="@Model.OrderId" data-action-id="@Model.Actions[i].JournalId">
                                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </span>
                                                            <span class="quantity" name="quantity">@Html.DisplayFor(model => item.QtyGiven)</span>
                                                            @if (item.PointsCost <= (@Model.Actions[i].PointsEarned - @Model.Actions[i].PointsGiven))
                                                            { 
                                                                <span class="counter counter-plus" data-id="@item.ItemId" data-order-id="@Model.OrderId" data-action-id="@Model.Actions[i].JournalId">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                </span>
                                                            }
                                                            <div class="cl"></div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <span>
                                                        Недостаточно баллов для этого подарка
                                                    </span>
                                                }
                                            </div>
                                                }
                                      </div>
                                </div>
                        }
                                                        <text><hr /></text>
                    }
                }
                </div>
                <div class="next_step_block col">
                    @Html.Partial("OrderSummaryPartial", Model.Summary)
                    @*<span class="btn_comment">к параметрам доставки</span>*@
                    <!--<a href="" class="next_step order">далее</a>-->
                    <input type="submit" class="next_step order" value="далее" />
                    <a href="@Url.Action("Index", "Basket")" class="prev_page">Назад</a>
                </div>

            </div>
        </div>
        }
    }
     </div>
</form>