﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel
<form action="@Url.Action("PublicityActions", "Basket")" method="POST" id="PublicityActions">

    <div class="cart_page_block syst">
        <h1>Оформление заказа №@Html.DisplayFor(m => Model.OrderId)</h1>
        <h2>Выбор подарков</h2>
        @{if (Model.Actions != null && Model.Actions.Any())
            {

            <div class="order_steps">
                <div class="steps_list">
                    <div class="item active"><span class="step_num">1</span> <span class="step_name">Состав заказа</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">2</span> <span class="step_name">Способ доставки</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item"><span class="step_num">3</span> <span class="step_name">Способ оплаты</span></div><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <div class="item last"><span class="step_num">4</span> <span class="step_name">Подтверждение</span></div>
                </div>
                <div class="step_block step_1">
                    <div class="order_list col">
                        <div class="actions_list">
                            <h2>Акции и подарки</h2>
                            @for (var i = 0; i < Model.Actions.Count; i++)
                            {
                                if (Model.Actions[i].PublicityItems.Any())
                                {
                                    <h3>Акция @Html.DisplayFor(m => Model.Actions[i].JournalName)</h3>
                                    <p>Набрано баллов: <strong>@Html.DisplayFor(m => Model.Actions[i].PointsEarned)</strong></p>
                                    <p>Использовано баллов: <strong>@Html.DisplayFor(m => Model.Actions[i].PointsGiven)</strong></p>
                                    if (Model.Actions[i].PointsGiven > 0)
                                    {
                                        <table>
                                            @foreach (var item in Model.Actions[i].PublicityItems)
                                            {
                                                if (item.AvailQty == 0 || item.QtyGiven == 0)
                                                {
                                                    continue;
                                                }
                                                <tr>
                                                    <td class="photo"><a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></a></td>
                                                    <td class="name">
                                                        <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">@item.ItemName</a>
                                                        <span class="product_code">Код товара: @item.ItemId</span>
                                                    </td>

                                                    <td class="row_quantity">
                                                        <div class="quantity_block" data-max-value=@item.AvailQty>
                                                            <span class="quantity" name="quantity">@Html.DisplayFor(model => item.QtyGiven)</span>
                                                            <div class="cl"></div>
                                                        </div>
                                                    </td>

                                                    <td class="row_ammount">
                                                        <span class="price">0&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                                                    </td>
                                                    <td class="">&nbsp;</td>
                                                    <td class="">&nbsp;</td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("GivePresentsByAction", "Basket", new { orderId = Model.OrderId, actionId = Model.Actions[i].JournalId})" class="present_link">Выбрать подарки</a>
                                    }
                                }
                            }
                        </div>
                        
                        <h2>Ваш заказ</h2>
                        <table>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="photo"><a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })"><img src=@item.MainImagePath[1] alt="@item.ItemName" /></a></td>
                                    <td class="name">
                                        <a href="@Url.Action("Details", "InventTable", new { Id = item.UrlSlug })">@item.ItemName</a>
                                        <span class="product_code">Код товара: @item.ItemId</span>
                                    </td>
                                    <td class="row_quantity">
                                        <div class="quantity_block" data-max-value=@item.AvailQty>
                                            <span class="quantity" name="quantity">@Html.DisplayFor(model => item.Qty)</span>
                                            <div class="cl"></div>
                                        </div>
                                    </td>

                                    <td class="row_ammount">
                                        <span class="price">@(item.Qty * item.Price)&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></span>
                                    </td>
                                    <td class="">&nbsp;</td>
                                    <td class="">&nbsp;</td>
                                </tr>
                            }
                        </table>                
                </div>
                <div class="next_step_block col">
                    @Html.Partial("OrderSummaryPartial", Model.Summary)
                    @*<span class="btn_comment">к параметрам доставки</span>*@
                    <!--<a href="" class="next_step order">далее</a>-->
                    <input type="submit" class="next_step order" value="далее" />
                    <a href="@Url.Action("Index", "Basket")" class="prev_page">Назад</a>
                </div>

            </div>
        </div>
        }
    }
     </div>
</form>