﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.DeliveryTypeRadioItem

@*@Html.LabelFor(m => m.SelectedCityName)
@Html.DropDownListFor(m => m.SelectedCityId, new SelectList(Model.CityItems, "CityId", "CityName"))*@

    @for (int j = 0; j < Model.ModeItems.Count; j++)
    {
        @Html.HiddenFor(m => m.SelectedDeliveryModeId)
        @Html.HiddenFor(m => m.ModeItems[j].DeliveryModeId)


            <label for="DeliveryType_TypeItems_0__ModeItems_0__SelectedSelfDeliveryPointId">Пункт выдачи</label>

            if (Model.ModeItems[j].DeliveryModeId == DeliveryTypeStatic.SelfDeliveryModeId)
                    {
                        @Html.HiddenFor(m => m.ParentOrderId, new { @class = "currOrderId" })
                        @Html.EditorFor(item => @Model.ModeItems[j])

                        <div id="IK_CostMessage">
                            @if (!string.IsNullOrWhiteSpace(Model.ModeItems[j].MessageAboutCostAndPeriod))
                            {
                                @Model.ModeItems[j].MessageAboutCostAndPeriod;
                            }
                        </div>
                    }        
    }
