﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.OrderViewModel
<div class="content_page syst">
    <h2>
        @if(Model.PaymentType.SelectedPaymentTypeId == PaymentTypeStatic.CardPaymentTypeId)
        { 
            <text>
        Заказ @Model.OrderId принят. Вы можете следить за ходом обработки заказа в разделе <a href="@Url.Action("OrderList","Cabinet")">"Мои заказы"</a>.<br />
        Заказ будет передан в сборку после оплаты, вы можете оплатить его прямо сейчас или в течение трёх дней в разделе "Мои заказы"<br /><br />
        Спасибо, что выбрали наш магазин!
            </text>
        }
        else
        {
            <text>
            Заказ @Model.OrderId принят. Вы можете следить за ходом обработки заказа в разделе <a href="@Url.Action("OrderList","Cabinet")">"Мои заказы"</a>.<br />
            </text>

           if (Model.DeliveryType.SelectedDeliveryTypeId == DeliveryTypeStatic.SelfDeliveryTypeId)
           {
                <text>
                Мы оповестим вас, когда заказ прибудет в пункт выдачи.<br /> Внимание: оплатить заказ можно только наличными.<br />
                Спасибо, что выбрали наш магазин!
                </text>
            }
            else
            {
                <text>
                Вам придёт оповещение от транспортной компании, когда заказ прибудет в пункт назначения.<br />
                Спасибо, что выбрали наш магазин!
                </text>
            }

          }
    </h2>
    <br />
    @if (Model.PaymentType.SelectedPaymentTypeId == PaymentTypeStatic.CardPaymentTypeId)
    {
        <a class="pay_order" href="@Url.Action("PayOrder", "Cabinet", new { Id = @Model.OrderId })">Оплатить заказ</a>
    }
</div>