﻿@media (min-width: 1200px) and (max-width: 1281px) {
    .pr_line .title {font-size:14px;}
    .header .menu_block .menu li {margin: 0 0 0 30px;}

    /*cart*/
    .content .wrapper .cart_page_block .order_steps .steps_list .item {width:auto;}
    .content .wrapper .cart_page_block .order_steps .steps_list .fa {margin:0 15px;}
    .content .wrapper .cart_page_block .order_steps .step_block .col.order_list {
        width:58%;
        padding:15px 1%;
        overflow:hidden; 
    }
    .content .wrapper .cart_page_block .order_steps .step_block .col:last-child {width:28%;padding:25px 1%;}
    .content .wrapper .cart_page_block .order_list table td {padding:15px;}
    .content .wrapper .cart_page_block .order_list table td.photo {display:none;}

    /*product_card*/
    .content .wrapper .product {padding-bottom:35px;}
    .content .wrapper .product .row {margin-top:20px;}
    .content .wrapper .product .row .photo_block,
    .content .wrapper .product .row .right_block {min-width:0;}

    /*shops*/
    .content .wrapper .content_page .shops_block aside.shops_list {width:30%;}
    .content .wrapper .content_page .shops_block .shops_maps {width:65%; margin-left:5%;}
    .content .wrapper .content_page .shops_block .shops_maps .shops_map {width:100%; height:500px;}
}


@media (min-width: 992px) and (max-width: 1199px) {
    body > .wrapper {
        min-width: 992px;
        max-width: 1199px;
    }

    .pr_line .title {font-size:14px;}
    .pr_line .title,
    .header_panel .wrapper {
        min-width: 992px;
        max-width: 1199px;
    }

    .header .logo_block .wrapper {
        max-width: 1159px;
        min-width: 952px;
    }

    .header .logo_block .wrapper .right_block .myOrders,
    .header .logo_block .wrapper .right_block .wishlist,
    .header .logo_block .wrapper .right_block .cart {
        display: inline-block;
        height: 27px;
    }

    .header .menu_block .menu {
        max-width: 1159px;
        min-width: 952px;
        padding: 0 20px;
    }

    .header .menu_block .menu li {margin: 0 0 0 10px;}
    .header .menu_block .menu li a {font-size: 14px;}

    .content .wrapper {
        min-width: 992px;
        max-width: 1199px;
    }
    .content .wrapper .special_block {
        min-width: 952px;
        max-width: 1159px;
        padding:0 20px;
        margin:20px auto;
    }
    .content .wrapper .products {padding:30px 20px 0 20px;}

    .content .wrapper .products .products_list .item {
        width:30%;
        margin:15px 1%;
        padding:0.5%;
    }
    .content .wrapper .products .products_list .item .adds {
        width: 90%;
        height: 30px;
        bottom: 15px;
        left: 5%;
        display:block;
    }
    .content .wrapper .brands_block {padding:30px 20px 0 20px;}

    .content .wrapper .products.all_products {padding:35px 20px 60px 20px;}
    .content .wrapper .products.with_filter .filter_block {width:30%; padding-right:0;margin-left:0;}
    .content .wrapper .products.with_filter .products_block {width:70%; overflow:hidden;}
    .content .wrapper .products.with_filter .products_list .item .photo {width:80%; height:220px; line-height:220px;}
    .content .wrapper .products.with_filter .products_list .item .photo img {width:100%;}
    .content .wrapper .products.with_filter .products_list .item a.add2basket i {display:none;}

    /*product_card*/
    .content .wrapper .product {padding-bottom:35px;}
    .content .wrapper .product .row {margin-top:20px;}
    .content .wrapper .product .row .photo_block,
    .content .wrapper .product .row .right_block{min-width:0;}
    
    .content .wrapper .product .row .right_block .buy_block .quantity_block,
    .content .wrapper .product .row .right_block .buy_block .add2basket2 {margin-left:20px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .price {font-size:32px;}

    /*shops*/
    .content .wrapper .content_page .shops_block aside.shops_list {width:30%;}
    .content .wrapper .content_page .shops_block .shops_maps {width:65%; margin-left:5%;}
    .content .wrapper .content_page .shops_block .shops_maps .shops_map {width:100%; height:500px;}

    /*cart*/
    .content .wrapper .cart_page_block .order_steps .steps_list .item {width:auto;}
    .content .wrapper .cart_page_block .order_steps .steps_list .fa {margin:0 15px;}
    .content .wrapper .cart_page_block .order_steps .step_block .col.order_list {
        width:58%;
        padding:15px 1%;
        overflow:hidden; 
    }
    .content .wrapper .cart_page_block .order_steps .step_block .col:last-child {width:28%;padding:25px 1%;}
    .content .wrapper .cart_page_block .order_list table td {padding:15px;}
    .content .wrapper .cart_page_block .order_list table td.photo {display:none;}


    .footer, .footer .wrapper {min-width: 992px; max-width: 1199px;}
}



@media (min-width: 768px) and (max-width: 991px) {
    body > .wrapper {
        min-width: 768px;
        max-width: 991px;
    }

    .pr_line .title {font-size:14px;}
    .pr_line .title,
    .header_panel .wrapper {
        min-width: 768px;
        max-width: 991px;
    }

    .header .logo_block .wrapper {
        max-width: 951px;
        min-width: 728px;
    }

    .header .logo_block .wrapper .right_block .myOrders,
    .header .logo_block .wrapper .right_block .wishlist,
    .header .logo_block .wrapper .right_block .cart {
        display: inline-block;
        height: 25px;
        font-size:14px;
    }

    .header .menu_block .menu {
        max-width: 951px;
        min-width: 728px;
        padding: 0 20px;
    }

    .header .menu_block .menu li {margin: 0 0 0 2px;}
    .header .menu_block .menu li a {font-size: 12px;}
    .header .menu_block .menu .search_block .search_string {width:102px;}

    .content .wrapper {
        min-width: 768px;
        max-width: 991px;
    }
    .content .wrapper .special_block {
        max-width: 951px;
        min-width: 728px;
        padding:0 20px;
        margin:20px auto;
    }
    .content .wrapper .products {padding:30px 20px 0 20px;}

    .content .wrapper .products .products_list .item {
        width:30%;
        margin:15px 1%;
        padding:0.5%;
    }
    .content .wrapper .products .products_list .item .adds {
        width: 90%;
        height: 30px;
        bottom: 15px;
        left: 5%;
        display:block;
    }
    .content .wrapper .brands_block {padding:30px 20px 0 20px;}

    .content .wrapper .products.all_products {padding:35px 20px 60px 20px;}
    .content .wrapper .products.with_filter .filter_block {width:30%; padding-right:0;margin-left:0;}
    .content .wrapper .products.all_products .filter_block .filter_list > .item {width:auto;}
    .content .wrapper .products.all_products .filter_block .mgz_link,
    .content .wrapper .products.all_products .filter_block .mgz_link a{width:90%; height:auto;}
    .content .wrapper .products.all_products .filter_block .mgz_link a img {width:100%;}

    .content .wrapper .products.all_products .filter_block .btns .clear_filt {display:block; margin:5px 0 0 0;}

    .content .wrapper .products.with_filter .products_block {width:70%; overflow:hidden;}

    .content .wrapper .products.with_filter .products_block .products_list .item {
        width:47%;
        margin:15px 1%;
        padding:0.5%;
    }
    .content .wrapper .products.with_filter .products_list .item .photo {width:80%; height:220px; line-height:220px;}
    .content .wrapper .products.with_filter .products_list .item .photo img {width:100%;}
    .content .wrapper .products.with_filter .products_list .item a.add2basket i {display:none;}

    .content .wrapper .products .products_list .item .photo {width:80%; height:200px; line-height:200px;}
    .content .wrapper .products .products_list .item .photo img {width:100%;}

    /*product_card*/
    .content .wrapper .product {padding-bottom:35px;}
    .content .wrapper .product .row {margin-top:20px;}
    .content .wrapper .product .row .photo_block,
    .content .wrapper .product .row .right_block{min-width:0;}
    
    .content .wrapper .product .row .right_block .buy_block {font-size:14px;}
    .content .wrapper .product .row .right_block .buy_block .quantity_block,
    .content .wrapper .product .row .right_block .buy_block .add2basket2 {margin-left:10px;}
    .content .wrapper .product .row .right_block .buy_block .price_block {height:30px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .old_price,
    .content .wrapper .product .row .right_block .buy_block .price_block .price {font-size:20px; line-height: 30px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .fa {font-size:14px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .price_comment {font-size:12px;}
    .content .wrapper .product .row .right_block .buy_block .quantity_block span {width:30px; height:30px; line-height:30px;}
    .content .wrapper .product .row .right_block .buy_block .add2basket2 {height:30px; line-height:30px;}
    .content .wrapper .product .row .right_block .descr_block p {font-size: 14px; line-height:18px;}

    /*shops*/
    .content .wrapper .content_page .shops_block aside.shops_list {width:30%;}
    .content .wrapper .content_page .shops_block .shops_maps {width:65%; margin-left:5%;}
    .content .wrapper .content_page .shops_block .shops_maps .shops_map {width:100%; height:500px;}

    /*cart*/
    .content .wrapper .cart_page_block .order_steps .steps_list .item {width:auto; height:30px;}
    .content .wrapper .cart_page_block .order_steps .steps_list .fa {margin:0 10px;}

    .content .wrapper .cart_page_block .order_steps .step_block .col {margin-top:30px;}

    .content .wrapper .cart_page_block .order_steps .step_block .col .line {font-size:14px;}

    .content .wrapper .cart_page_block .order_steps .step_block .col .order {
        line-height: 30px;    
        height: 30px;
    }
    .content .wrapper .cart_page_block .order_steps .prev_page {
        line-height: 30px;
        height: 30px;
    }
    .content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block .btn_comment {
        height: 30px;
        line-height: 30px;
    }
    .content .wrapper .cart_page_block .order_steps .step_block .col p img {width:90%; height:auto;}



    .content .wrapper .cart_page_block .order_steps .step_block .col.order_list {
        width:65%;
        padding:15px 1%;
        overflow:hidden; 
    }

    .content .wrapper .cart_page_block .order_steps .step_block .col .pickup_chel label {margin-top:5px;}
    .pickup_line .jq-selectbox__select, .pickup_line .jq-selectbox.focused .jq-selectbox__select {/*width:250px;*/}
    .pickup_line .jq-selectbox__select .jq-selectbox__select-text {/*max-width:250px;*/}
    .pickup_line .jq-selectbox__dropdown {
        /*width: 550px !important;*/
    }


    .content .wrapper .cart_page_block .order_steps .steps_list .item .step_num {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    .content .wrapper .cart_page_block .order_steps .steps_list .item .step_name {
        height: 30px;
        line-height: 30px;
        margin: 0 0 0 10px;
        font-size: 14px;
    }
    .content .wrapper .cart_page_block .order_steps .steps_list .fa {
        line-height: 30px;
    }


    .content .wrapper .cart_page_block .order_steps .step_block .col:last-child {width:28%;padding:25px 1%;}
    .content .wrapper .cart_page_block .order_list table td {padding:15px 5px;}
    .content .wrapper .cart_page_block .order_list table td.photo {display:none;}


    .content .wrapper .orders_list .orders_item,
    .content .wrapper .orders_list .orders_item table {
        width: 100%;
    }

    .content .wrapper .orders_list .orders_item table td.col3 {width:15%;}
    .content .wrapper .orders_list .orders_item table td.col4 {width:25%;}

    .footer, .footer .wrapper {min-width: 768px; max-width: 991px;}
}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body > .wrapper {
        min-width: 100%;
        max-width: 767px;
        width:100%;
    }
    .pr_line {margin:0; height:auto; padding:5px 0;}
    .pr_line .title {width:90%; max-width:90%; min-width:90%; margin:0 5%;font-size:12px; line-height:16px; }

    .header_panel .wrapper {
        min-width: 100%;
        max-width: 767px;
        width: 100%;
    }

    .header_panel .account_block {margin-left:10px;}

    .header, .header .logo_block {height:auto;}
    .header .logo_block .wrapper {
        max-width: 90%;
        min-width: 90%;
        width:90%;
        margin:10px auto;
        padding:0;
        height:auto;
    }

    .header .logo_block .wrapper .left_block {width:50%; float:right; text-align:right;}
    .header .logo_block .wrapper .logo {width:50%; float:right; padding:5px 0 0 0;}
    .header .logo_block .wrapper .logo:after, .header .logo_block .wrapper .right_block {content:''; clear:both; display:table;}
    .header .logo_block .wrapper .right_block {float:none; width:100%; clear:both; padding:20px 0 0 0; text-align:left;}

    .header .logo_block .wrapper .right_block .myOrders,
    .header .logo_block .wrapper .right_block .wishlist,
    .header .logo_block .wrapper .right_block .cart {
        float:left;
        display: block;
        height: 25px;
        font-size:14px;
        margin-left:0;
        text-align:left;
        width:30%;
    }

    .header .logo_block .wrapper .right_block .cart, .header .logo_block .wrapper .right_block .wishlist {width:35%;}

    .header .menu_block {height:60px; margin-top:10px;}
    .header .menu_block .menu {
        max-width: 90%;
        min-width: 90%;
        padding: 0;
        height:auto;
    }

    .header .menu_block .menu ul {display:none;}
    .header .menu_block .menu .menu_link {
        display:inline-block; 
        height:30px;
        line-height:30px;
        text-decoration: none;
        font-family: 'CenturyGothic-Bold';
        font-size: 16px;
        text-transform: uppercase;
        margin-top:10px;
        padding: 5px 10px;
        border-radius: 5px;
        background: #e00a39;
        background: linear-gradient(to top, #e00a39, #ec2c56);
        color: #ffffff;
        transition: all 0.3s ease 0s;
    }
    .header .menu_block .menu .menu_link:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);}

    .header .menu_block .menu .search_block {right:0;}
    .header .menu_block .menu .search_block .search_string {width:120px;}


    .content .wrapper {
        min-width: 100%;
        max-width: 767px;
        width:100%;
        /*overflow:hidden;*/
    }
    .content .wrapper .special_block {
        max-width: 90%;
        min-width: 90%;
        padding:0;
        margin:20px auto;
    }
    .content .wrapper .products {padding:30px 20px 0 20px;}

    .content .wrapper .products .products_list .item {
        width:47%;
        margin:15px 1%;
        padding:0.5%;
    }
     .content .wrapper .products .products_list .item .adds {
        width: 90%;
        height: 60px;
        bottom: 15px;
        left: 5%;
        display:block;
    }
    .content .wrapper .products .products_list .item .photo {width:80%; height:200px; line-height:200px;}
    .content .wrapper .products .products_list .item .photo img {width:70%;}

    .content .wrapper .products .products_list .item .adds .add2wishlist {float:none; text-align:center; margin-bottom:10px; height:20px; line-height:20px;}
    .content .wrapper .products .products_list .item .adds .add2basket {float:none;}

    /*product_card*/
    .content .wrapper .product {padding-bottom:15px;}
    .content .wrapper .product h1.product_title {
        font-family: "CenturyGothic";
        font-size: 22px;
        line-height: 26px;
    }
    .content .wrapper .product .row {margin:15px 0; padding-bottom:15px;}
    .content .wrapper .product .row .photo_block {
        min-width:50%;
        width:50%;
        float:none;
        margin:0 auto;
    }
    
    .content .wrapper .product .row .right_block {
        min-width:100%;
        width:100%;
        float:none;
        margin:0 auto;
    }
    .content .wrapper .product .row .right_block .descr_block p {font-size: 14px; line-height: 18px;}
    
    .content .wrapper .product .row .right_block .buy_block {font-size:14px;}
    .content .wrapper .product .row .right_block .buy_block .quantity_block,
    .content .wrapper .product .row .right_block .buy_block .add2basket2 {margin-left:10px;}
    .content .wrapper .product .row .right_block .buy_block .price_block {height:30px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .old_price,
    .content .wrapper .product .row .right_block .buy_block .price_block .price {font-size:20px; line-height: 30px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .fa {font-size:14px;}
    .content .wrapper .product .row .right_block .buy_block .price_block .price_comment {font-size:12px;}
    .content .wrapper .product .row .right_block .buy_block .quantity_block span {width:30px; height:30px; line-height:30px;}
    .content .wrapper .product .row .right_block .buy_block .add2basket2 {height:30px; line-height:30px;}
    .content .wrapper .product .row .right_block .descr_block p {font-size: 14px; line-height:18px;}


    .content_page img {max-width:90%;}
    .content .wrapper .content_page.shops_page .shops_block aside.shops_list {
        width: 100%;
        float: none;
        margin-left:0;
    }
    .content .wrapper .content_page .shops_block .shops_maps,
    .content .wrapper .content_page .shops_block.active .shops_maps{display:none;}

    .content .wrapper .content_page.shops_page .shops_block aside.shops_list .item a {cursor:default; text-decoration:none;}


    /*cabinet - orders list*/
    .content .wrapper .orders_list .orders_item,
    .content .wrapper .orders_list .orders_item table {width: 100%;}
    .content .wrapper .orders_list .orders_item table td.col2,
    .content .wrapper .orders_list .orders_item table td.col4 {display:none;}

    .content .wrapper .orders_list .orders_item table td .order_id {font-size:16px;}



    /*cart*/
    .content .wrapper .cart_page_block {padding-bottom:15px;}
    .content .wrapper .cart_page_block .order_steps .steps_list .item,
    .content .wrapper .cart_page_block .order_steps .steps_list i.fa{display:none;}
    .content .wrapper .cart_page_block .order_steps .steps_list .item.active {display:block;} 

    .content .wrapper .cart_page_block .order_steps .step_block .col.order_list {padding: 15px 1%;}
    
    .content .wrapper .cart_page_block .order_steps .step_block .col {float:none; width:98%; margin-top:30px; padding:0;}
    .content .wrapper .cart_page_block .order_steps .step_block .col.order_list {padding: 15px 1%;}

    .content .wrapper .cart_page_block .order_list table td {padding: 15px 5px;}

    .content .wrapper .cart_page_block .order_steps .step_block .col td.photo {display:none;}

    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block {width:90px;}
    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span {
        width:28px;
        height:28px;
        line-height:28px;
    }

    .content .wrapper .cart_page_block .order_steps .step_block .col:last-child {
        float: none;
        width: 98%;
        margin-top: 30px;
        padding: 15px 1%;
    }

    .content .wrapper .cart_page_block .order_steps .step_block .col .order {float:none;}
    .content .wrapper .cart_page_block h1 {font-size:22px; line-height:26px;}

    .content .wrapper .cart_page_block .order_steps .step_block .col.delivery {padding:15px 5px;}

    .pickup_line .jq-selectbox__select, .pickup_line .jq-selectbox.focused .jq-selectbox__select {/*width:250px;*/}
    .pickup_line .jq-selectbox__dropdown {
        width: 257px !important;
    }
    .pickup_line .jq-selectbox__select-text {/*width:100% !important;*/}

    .step_2 .payment_block {padding:15px 5px;}
    /*.step_3 .payment_block {padding:15px 5px;}*/
    /*wishlist*/
    /*.content .wrapper .cart_page_block .order_steps .step_block .payment, 
    .content .wrapper .cart_page_block .order_steps .step_block .delivery, 
    .content .wrapper .cart_page_block .order_steps .step_block .order_list,*/
    .content .wrapper .wishlist_block .wish_list {
        padding: 0;
    }
    .content .wrapper .wishlist_block .wish_list td.photo {display:none;}

    .footer, .footer .wrapper {
        width:100%;
        max-width:767px;
        min-width:100%;
    }
    .footer .wrapper .col {
        float:none;
        width:80%;
        margin:10px auto;
        text-align:center;
    }
    .footer .wrapper .col:first-child {margin-left:auto;}
    .footer .wrapper .col:last-child {float:none; text-align:center;}
    .footer .wrapper .col .title {background-position:50% 100%;}


    #m_menu.popup {max-width:100%; margin:0 auto;}
    #m_menu.popup .menu ul, #m_menu.popup .menu li {display:block; margin:0; padding:0; list-style-type:none;}
    #m_menu.popup .menu li {text-align:center; font-size:20px; line-height:26px; margin:15px 0 0 0;}
    #m_menu.popup .menu li:first-child {margin-top:0;}
    #m_menu.popup .menu li a {color:#212121;}
    #m_menu.popup .menu li a:hover, #m_menu.popup .menu li a:focus, #m_menu.popup .menu li a:active {color:#e00a39;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

    .header_panel {height:auto;}

    .header_panel .menu li:first-child {margin-left:0;}


    .header .logo_block .wrapper .left_block .phone {font-size:14px;}

    .content .wrapper h1 {
        font-size: 22px;
        line-height: 26px;
    }

    .content .wrapper .products.all_products .filter_block {float:none; clear:both;}

    .content .wrapper .products.with_filter .products_block {float:none; width:100%;}


    .filter_block .mgz_link {display:none;}

    .content .wrapper .product .row .right_block .buy_block .price_block {min-height:30px; height:auto;}

    .content .wrapper .products .products_list .item {
        width:96%;
        height:auto;
        margin:15px 2%;
    }

    .content .wrapper .products .products_list .item > a {display:block;}

    .content .wrapper .products .products_list .item .photo {
        height:auto;
    }
    .content .wrapper .products .products_list .item .adds {
        width:100%;
        position:relative;
        margin:10px 0;
        left:auto;
        bottom:auto;
    }


    .content .wrapper .cart_page_block .order_steps .step_block .col {
        padding:0 1%;
    }



    .content .wrapper .cart_page_block .order_list table td.name {font-size:12px;}
    .content .wrapper .cart_page_block .order_list table td:nth-child(5) {display:none;}

    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block {width:30px;}
    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.quantity {border:none;}

    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter-minus,
    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter-plus {border-radius:5px;}

    .content .wrapper .cart_page_block .order_list table .row_ammount .price_comment {display:none;}

    .content .wrapper .cart_page_block .order_list table .row_ammount span {display:block;}

    .content .wrapper .prc_block input[type="text"] {width:100px;}

    .content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block .btn_comment {display:none;}

    .pickup_line .jq-selectbox__select, .pickup_line .jq-selectbox.focused .jq-selectbox__select {max-width:200px;}
    .pickup_line .jq-selectbox__dropdown {width:257px !important;}

    .CDEK_DeliveryModes,
    .cdek_pickup .cdek_pickup_addr,
    #IK_CostMessage {
        margin-left: 0;
    }

    .content .wrapper .cart_page_block p img {width:90%; height:auto;}

    .content .wrapper .cart_page_block .order_steps .step_block .col.delivery {padding:15px 5px;}


    .content .wrapper .products .products_list .more_block {padding-bottom:30px;}

    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block {height:90px;}
    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span{
        position:absolute;
        top:0;
        left:0;
        float:none;
        display:block;
    }
    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.quantity {top:30px;}
    .content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter-minus {top:60px;}



    .footer, .footer .wrapper {
        width: 100%;
    }
}

@media (max-width: 479px) {
    .filter_block .count_block.active {left:75px !important;}

    #SelfDelivery label {display:block;}
}

@media (max-width: 375px) {
    .syst .cab_menu a:last-child {margin:15px 0 0 0;}
}
@media (max-width:360px) {
    .content .wrapper .cdek_calc {margin:15px 0 0 0;}
}

@media (max-width:799px) {
    .content .wrapper .orders_list .orders_item .item_actions .actions_list a {
        margin-top:10px;
    }
}
