* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px 'CenturyGothic', Arial, sans-serif;
	height: 100%;
}
body > .wrapper {
	min-width: 1200px;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.cl {
    display: table;
    content:'';
    clear:both;
}

a, input {outline:none; border:0;}
img {
    outline:none;
    padding:0;
    margin:0;
    border:0;
}

/*promo*/
.pr_line {
    height: 35px;
    line-height: 35px;
    position: relative;
    width: 100%;
    background: #e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    transition: all 0.3s ease 0s;
}
.pr_line .title {
    min-width: 1200px;
    max-width: 1605px;
    margin: 0 auto;
    text-align:center;
    font-size:18px;
    font-family: 'CenturyGothic-Bold';
    color:#ffffff;
}
/*.pr_line .title i {
    display:inline-block;
    float:right;
}*/

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 220px;
}
.header_panel {
    height:39px;
    background:#343434;
    overflow:hidden;
}
.header_panel .wrapper {
    min-width:1200px;
    max-width:1605px;
    margin:0 auto;
}
.header_panel .wrapper:after {content:'';display:table;clear:both;} 
.header_panel a {
    color:#ffffff;
    font-size:13px;
    line-height:39px;
}
.header_panel a:hover {color:#e00a39; transition: all 0.3s ease 0s;}
.header_panel a .fa {
    display:block;
    line-height:39px;
    font-size:18px;
    float:left;
    margin-right:5px;
}
.header_panel:after {content:'';display:table;clear:both;}
.header_panel .account_block {float:left; margin:0 0 0 20px;}
.header_panel .account_block a {
    display:block;
    float:left;
    margin:0 0 0 20px;
    height:39px;
    line-height:39px;
}
.header_panel .account_block a.hidden {display:none;}
.header_panel .account_block a:first-child {margin-left:0;}
.header_panel .menu {float:right; margin:0 20px 0 0;}
.header_panel .menu ul,
.header_panel .menu li {
    list-style-type: none;
    display:block;
    margin:0;
    padding:0;
}
.header_panel .menu li {
    float:left;
    margin:0 0 0 20px;
}
.header_panel .menu li:last-child a {
    text-decoration:none;
    border-bottom:1px dashed;
}


.header .logo_block .wrapper {
    min-width:1160px;
    max-width:1565px;
    margin:0 auto;
    height:41px;
    padding:41px 20px;
}
.header .logo_block {
    height:120px;
    overflow:hidden;
}
.header .logo_block .wrapper:after {content:'';display:table;clear:both;}
.header .logo_block .wrapper .left_block,
.header .logo_block .wrapper .logo,
.header .logo_block .wrapper .right_block {
    float:left;
    width:33%;
}
.header .logo_block .wrapper .left_block {padding:2px 0 0 0;}
.header .logo_block .wrapper .left_block .phone {
    font-size:18px;
    font-family: 'CenturyGothic-Bold';
    color:#e00a39;
}
.header .logo_block .wrapper .left_block .call_order {
    display:inline-block;
    color:#bdbdbd;
    text-decoration: none;
    border-bottom:1px #bdbdbd dashed;
}
.header .logo_block .wrapper .left_block .call_order:hover{
    color:#e00a39;
    border-bottom:1px #e00a39 dashed;
    transition: all 0.3s ease 0s;
}

.header .logo_block .wrapper .right_block {
    float:right;
    text-align:right;
    width:33%;
}
.header .logo_block .wrapper .right_block:after {content:'';display:table;clear:both;}
.header .logo_block .wrapper .right_block .myOrders,
.header .logo_block .wrapper .right_block .wishlist,
.header .logo_block .wrapper .right_block .cart {
    display:block;
    float:right;
    height:37px;
    /*line-height:37px;*/
    text-decoration:none;
    color:#212121;
    font-size:16px;
    font-family: 'CenturyGothic-Bold';
    margin:0 0 0 40px;
}
.header .logo_block .wrapper .right_block a .fa {
    display: block;
    float: left;
    font-size:18px;
    /*line-height: 37px;*/
    margin-right: 5px;
    color:#e00a39;
}
.header .logo_block .wrapper .right_block a:hover {color:#e00a39; transition: all 0.3s ease 0s;}
.header .logo_block .wrapper .right_block span {
    font-size:14px;
    font-family: 'CenturyGothic';
    padding:0 0 0 5px;
    color:#bdbdbd;
}
.header .logo_block .wrapper .right_block .cart span {
    color:#e00a39;
    font-family: 'CenturyGothic-Bold';
}
.header .logo_block .wrapper .logo img {width:100%; height:auto; display:block;}

.header .menu_block {
    height:58px;
    border-bottom: 2px #212121 solid;
}
.header .menu_block .menu_link {display:none;}
.header .menu_block .menu {
    max-width:1565px;
    min-width:1160px;
    height:58px;
    margin:0 auto;
    padding:0 20px;
    position:relative;
}
.header .menu_block .menu ul,
.header .menu_block .menu li {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
}
.header .menu_block .menu li {
    float: left;
    line-height: 60px;
    /*margin:0 0 0 60px;*/
    margin: 0 0 0 40px;
}
.header .menu_block .menu li:first-child {margin-left:0;}
.header .menu_block .menu li a {
    text-decoration: none;
    font-family: 'CenturyGothic-Bold';
    font-size:16px;
    text-transform: uppercase;
    color:#212121;
    padding:5px 10px;
    border-radius:5px;
}
.header .menu_block .menu li a:hover {color:#e00a39;}
.header .menu_block .menu li.cat a {
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
}
.header .menu_block .menu li.cat a:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);}

.header .menu_block .menu .search_block {
    /*float:right;*/
    height:60px;
    position:absolute;
    top:0px;
    right:20px;
}
.header .menu_block .menu .search_block .search_string {
    display:block;   
    height:38px;
    margin:10px 0 0 0;
    border:1px #bdbdbd solid;
    color:#212121;
    font-size:16px;
    padding:0 38px 0 10px;
    border-radius:5px;
    line-height:38px;
    font-family: "CenturyGothic";
    width:202px;
}
.header .menu_block .menu .search_block .search_string.active {display:block;}
.header .menu_block .menu .search_block .search_submit_btn {
    display:block;
    position:absolute;
    top:10px;
    right:0px;
    width:38px;
    height:38px;
    color:#212121;
    text-decoration: none;
    z-index:2;
    cursor:pointer;
    background:none;
}
.header .menu_block .menu .search_block .fa {
    position:absolute;
    right:13px;
    top:23px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {padding: 0;}
.content .wrapper {
    max-width:1605px;
    min-width:1200px;
    margin:0 auto;
    color:#343434;
}
.content .wrapper a {color:#000000;}
.content .wrapper a:hover {color:#e00a39;}
.content .wrapper p {
    padding:10px 0;
    font-size:16px;
    line-height:24px;
    text-align: justify;
}
.content .wrapper strong,
.content .wrapper b {
    font-family: "CenturyGothic-Bold";
    font-weight:normal;
    font-size:16px;
    line-height:24px;
    color:#343434;
}
.content .wrapper h2 {
    font-family: "CenturyGothic-Bold";
    font-weight:normal;
    color:#343434;
    padding:20px 0 10px 0;
    font-size:24px;
    line-height:32px;
}
.content .wrapper h3 {
    font-size:20px;
    line-height:24px;
    font-family: "CenturyGothic-Bold";
    font-weight:normal;
    color:#343434;
    padding:20px 0 10px 0;
}
.content .wrapper blockquote {
    display:block;
    margin:35px;
    padding:15px;
    background:#bdbdbd;
    font-family: "CenturyGothic-Italic";
    line-height:24px;
    font-size:16px;
}
.content .wrapper table {
    margin:35px 0;
    padding:0;
    border-spacing:0;
    border-collapse: collapse;
    width:100%;

}
.content .wrapper table td,
.content .wrapper table th {
    margin:0;
    padding:10px;
    border:1px #bdbdbd solid;
    border-collapse: collapse;
}


/*orders list*/
.content .wrapper .orders_list {margin:15px 0 0 0;}
.content .wrapper .orders_list .orders_item {
    padding:5px 0 30px 0;
    width:900px;
    border-bottom:1px #dbdada solid;
}
.content .wrapper .orders_list .orders_item:last-child {border-bottom:none;}

.content .wrapper .orders_list .orders_item table {
    width:900px;
    margin:5px 0 5px 0;
}

.content .wrapper .orders_list .orders_item .item_details {display:none;}
.content .wrapper .orders_list .orders_item .item_details.active {display:block;}
.content .wrapper .orders_list .orders_item table td {border:none; vertical-align:top; text-align:left;}

.content .wrapper .orders_list .orders_item table td.col1 {width:25%;}
.content .wrapper .orders_list .orders_item table td.col2 {width:15%;}
.content .wrapper .orders_list .orders_item table td.col3 {width:25%;}
.content .wrapper .orders_list .orders_item table td.col4 {width:15%; text-align:right;}
.content .wrapper .orders_list .orders_item table td.col5 {width:20%; text-align:right;}

.content .wrapper .orders_list .orders_item table td .order_id {
    font-size: 18px;
    line-height: 22px;
    font-family: "CenturyGothic-Bold";
    font-weight:normal;
    color:#e00a39;
}
.content .wrapper .orders_list .orders_item table td .order_date {
    font-size: 12px;
    color: #bdbdbd;
}
.content .wrapper .orders_list .orders_item table td .toggle_details {
    font-family: "CenturyGothic-Bold";
    text-decoration:none;
    border-bottom: 1px #000000 dashed;
}
.content .wrapper .orders_list .orders_item table td .toggle_details.active {
    color:#e00a39;
    border-bottom:1px #e00a39 dashed;
}
.content .wrapper .orders_list .orders_item table td .toggle_details:hover {
    border-bottom:1px #e00a39 dashed;
}
.content .wrapper .orders_list .orders_item table td .item_ammount {
    font-family: "CenturyGothic-Bold";
    font-size: 18px;
    line-height: 22px;
}

.content .wrapper .orders_list .orders_item table td .fa {
    font-size: 14px;
}

.content .wrapper .orders_list .orders_item .item_actions .actions_list {text-align:right;}
.content .wrapper .orders_list .orders_item .item_actions .actions_list a {
    display:inline-block;
    margin:0 0 0 15px;
}

.content .wrapper .orders_list .orders_item .item_actions {padding:0 10px;}
.content .wrapper .orders_list .orders_item .item_actions:after {content:'';display:table;clear:both;}

.content .wrapper .orders_list .orders_item .delivery_details {padding:10px;}
.content .wrapper .orders_list .orders_item .delivery_details:after {content:'';display:table;clear:both;}

.content .wrapper .orders_list .orders_item .item_actions .pay_status_list {float:left;}
.content .wrapper .orders_list .orders_item .item_actions .actions_list {float:right;}

.content .wrapper .orders_list .orders_item .item_details table {width:80%; margin:0 0 15px 10%;}
.content .wrapper .orders_list .orders_item .item_details table td {padding:5px; text-align:left;}
.content .wrapper .orders_list .orders_item .item_details table tr td.qty,
.content .wrapper .orders_list .orders_item .item_details table tr td.item_price {text-align:right;}
.content .wrapper .orders_list .orders_item .item_details table tr td.item_id {color:#bdbdbd;}

.content .wrapper .orders_list .orders_item .item_details table thead {display:none;}
.content .wrapper .orders_list .orders_item .item_details .fa {font-size:12px;}


.content .wrapper .content_page ul:not(.ya-share2__list),
.content .wrapper .content_page ul:not(.ya-share2__list) li:not(.ya-share2__item),
.content .wrapper .tabs__content ul,
.content .wrapper .tabs__content ul li {
    display:block;
    /*margin:0;
    padding:0;*/
    list-style-type:none;
}
.content .wrapper .content_page ul:not(.ya-share2__list),
.content .wrapper .tabs__content ul {
    margin:5px 0 10px 0;
}
.content .wrapper .content_page ul li:not(.ya-share2__item),
.content .wrapper .tabs__content ul li {
    margin:15px 0 0 0;
    position:relative;
    padding:0 0 0 15px;
}
.content .wrapper .content_page ul li:not(.ya-share2__item):before,
.content .wrapper .tabs__content ul li:before {
    position:absolute;
    display:block;
    width:7px;
    height:7px;
    border-radius:7px;
    background: #e00a39; /* Цвет маркера */
    content: ''; /* Сам маркер */
    top:7px;
    left:0;
}

.content .wrapper .p404 {
    padding:60px 0;
    text-align:center;
}
.content .wrapper .p404 h2 {
    margin:30px 0 0 0;
    font-size:32px;
    font-family: "CenturyGothic-Bold";
}

.content .wrapper .breadcrumbs {
    padding:30px 0;
    text-align:center;
}
/*.main .content .wrapper .breadcrumbs {display:none;}*/

.content .wrapper .breadcrumbs ul,
.content .wrapper .breadcrumbs li {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
}
.content .wrapper .breadcrumbs li {
    display:inline-block;
}
.content .wrapper .breadcrumbs .fa {
    display:inline-block;
    margin:0 10px;
}

.content .wrapper .breadcrumbs li:last-child:after {
    content:'';
    margin:0;
}
.content .wrapper .breadcrumbs li a,
.content .wrapper .breadcrumbs li span {
    color:#343434;
    font-size:12px;
}
.content .wrapper .breadcrumbs li a:hover {
    color:#e00a39;
    transition: all 0.3s ease 0s;
}

.content .wrapper .content_page.full_w {
padding-left:0;
padding-right:0;
}

/*shops on yandex maps*/
.content .wrapper .content_page .shops_block {
    width:100%;
    margin:50px 0 25px 0;
}
.content .wrapper .content_page .shops_block:after {
    content: '';
    display: table;
    clear: both;
}

.content .wrapper .content_page .shops_block .title a {
    display: inline-block;
    color: #343434;
    font-family: "CenturyGothic-Bold";
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    text-decoration: none;
    border-bottom: 1px dashed #343434;
}
.content .wrapper .content_page .shops_block.active .title a,
.content .wrapper .content_page .shops_block .title a:hover {
    color: #e00a39;
}
.content .wrapper .content_page .shops_block aside.shops_list {
    display:none;
    float: left;
    width:250px;
    margin:25px 0 0 0;
}
.content .wrapper .content_page .shops_block aside.shops_list .item {
    margin:5px 0 0 0;
    padding:0 0 0 15px;
    position:relative;
}
.content .wrapper .content_page .shops_block aside.shops_list .item::before {
    background: #e00a39 none repeat scroll 0 0;
    border-radius: 7px;
    content: "";
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 7px;
}
.content .wrapper .content_page .shops_block aside.shops_list .item a.map_link {
    font-family: "CenturyGothic-Bold";
}

.content .wrapper .content_page .shops_block .shops_maps {
    display:none;
    float:left;
    width:1024px;
    margin:30px 0 0 25px;
}
.content .wrapper .content_page .shops_block .shops_maps .shops_map {
    width: 1024px; 
    height: 768px; 
    margin:0 auto;
}
.content .wrapper .content_page .shops_block.active aside.shops_list,
.content .wrapper .content_page .shops_block.active .shops_maps {
    display:block;
}


.content .wrapper .special_block {
    max-width: 1565px;
    min-width: 1160px;
    margin: 40px auto;
}
.content .wrapper .special_block .special_list:after {content:'';display:table;clear:both;}
/*.content .wrapper .special_block .special_list .item.big_product {
    display:block;
    float:left;
    width:1065px;
    height: 660px;
    border-radius:5px;
    text-decoration:none;
}*/
.content .wrapper .special_block .special_list .item.big_product {
    display:block;
    width:100%;
    height: auto;
    border-radius:5px;
    text-decoration:none;
    display:none;
}
.content .wrapper .special_block .special_list .item.big_product:first-child {display:block;}
.content .wrapper .special_block .special_list .item.big_product img {
    display:block;
    width:100%;
    height:auto;
    border-radius:5px;
}
.content .wrapper .special_block .special_list .item.big_product .title {
    width:600px;
    margin:150px 200px 0 50px;
    font-size:32px;
    font-family: "CenturyGothic-Bold";
    line-height:36px;
    color:#e00a39;
}
.content .wrapper .special_block .special_list .item.big_product .anons {
    margin:150px 200px 0 50px;
    color:#343434;
    font-size:24px;
    line-height:30px;
}
.content .wrapper .special_block .special_list .item.big_product .price {
    color: #ffffff;
    font-family: "CenturyGothic-Bold";
    font-size: 50px;
    line-height: 55px;
    margin: 350px 0 0 850px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.content .wrapper .special_block .special_list .item.big_product .price .fa {
    font-size:40px;
}

.content .wrapper .special_block .special_list .col {
    float:right;
    width:525px;
}
.content .wrapper .special_block .special_list .item:hover {
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);*/
    /*transition: all 0.3s ease 0s;*/
}
.content .wrapper .special_block .special_list .col .item {
    display:block;
    width:525px;
    height:322px;
    margin:16px 0 0 0;
    border-radius:5px;
    text-decoration:none;
}
.content .wrapper .special_block .special_list .col .item .title {
    margin:100px 0 0 50px;
    color:#e00a39;
    font-family: "CenturyGothic-Bold";
    text-transform: uppercase;
}
.content .wrapper .special_block .special_list .col .item .anons {
    margin:15px 200px 0 50px;
    font-size:24px;
    line-height:30px;
    color:#343434;
}
.content .wrapper .special_block .special_list .col .item:first-child {margin-top:0;}

.content .wrapper .content_page {
    padding:35px 20px 70px 20px;
}

.content .wrapper .content_page ol {
    /* убираем стандартную нумерацию */
    list-style: none; 
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */ 
    counter-reset: li; 
}
.content .wrapper .content_page ol li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li; 
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li,".") ". "; 
}

.content .wrapper .content_page ol h3 {display:inline-block;}
.content .wrapper .content_page ol p {margin:0 0 0 35px;}

/*1 level*/
.content .wrapper .content_page > ol > li:before {
    font-size:20px;
    line-height:24px;
    font-family: "CenturyGothic-Bold";
    font-weight:normal;
    color:#343434;
}
/*2 level*/
.content .wrapper .content_page > ol > li > ol {
    margin:0 0 0 35px;
}
.content .wrapper .content_page > ol > li > ol > li {
    position:relative;
    padding:5px 0 5px 50px;
}
.content .wrapper .content_page > ol > li > ol > li:before {position:absolute; display:block; left:0px; top:5px;}
.content .wrapper .content_page > ol > li > ol > li > ul > li {padding:0 0 0 25px !important; margin:5px 0 0 0 !important;}

.content .wrapper .content_page .status_msg {
    color: #e00a39;
    font-family: "CenturyGothic-Bold";
}

.content .wrapper .content_page:after {content:'';display:table;clear:both;}
.content .wrapper .content_page .right_block {
    float:right;
    width:275px;
}
.content .wrapper .content_page .right_block .title {
    font-size: 24px;
    line-height: 26px;
    padding:0;
    color:#e00a39;
}

.content .wrapper .content_page .share_block {/*text-align:left;*/}

.content .wrapper .content_page .right_block .bnr_list .item {
    display:block;
    margin:25px 0 0 0;
    border-radius:5px;
}
.content .wrapper .content_page .right_block .bnr_list .item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}
.content .wrapper .content_page .right_block .bnr_list .item img {display:block;}

.content .wrapper .page_block {
    float:left;
}
.content .wrapper .page_block.full {
    width:100%;
    float:none;
}

.content .wrapper .page_block .mgz_list {margin:10px 0 50px 0;}
.content .wrapper .page_block .mgz_list:after {content:'';display:table;clear:both;}
.content .wrapper .page_block .mgz_list .item {
    display:block;
    float:left;
    width:240px;
    height:340px;
    margin:15px;
    padding: 20px;
    text-align:center;
    border-radius:5px;
}
.content .wrapper .page_block .mgz_list .item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}
.content .wrapper .page_block .mgz_list .item a.title {
    display:block;
    margin:10px auto 0 auto;
    font-family: "CenturyGothic-Bold";
    font-size: 16px;
}

.filter_block .mgz_link {
    width:240px;
    height:300px;
    border-radius:5px;
    margin:50px 0 0 0;
}
.filter_block .mgz_link a {
    display:block;
    margin:0 auto;
    width:240px;
    height:300px;
    text-align:center;
}
.filter_block .mgz_link a img {
    width:200px;
    height:auto;
    margin:23px auto 0 auto;
}
.filter_block .mgz_link:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}

.content .wrapper .link_block {text-align:center;}
.content .wrapper .link_block .cat_link {
    display:inline-block;
    margin:35px 0 0 0;
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:5px;
    background-color:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
.content .wrapper .page_block .cat_link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}

/* basket and order steps*/
.content .wrapper .cart_page_block,
.content .wrapper .wishlist_block {
    padding:35px 20px 70px 20px;
    border-bottom:1px solid #e5e5e5;
}
.content .wrapper .cart_page_block {
    border-bottom:none;
}
.content .wrapper .prc_block {
    padding:0 20px 70px 20px;
}


.content .wrapper .prc_block input[type='text'] {
    display: inline-block;
    width: 200px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #212121;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-family: "CenturyGothic";
    font-size: 16px;
}

.content .wrapper .prc_block input[type='submit'] {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background: #e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color: #ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.content .wrapper .prc_block input[type='submit']:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}

.content .wrapper .prc_block .prc_status {
    color: #e00a39;
    padding:0 0 10px 0;
}





.content .wrapper .cart_page_block .cart_empty_block,
.order_list .cart_empty_block,
.content .wrapper .cart_page_block .wishlist_empty_block {
    display:none;
    height:50px;
    line-height:45px;
    margin:25px 0 0 0;
    font-size: 24px;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .cart_page_block .cart_empty_block .icon,
.order_list .cart_empty_block .icon,
.content .wrapper .cart_page_block .wishlist_empty_block .icon {
    display:block;
    float:left;
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color:#e00a39;
    color:#ffffff;
    text-align:center;
    margin:0 10px 0 0;
}

.content .wrapper .cart_page_block .cart_empty_block.active,
.order_list .cart_empty_block.active,
.content .wrapper .cart_page_block .wishlist_empty_block.active {display:block;}
.content .wrapper .cart_page_block .order_steps.dis {display:none;}

.content .wrapper .cart_page_block .order_steps .steps_list {margin:25px 0 0 0;}
.content .wrapper .cart_page_block .order_steps .steps_list:after,
.content .wrapper .cart_page_block .order_steps .steps_list .item:after {content:'';display:table;clear:both;}
.content .wrapper .cart_page_block .order_steps .steps_list .item {
    float:left;
    width:220px;
    height:50px;
    margin:0;
    padding:0;
    vertical-align: middle;
}
.content .wrapper .cart_page_block .order_steps .steps_list .item.last {
    margin-right:0;
    padding-right:0;
}
.content .wrapper .cart_page_block .order_steps .steps_list .item .step_num {
    display:block;
    float:left;
    width:50px;
    height:50px;
    border-radius:50px;
    background: #e5e5e5;
    color:#5a5a5a;
    font-size: 24px;

    line-height:50px;
    text-align:center;
}
.content .wrapper .cart_page_block .order_steps .steps_list .item .step_name {
    display:block;
    float:left;
    height:50px;
    line-height:50px;
    margin:0 0 0 15px;
    color:#5a5a5a;
    font-size: 16px;
}
.content .wrapper .cart_page_block .order_steps .steps_list .fa {
    display:block;
    float:left;
    line-height:50px;
    margin:0 35px 0 35px;
}
.content .wrapper .cart_page_block .order_steps .step_block:after {content:'';display:table;clear:both;}
.content .wrapper .cart_page_block .order_steps .step_block .col {
    float:left;
    /*width:900px;*/
    width:60%;
    margin:60px 0 0 0;
}
.content .wrapper .cart_page_block .order_steps .step_block .col:last-child {
    float:right;
    /*width:450px;*/
    width:30%;
    padding:25px;
    background:#e5e5e5;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.content .wrapper .cart_page_block .order_steps .step_block .col .order {
    display:block;
    float:right;
    margin:25px 0 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #e00a39, #ec2c56) repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    font-family: "CenturyGothic-Bold";
    /*line-height: 40px;*/
    padding: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    border:0;
    height:40px;
    cursor:pointer;
}
.content .wrapper .cart_page_block .order_steps .step_block .col a.order {line-height:40px;}
.content .wrapper .cart_page_block .order_steps .prev_page {float:right; margin:25px 25px 0 0; line-height:40px; display:block; height:40px;}
.content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block:after {content:'';display:table;clear:both;}
.content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block {margin:25px 0 0 0;}
.content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block .order,
.content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block .prev_page {
    margin-top:0;
}

.content .wrapper .cart_page_block .order_steps .step_block .col .next_step_block .btn_comment {
    float:right;
    display:block;
    height:40px;
    line-height:40px;
    margin-left:15px;
}

.content .wrapper .cart_page_block .order_steps .step_block .col a.order:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}
.content .wrapper .cart_page_block .order_steps .step_block .col .line {
    margin:0 0 25px 0;
    font-family: "CenturyGothic-Bold";
    font-size:16px;
}
.content .wrapper .cart_page_block .order_steps .step_block .col .line:after {content:'';display:table;clear:both;}
.content .wrapper .cart_page_block .order_steps .step_block .col .line .title {float:left;}
.content .wrapper .cart_page_block .order_steps .step_block .col .line .value {float:right;}

.content .wrapper .cart_page_block .order_steps .step_block .col .line.all_ammount {
    font-family: "CenturyGothic-Bold";
    font-size:24px;
    line-height:25px;
}
.content .wrapper .cart_page_block .order_steps .step_block .col .line.all_ammount .value {color:#e00a39;}
.content .wrapper .cart_page_block .order_steps .step_block .col .line.all_ammount .value .fa {font-size:16px;}
.content .wrapper .cart_page_block .order_steps .steps_list .item.active .step_num {
    background-color:#e00a39;
    color:#ffffff;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .cart_page_block .order_steps .steps_list .item.active .step_name {
    color:#e00a39;
    font-family: "CenturyGothic-Bold";
}

.content .wrapper .cart_page_block .order_steps .step_block .payment,
.content .wrapper .cart_page_block .order_steps .step_block .delivery,
.content .wrapper .cart_page_block .order_steps .step_block .order_list,
.content .wrapper .wishlist_block .wish_list {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius:5px;
    padding:25px;
}
.content .wrapper .cart_page_block .order_steps .step_block .confirm .order_list {padding:0;}
.content .wrapper .wishlist_block .wish_list {margin:35px 0 0 0;}

.delivery .delivery_block {
    margin:45px 0 0 0;
}
.delivery .delivery_block .delivery_list .delivery_item{
    margin:15px 0 0 0;
}
.delivery .pickup_chel .title,
.delivery .delivery_block > .title {
    font-family: "CenturyGothic-Bold";
    font-size: 16px;
}

.delivery_item_descr {display:none;}
.delivery_item_descr.delivery_info {margin:15px 0 0 0;}

#SelfDelivery label {display:inline-block; width:120px;}

.CDEK_DeliveryModes {margin:15px 0 0 125px;}

.CDEK_DeliveryModes .bold {font-family: "CenturyGothic-Bold";}
.cdek_city_input {
border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #212121;
    font-family: "CenturyGothic";
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 200px;
}
.CDEK_DeliveryModes_item {margin:45px 0 0 0;}
.CDEK_DeliveryModes_item:first-child {margin-top:25px;}


.CDEK_DeliveryModes_item .cur_aaddr {margin:15px 0 0 0;}
.CDEK_DeliveryModes_item .cur_aaddr input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #212121;
    font-family: "CenturyGothic";
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 50px;
}
.CDEK_DeliveryModes_item .cur_aaddr .addr_row.street input {width:200px;}
.CDEK_DeliveryModes_item .cur_aaddr span {display:inline-block; width:180px;}
.CDEK_DeliveryModes_item .cur_aaddr .addr_row {margin:10px 0 0 0;}
.cdek_pickup {margin:15px 0 0 0;}


.sub_nfo {display:none;}
.CDEK_DeliveryModes_item.active .sub_nfo {display:block;}

.cdek_pickup .cdek_pickup_addr {display:none; margin:5px 0 0 100px;}

.content .wrapper .cart_page_block .order_steps .step_block .delivery .jq-radio {
    vertical-align:top;
    top:1px;
}

/*Mike*/
.payment .payment_block {
    margin:0 0 0 0;
}
.payment .payment_block .payment_list .payment_item{
    margin:15px 0 0 0;
}

.payment .payment_block > .title {
    font-family: "CenturyGothic-Bold";
    font-size: 16px;
    margin-bottom: 25px;
}

.content .wrapper .cart_page_block .order_steps .step_block .payment .jq-radio {
    vertical-align:top;
    top:1px;
}
/*Mike*/

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list,
.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
}
.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item {margin-top:25px;}
.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item:first-child {margin-top:0;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item .comment,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item > div {display:none;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item.active .comment,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item.active > div {display:block;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item.active .comment {padding:5px 0 0 25px;}
.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item.active .comment p {font-size:14px;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item .jq-radio.checked .jq-radio__div,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item .jq-radio.checked .jq-radio__div {background:#e00a39;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item .jq-radio.focused,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item .jq-radio.focused {border-color:#e00a39;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item > label,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item > label {cursor:pointer;}

.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item > label:hover,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item > label:hover {color:#e00a39;}
.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item > label,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item > label {
    font-family: "CenturyGothic-Bold";
    font-size:18px;
}
.content .wrapper .cart_page_block .order_steps .step_block .payment .types_list .item.active > label,
.content .wrapper .cart_page_block .order_steps .step_block .delivery .types_list .r_item.active > label {
    color:#e00a39;
    cursor:default;
}


.cdek_pickup .jq-selectbox__select,
.cdek_pickup .jq-selectbox.focused .jq-selectbox__select {
    box-shadow: none;
    background:none;
    /*background-color: #f9f9f9;*/
    border-color:#000000;
    border-radius:5px;
    font-family: "CenturyGothic";
    width:170px;
}

.cdek_pickup .jq-selectbox__select-text {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.cdek_pickup .jq-selectbox__dropdown {
    font-family: "CenturyGothic"; 
    background-color: #f9f9f9;
    bottom: auto;
    display: block;
    height: auto;
    position: absolute;
    top: 34px !important;
    width:227px !important;
}
/*.cdek_pickup_select*/ 
.jq-selectbox__dropdown > ul {
    overflow-x: hidden;
    background-color: #ffffff; 
}

.cdek_pickup .jq-selectbox__select .jq-selectbox__trigger {border-color:#000000;}
.cdek_pickup .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {border-top-color: #000000;}
.cdek_pickup .jq-selectbox__select .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {border-top-color: #e00a39;}
.cdek_pickup .jq-selectbox li.selected,
.cdek_pickup .jq-selectbox li:hover {background-color:#e00a39;}


.city_line .jq-selectbox__select,
.city_line .jq-selectbox.focused .jq-selectbox__select {
    box-shadow: none;
    background:none;
    border-color:#000000;
    border-radius:5px;
    font-family: "CenturyGothic";
    width:140px;
}

.city_line .jq-selectbox__select-text {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.city_line .jq-selectbox__dropdown {
    font-family: "CenturyGothic"; 
    bottom: auto;
    display: block;
    height: auto;
    position: absolute;
    top: 34px !important;
    width:197px !important;
}

.city_line .jq-selectbox__select .jq-selectbox__trigger {border-color:#000000;}
.city_line .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {border-top-color: #000000;}
.city_line .jq-selectbox__select .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {border-top-color: #e00a39;}
.city_line .jq-selectbox li.selected,
.city_line .jq-selectbox li:hover {background-color:#e00a39;}

.content .wrapper .cdek_calc {
    display:inline-block;
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:5px;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
.content .wrapper .cdek_calc:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; color:#ffffff;}

.cdek_city {display:inline-block;width:120px;}

#IK_CostMessage {margin:15px 0 15px 125px;}

.pickup_line {margin:15px 0 0 0;}
.pickup_line .jq-selectbox__select,
.pickup_line .jq-selectbox.focused .jq-selectbox__select {
    box-shadow: none;
    background:none;
    border-color:#000000;
    border-radius:5px;
    font-family: "CenturyGothic";
    /*width:500px;*/
    min-width:200px;
}

.pickup_line .jq-selectbox__select-text {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.pickup_line .jq-selectbox__dropdown {
    font-family: "CenturyGothic"; 
    bottom: auto;
    display: block;
    height: auto;
    position: absolute;
    top: 34px !important;
    width:557px !important;
}

.pickup_line .jq-selectbox__select .jq-selectbox__trigger {border-color:#000000;}
.pickup_line .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {border-top-color: #000000;}
.pickup_line .jq-selectbox__select .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {border-top-color: #e00a39;}
.pickup_line .jq-selectbox li.selected,
.pickup_line .jq-selectbox li:hover {background-color:#e00a39;}


.pickup_place .jq-selectbox__select,
.pickup_place .jq-selectbox.focused .jq-selectbox__select {
    box-shadow: none;
    background:none;
    border-color:#000000;
    border-radius:5px;
    font-family: "CenturyGothic";
    width:276px;
}

.pickup_place .jq-selectbox__select-text {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.pickup_place .jq-selectbox__dropdown {font-family: "CenturyGothic";}

.pickup_place .jq-selectbox__select .jq-selectbox__trigger {border-color:#000000;}
.pickup_place .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {border-top-color: #000000;}
.pickup_place .jq-selectbox__select .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {border-top-color: #e00a39;}
.pickup_place .jq-selectbox li.selected,
.pickup_place .jq-selectbox li:hover {background-color:#e00a39;}

.confirm_comment {margin:25px 0 0 0;}
.content .wrapper .confirm_comment p {font-size:14px; line-height:18px;}
.addr_info label,
.pickup_chel label {
    display:block;
    margin:15px 0 0 0;
}
.addr_info label span,
.pickup_chel label span {
    display:inline-block;
    min-width:120px;
}
.pickup_chel label span.field-validation-error {color:red;}
.addr_info label input,
.pickup_chel label input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #212121;
    font-family: "CenturyGothic";
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 200px;
}

.delivery_addr ul,
.delivery_addr li {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
}
.delivery_addr ul {
    margin:5px 0 0 0
}

.delivery_addr li {margin:25px 0 0 0;}
.delivery_addr li:first-child {
    margin-top:0;
}
.delivery_addr .item .addr_info {display:none;}
.delivery_addr .item.active .addr_info {display:block;}
.delivery_addr .item > label {
    display:inline-block;
    cursor:pointer;
}
.delivery_addr .item > label:hover {color:#e00a39;}
.delivery_addr .item.active > label {
    color:#e00a39;
    cursor:default;
}

.pickup_info {margin:5px 0 0 0;}
/*.delivery_info > div,
.pickup_info > div {
    margin:15px 0 0 25px;
}*/
.delivery_info .title,
.pickup_info .title {
    font-family: "CenturyGothic-Bold";
    font-size:14px;
    line-height:24px;
}

.content .wrapper .cart_page_block .order_list table {
    margin:0;
    text-align:left;
}
.content .wrapper .cart_page_block .order_list table tr:first-child td {border:none;}
.content .wrapper .cart_page_block .order_list table td {
    border-top:1px #e5e5e5 solid;
    border-left:none;
    border-right:none;
    border-bottom:none;
    padding:25px;
}
.content .wrapper .cart_page_block .order_list table .photo {
    width:50px;
    height:50px;
    text-align:center;
}
.content .wrapper .cart_page_block .order_list table .row_ammount {
    font-family: "CenturyGothic-Bold";
    font-size: 18px;
    line-height: 22px;
    margin: 5px auto;
    text-align: center;
}
.content .wrapper .cart_page_block .order_list table .row_ammount .fa,
.content .wrapper .cart_page_block .order_list table .row_del .fa {font-size: 14px;}

.content .wrapper .cart_page_block .order_list table .photo img {max-height:80px;}
.content .wrapper .cart_page_block .order_list table .name a {
    display:block;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .cart_page_block .order_list table .name span,
.product .product_page_code.item_ItemId {
    display:block;
    font-size:12px;
    color:#bdbdbd;
}
.content .wrapper .cart_page_block .order_list table .row_quantity,
.content .wrapper .cart_page_block .order_list table .row_ammount,
.content .wrapper .cart_page_block .order_list table .row_del {text-align:center;}
.content .wrapper .cart_page_block .order_list table .row_ammount {min-width:90px;}

.content .wrapper .cart_page_block .order_list table .row_ammount .old_price {
    color: #e00a39;
    font-family: "CenturyGothic";
    text-decoration: line-through;
    font-size:16px;
}
.content .wrapper .cart_page_block .order_list table .row_ammount .old_price .fa {font-size:12px;}
.content .wrapper .cart_page_block .order_list table .row_ammount .price_comment {
    color: #e00a39;
    font-size: 12px;
    font-family: "CenturyGothic";
    font-style: italic;
}

.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block {height:40px;}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block {
    width:130px;
    height:40px;
    position:relative;
}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span {
    display:block;
    float:left;
    height:40px;
    width:40px;
    line-height:40px;
    text-align:center;
    cursor:pointer;
    color:#5a5a5a;
    font-size:18px;
    border:1px #bdbdbd solid;
}
.content .wrapper .cart_page_block .confirm .order_list table .row_quantity .quantity_block span {border:none;}

.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter:hover {background:#bdbdbd;}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter.dis:hover {background:none;}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter-minus {border-radius:5px 0 0 5px;}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.counter-plus {border-radius:0 5px 5px 0;}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.quantity {
    border-left:none;
    border-right:none;
    color:#343434;
    font-family: "CenturyGothic-Bold";
    background:none;
    cursor:default;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span .fa {
    font-size:14px;
    color:#5a5a5a;
}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.dis {cursor:default;}
.content .wrapper .cart_page_block .order_list table .row_quantity .quantity_block span.dis .fa {color:#bdbdbd;}

.content .wrapper .page_block.full .question_list .item {margin:25px 0 0 0;}
.content .wrapper .page_block.full .question_list .item .title a {
    text-decoration: none;
    border-bottom:1px dashed;
    font-size: 24px;
    line-height: 28px;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .page_block.full .question_list .item .answer {display:none;}
.content .wrapper .page_block.full .question_list .item .answer.active {display:block;}

.content .wrapper .products {padding:90px 0 0 0;}
.content .wrapper .products.bottom_list {
    padding:0 0 90px 0;
}
.content .wrapper .products.all_products {padding:35px 0 90px 0;}
.content .wrapper .products.all_products > h2 {padding:0 20px;}
.content .wrapper .products.all_products:after {content:'';display:table;clear:both;}
.content .wrapper .products.all_products .filter_block {
    float:left;
    width:301px;
}
.content .wrapper .products.with_filter .filter_block {
    width:240px;
    padding:0 25px 25px 0;
    margin:0 0 15px 20px;
}

.content .wrapper .products.all_products .filter_block .title {
    font-size: 24px;
    line-height: 26px;
    margin:0;
}
/*filter*/
.content .wrapper .products.all_products .filter_block .filter_list {margin:10px 0 0 0;}
.content .wrapper .products.all_products .filter_block .filter_list ul,
.content .wrapper .products.all_products .filter_block .filter_list li {
    list-style-type: none;
    display:block;
    margin:0;
    padding:0;
}
.content .wrapper .products.all_products .filter_block .filter_list {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.content .wrapper .products.all_products .filter_block .filter_list > .item {margin:15px 0 0 0; width:275px; overflow:hidden;}
.content .wrapper .products.all_products .filter_block .filter_list span {
    display:inline-block;
    font-family: "CenturyGothic-Bold";
    border-bottom: 1px #343434 dotted;
    cursor:pointer;
    text-transform:uppercase;
}
.content .wrapper .products.all_products .filter_block .filter_list label {display:inline-block; cursor:pointer; text-transform:lowercase;}
.content .wrapper .products.all_products .filter_block .filter_list .item li .value_list {display:none; max-height:185px; margin:5px 0 0 0; overflow:hidden; padding:0 15px 0 0;}
.content .wrapper .products.all_products .filter_block .filter_list .item.active li .value_list {display:block;}

.content .wrapper .products.all_products .filter_block .filter_list .value_list .value_item {margin:7px 0 0 0;}

.content .wrapper .products.all_products .filter_block .filter_list .value_list .value_item.dis,
.content .wrapper .products.all_products .filter_block .filter_list ul.dis {display:none;}
.content .wrapper .products.all_products .filter_block .filter_list label:hover,
.content .wrapper .products.all_products .filter_block .filter_list span:hover {color:#e00a39;}
.content .wrapper .products.all_products .filter_block .filter_list .prop_value {outline:none;}

.content .wrapper .products.all_products .filter_block .btns {
    margin:25px 0 0 0;
    height:30px;
    line-height:30px;
}
.content .wrapper .products.all_products .filter_block .btns .do_filt {
    display:inline-block;
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:5px;
    background-color:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
.content .wrapper .products.all_products .filter_block .btns .do_filt:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; }
.content .wrapper .products.all_products .filter_block .btns .clear_filt {
    display:inline-block;
    margin:0 0 0 25px;
    color:#343434;
}
.content .wrapper .products.all_products .filter_block .btns .clear_filt:hover {color:#e00a39;}
.content .wrapper .products.all_products .filter_block .tmpFilter {display:none;}
.content .wrapper .products.all_products .filter_block .count_block {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:101;
    border:1px #e00a39 solid;
    border-radius:5px;
    background:#ffffff;
    width:220px;
    height:30px;
}
.content .wrapper .products.all_products .filter_block .count_block.active {display:block;}

.content .wrapper .products.all_products .filter_block .count_block .count_text {
    height:30px;
    line-height:30px;
    padding:0 10px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.content .wrapper .products.all_products .filter_block .count_block .count_text .count_value {
    display:inline-block;
    margin:0 0 0 10px;
    font-family: "CenturyGothic-Bold";
}

.content .wrapper .products.all_products .filter_block .count_block .do_filt {
    display:block;
    position:absolute;
    right:-1px;
    top:0;
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:0 5px 5px 0;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
.content .wrapper .products.all_products .filter_block .count_block .do_filt:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s;}

.search_page .count_block {display:none;}

.content .wrapper .products.all_products .products_block {float:left;}

.content .wrapper .products.with_filter .products_block {
    width:1280px;
    position:relative;
}
.content .wrapper .products.with_filter:after {content:'';display:table;clear:both;}

.content .wrapper .products h3 {
    text-align: center;
    background:url("../img/border-1.png") no-repeat 50% 100%;
    font-size: 24px;
    padding: 0 0 15px;
    text-transform: uppercase;
    line-height:26px;
}

.content .wrapper .products .products_list:after {
    content:'';
    display:table;
    clear:both;
    position:relative;
}
.content .wrapper .products .products_list .no_result {margin:0 20px;}
.content .wrapper .products .products_block .sort_block {
    width:320px;
    height:32px;
    margin:0 0 0 25px;
}
.content .wrapper .products .products_block .sort_block:after {content:'';display:table;clear:both;}
.content .wrapper .products .products_block .sort_block span {font-family: "CenturyGothic-Bold";}

.content .wrapper .products .products_block .sort_block .jq-selectbox__select {
    box-shadow: none;
    background:none;
    border-color:#000000;
    border-radius:5px;
    font-family: "CenturyGothic";
    width:140px;
}
.content .wrapper .products .products_block .sort_block .jq-selectbox__select-text {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.content .wrapper .products .products_block .sort_block .jq-selectbox__dropdown {font-family: "CenturyGothic";}

.content .wrapper .products .products_block .sort_block .jq-selectbox__select .jq-selectbox__trigger {border-color:#000000;}
.content .wrapper .products .products_block .sort_block .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {border-top-color: #000000;}
.content .wrapper .products .products_block .sort_block .jq-selectbox__select .jq-selectbox__trigger:hover .jq-selectbox__trigger-arrow {border-top-color: #e00a39;}
.content .wrapper .products .products_block .sort_block .jq-selectbox li.selected,
.content .wrapper .products .products_block .sort_block .jq-selectbox li:hover {background-color:#e00a39;}

.content .wrapper .products .products_list .item {
    position:relative;
    float:left;
    width:240px;
    height:400px;
    margin:15px 15px 0 15px;
    padding:25px;
    border-radius: 5px;
}
.content .wrapper .products .products_list .item a {
    color:#343434;
    text-decoration: none;
}

.content .wrapper .products .products_list .item .photo {
    margin:0 auto;
    width:240px;
    height:260px;
    overflow:hidden;
    text-align:center;
    line-height:260px;
    vertical-align: middle;
}
.content .wrapper .products .products_list .item .photo img {width:240px; height:auto;}
.content .wrapper .products .products_list .item .title {
    text-align:center;
    font-size:14px;
    font-family: "CenturyGothic-Bold";
    margin:5px auto;
}
.content .wrapper .products .products_list .item .price_block {
    text-align:center;
}
.content .wrapper .products .products_list .item .price_block .price_comment {
    color: #e00a39;
    font-size: 12px;
    font-style: italic;
}

.content .wrapper .products .products_list .item .old_price {
    text-align:center;
    font-size:16px;
    text-decoration: line-through;
    margin:5px auto;
    line-height:22px;
}
.content .wrapper .products .products_list .item .old_price .fa {font-size:12px;}

.content .wrapper .products .products_list .item .price {
    text-align:center;
    font-size:18px;
    font-family: "CenturyGothic-Bold";
    margin:5px auto;
    color:#e00a39;
    line-height:22px;
}
.content .wrapper .products .products_list .item .price .fa {font-size:14px;}
.content .wrapper .products .products_list .item .photo img {vertical-align: middle;}


.content .wrapper .products .products_list .item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}
.content .wrapper .products .products_list .item .adds {
    display:none;
    position:absolute;
    width:249px;
    height:30px;
    bottom:25px;
    left:25px;
    text-align:center;
}
.content .wrapper .products .products_list .item:hover .adds {display:block;}
.content .wrapper .products .products_list .item .adds .add2wishlist {
    display:block;
    float:left;
    height:30px;
    line-height:30px;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .products .products_list .item .adds .add2basket {
    float:right;
    height:20px;
    line-height:20px;
    padding:5px 10px;
    border-radius:5px;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .products .products_list .item .adds .add2basket:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; }

.content .wrapper .products .products_list .item .adds .add2wishlist:hover,
.content .wrapper .products .products_list .item .adds .add2wishlist .fa {color:#e00a39;}

.adds .not_available {line-height:30px;}

.content .wrapper .products .products_list .item.hit:after {
    content: '';
    width:50px;
    height:50px;
    position:absolute;
    z-index:2;
    right:25px;
    top:25px;
    background:url('../img/hit-icon.png') no-repeat;
    -webkit-filter: drop-shadow(0 3px 3px #a0a0a0);
    filter: drop-shadow(0 3px 3px #a0a0a0)
}
.content .wrapper .products .products_list .item.action:before {
    content: '';
    width:50px;
    height:50px;
    position:absolute;
    z-index:2;
    left:25px;
    top:25px;
    background:url('../img/action-icon.png') no-repeat;
    -webkit-filter: drop-shadow(0 3px 3px #a0a0a0);
    filter: drop-shadow(0 3px 3px #a0a0a0);
}
.content .wrapper .products .products_list .more_block:before {content:''; display:table; clear:both;}
.content .wrapper .products .products_list .more_block {
    display:block;
    text-align:center;
}
.content .wrapper .products .products_list .more_block a {
    margin:40px auto 0 auto;
    display: none;
    width:80px;
    height:68px;
    border-radius:100px;
    background:#e00a39;
    color:#ffffff;
    font-family: "CenturyGothic-Bold";
    text-decoration:none;
    vertical-align:middle;
    padding:32px 10px 0 10px;
}
.content .wrapper .products .products_list .more_block.vis a {display:block;}
.content .wrapper .products .products_list .more_block a:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); transition: all 0.5s ease 0s;}

.content .wrapper .brands_block {padding:90px 0 0 0; position:relative;}
.content .wrapper .brands_block h3 {margin-bottom:40px;}
.content .wrapper .blog_block {
    background:#ffffff;
    padding:90px 0;
}
.content .wrapper .brands_list .item {
    opacity:0.5;
}
.content .wrapper .brands_list .item:hover {
    opacity:1;
    transition: all 0.3s ease 0s;
}
.page_block .brands_list {text-align:center;}
.page_block .brands_list .item {
    display:inline-block;
    padding:25px;
}

.content .wrapper .blog_block h3,
.content .wrapper .brands_block h3 {
    text-align: center;
    background:url("../img/border-1.png") no-repeat 50% 100%;
    font-size: 24px;
    padding: 0 0 15px;
    text-transform: uppercase;
    line-height:26px;
}
.content .wrapper .blog_block > p {
    text-align: center;
    line-height:24px;
}

.content .wrapper .blog_block .blog_list {
    float:left;
    width:795px;
}
.content .wrapper .blog_block .blog_list .item {
    margin:40px 0 0 0;
    border-radius:5px;
}
.content .wrapper .blog_block .blog_list .item:after {
    content:'';
    display:table;
    clear:both;
}
.content .wrapper .blog_block .blog_list .item .photo {
    float:left;
    display:block;
    width:225px;
    height:225px;
    overflow:hidden;
    border-radius:5px;
}

a.photo:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}

.content .wrapper .blog_block .blog_list .item .descr {
    float:left;
    width:530px;
    margin:0 0 0 40px;
    overflow:hidden;
}
.content .wrapper .blog_block .blog_list .item .descr .title,
.content .wrapper .blog_block .item_video .title {
    display:block;
    color:#343434;
    font-family: "CenturyGothic-Bold";
    font-size: 20px;
    line-height:28px;
}
.content .wrapper .blog_block .blog_list .item .descr .title:hover,
.content .wrapper .blog_block .item_video .title:hover {
    color:#e00a39;
    transition: all 0.3s ease 0s;
}
.content .wrapper .blog_block .blog_list .item .descr .anons {
    margin:20px 0 0 0;
    font-size:16px;
    line-height:22px;
    color:#5a5a5a;
}
.content .wrapper .blog_block .item_video {
    float:right;
    width:770px;
    margin:40px 0 0 0;
}

.content .wrapper .product {
    padding:35px 20px 70px 20px;

}
.content .wrapper h1 {
    display:block;
    color:#343434;
    font-family: "CenturyGothic-Bold";
    font-size: 32px;
    line-height:36px;
}
.content .wrapper .product .row {margin:70px 0 35px 0; padding:0 0 70px 0; border-bottom:1px #e5e5e5 solid;}
.content .wrapper .product .row:after {content:'';display:table;clear:both;}
.content .wrapper .product .row .photo_block {
    float:left;
    width:49%;
    min-width:600px;
}
.content .wrapper .product .row .photo_block .bx-wrapper {
    margin-bottom:40px;
}

.content .wrapper .product .row .photo_block .bxslider {
    text-align:center;
    min-height:300px;
}
.content .wrapper .product .row .photo_block .bxslider img {
    vertical-align: middle;
    margin:0 auto;
}

.content .wrapper .product .row .photo_block #bx-pager {width:600px;}
.content .wrapper .product .row .photo_block #bx-pager:after {content:'';display:table;clear:both;}
.content .wrapper .product .row .photo_block #bx-pager a {
    display:block;
    float:left;
    width:100px;
    height:100px;
    margin:10px 10px 0 0;
    text-align: center;
    border:1px #e5e5e5 solid;
    line-height:100px;
    vertical-align: middle;
}
.content .wrapper .product .row .photo_block #bx-pager a:hover {border-color: #ccc;}
.content .wrapper .product .row .photo_block #bx-pager a.active {border-color:#e00a39;}
.content .wrapper .product .row .photo_block #bx-pager a img {
    max-width:90px;
    max-height:90px;
    vertical-align: middle;
}

/*2017-10-25*/
.content .wrapper .product .row .photo_block p {
    font-size:12px;
    line-height:14px;
    color:#bdbdbd;
    margin-bottom:40px;
}
.content .wrapper .product .row .right_block {
    width:49%;
    min-width:500px;
    float:right;
    color:#5a5a5a;
}
.content .wrapper .product .row .right_block .anons {
    font-size:16px;
    line-height:24px;
}
.content .wrapper .product .row .right_block .anons p {padding:0 0 10px 0;}
.content .wrapper .product .row .right_block .anons .available,
.content .wrapper .product .row .right_block .anons .not_available {
    display:block;
    color:#e00a39;
    font-family: "CenturyGothic-Bold";
}
.content .wrapper .product .row .right_block .anons a {color:#000000;}
.content .wrapper .product .row .right_block .anons a:hover {color:#e00a39;}

.content .wrapper .product .row .right_block .anons .not_available {color:#FF0000;}

.content .wrapper .product .row .right_block .anons strong {
    font-family: "CenturyGothic-Bold";
    font-weight: normal;
    color:#343434;
}
.content .wrapper .product .row .right_block .buy_block {margin:25px 0 0 0; font-size:16px;}
.content .wrapper .product .row .right_block .buy_block:after{content:'';display:table;clear:both;}
.content .wrapper .product .row .right_block .buy_block .quantity_block,
.content .wrapper .product .row .right_block .buy_block .price_block,
.content .wrapper .product .row .right_block .buy_block .add2basket2 {
    float:left;
    height:40px;
    margin:0 0 0 35px;
}
.content .wrapper .product .row .right_block .buy_block .quantity_block {
    height:52px;
    position:relative;
    margin-top:-17px;
}

.content .wrapper .product .row .right_block .buy_block .quantity_block .control-label {
    display:block;
    text-align:center;
    font-size:12px;
    line-height:12px;
    padding:0 0 5px 0;
}
.content .wrapper .product .row .right_block .buy_block .quantity_block span {
    display:block;
    float:left;
    height:40px;
    width:40px;
    line-height:40px;
    text-align:center;
    cursor:pointer;
    color:#5a5a5a;
    font-size:18px;
    border:1px #bdbdbd solid;
}

.content .wrapper .product .row .right_block .buy_block .quantity_block span.counter:hover {background:#bdbdbd;}
.content .wrapper .product .row .right_block .buy_block .quantity_block span.counter.dis:hover {background:none;}

.content .wrapper .product .row .right_block .buy_block .quantity_block span.counter-minus {border-radius:5px 0 0 5px;}
.content .wrapper .product .row .right_block .buy_block .quantity_block span.counter-plus {border-radius:0 5px 5px 0;}
.content .wrapper .product .row .right_block .buy_block .quantity_block span.quantity {
    border-left:none;
    border-right:none;
    color:#343434;
    font-family: "CenturyGothic-Bold";
    background:none;
    cursor:default;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.content .wrapper .product .row .right_block .buy_block .quantity_block span .fa {
    font-size:14px;
    color:#5a5a5a;
}
.content .wrapper .product .row .right_block .buy_block .quantity_block span.dis {
    cursor:default;
}

.content .wrapper .product .row .right_block .buy_block .quantity_block span.dis .fa {color:#bdbdbd;}

.content .wrapper .product .row .right_block .buy_block .price_block {margin-left:0;}
.content .wrapper .product .row .right_block .buy_block .price_block .price {
    line-height:40px;
    font-family: "CenturyGothic-Bold";
    color:#343434;
    font-size:40px;
    padding:0 0 0 15px;
}
.content .wrapper .product .row .right_block .buy_block .price_block .old_price {
    font-size:32px;
    text-decoration: line-through;
    color:#e00a39;
}
.content .wrapper .product .row .right_block .buy_block .price_block .price_comment {
    font-size:14px;
    color:#e00a39;
    font-style:italic;
}
.content .wrapper .product .row .right_block .buy_block .price_block .fa {font-size: 18px;}
.content .wrapper .product .row .right_block .buy_block .add2basket2 {
    line-height:40px;
    padding:0 10px;
    border-radius:5px;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
.content .wrapper .product .row .right_block .buy_block .add2basket:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; }

.content .wrapper .share_block {margin:35px 0 0 0; text-align:right;}

.content .wrapper .product .descr_block {padding:35px 0 0 0;}
.content .wrapper .product .descr_block ul.tabs__caption,
.content .wrapper .product .descr_block ul.tabs__caption li {
    display:block;
    margin:0;
    padding:0;
    list-style-type: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.content .wrapper .product .descr_block ul.tabs__caption {
    border-bottom:1px #e5e5e5 solid;
    outline:none;
}

.content .wrapper .product .descr_block ul.tabs__caption:after{content:'';display:table;clear:both;}
.content .wrapper .product .descr_block ul.tabs__caption li {
    float:left;
    height:40px;
    line-height:40px;
    margin:0;
    padding:0 35px;
    font-family: "CenturyGothic-Bold";
    text-transform: uppercase;
    cursor:pointer;
    text-align:center;
    border-top:1px #e5e5e5 solid;
    border-right:1px #e5e5e5 solid;
}
.content .wrapper .product .descr_block ul.tabs__caption li:first-child {
    margin-left:0;
    border-left:1px #e5e5e5 solid;
}
.content .wrapper .product .descr_block ul.tabs__caption li:hover {color:#e00a39;}
.content .wrapper .product .descr_block ul.tabs__caption li.active,
.content .wrapper .product .descr_block ul.tabs__caption li.active:hover {
    background:#bdbdbd;
    color:#ffffff;
}

.content .wrapper .product .descr_block .tabs__content {
    display: none;
    padding:15px;
    border-left:1px #e5e5e5 solid;
    border-right:1px #e5e5e5 solid;
    border-bottom:1px #e5e5e5 solid;
}
.content .wrapper .product .descr_block .tabs__content.active {display: block;}
.content .wrapper .products.nop {padding-top:0;}

.content .wrapper .recommend_block {padding:0 0 70px 0;}
.content .wrapper .recommend_block h3 {
    background: url("../img/border-1.png") no-repeat 50% 100%;
    font-size: 24px;
    line-height: 26px;
    padding: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
}



/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin:0 auto;
    width:100%;
	min-width: 1200px;
	max-width: 1920px;
	/*min-height: 620px;*/
	position: relative;
    /*background:#000000 url('../img/pattern-1.png') 50% 0 repeat;*/
    background:#343434;
    border-top:39px #e00a39 solid;
}
.footer .wrapper {
    width:100%;
	min-width: 1200px;
	max-width: 1605px;
    /*min-height:563px;*/
    margin:0 auto;
}
.footer .wrapper:after{content:'';display:table;clear:both;}
.footer .wrapper .col {
    float:left;
    padding:20px;
    margin:39px 0 39px 15px;
    background:#343434;
    color:#ffffff;
}
.footer .wrapper .col:first-child {
    margin-left:0;
}
.footer .wrapper .col:last-child {
    text-align:right;
    float:right;
}

.footer .wrapper .col .title {
    font-size:18px;
    font-family: 'CenturyGothic-Bold';
    text-transform: uppercase;
    padding:0 0 15px 0;
    background:url('../img/border-1.png') 0 100% no-repeat;
}
.footer .wrapper .col .menu {margin:10px 0 0 0;}

.footer .wrapper .col .menu ul,
.footer .wrapper .col .menu li {
    display:block;
    list-style-type: none;
    margin:0;
    padding:0;
}
.footer .wrapper .col .menu li {margin-top:15px;}
.footer .wrapper .col .menu li a {color:#ffffff;}
.footer .wrapper .col .menu li a:hover {
    color:#e00a39;
    transition: all 0.3s ease 0s;
}
.footer .wrapper .col .phone {
    margin:20px 0 0 0;
    font-size:22px;
    line-height:24px;
    font-family: 'CenturyGothic-Bold';
    color:#e00a39;
}
.footer .wrapper .col .call_order {
    display:inline-block;
    color:#bdbdbd;
    text-decoration: none;
    border-bottom:1px #bdbdbd dashed;
}
.footer .wrapper .col .call_order:hover {
    color:#e00a39;
    border-bottom:1px #e00a39 dashed;
    transition: all 0.3s ease 0s;
}

.footer .wrapper .col .social a {
    display:inline-block;
    margin:0 0 0 10px;
    text-decoration: none;
    color:#ffffff;
}
.footer .wrapper .col .social a:first-child {
    margin-left:0;
}

.footer .wrapper .col .social a:hover {
    color:#e00a39;
    transition: all 0.3s ease 0s;
}
.footer .wrapper .col .social a .fa {
    font-size:24px;
}

.footer .copy {
    height:39px;
    background:#202020;
    text-align:center;
    line-height:39px;
    color:#5a5a5a;
}

/*вход через социальные сети*/
#socialLoginForm a {
    display: block;
    float: left;
    font-size: 0;
    text-decoration: none;
    outline: none;
    width: 48px;
    height: 48px;
    margin: 5px 5px 0 0;
    background-image: url(../pic/social-new.png);
    border-radius: 48px;
    opacity:0.8;
}
#socialLoginForm a:hover {/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/opacity:1;}
#socialLoginForm a.vk-login {background-position: 0 0;}
#socialLoginForm a.fb-login {background-position: -51px 0;}
#socialLoginForm a.ok-login {background-position: -152px 0;}
#socialLoginForm a.ya-login {background-position: -254px 0;}
#socialLoginForm a.gp-login {background-position: -100px 0;}
#socialLoginForm a.mail-login {background-position: -304px 0;}

/*modals*/
.popup {
    background: #fff none repeat scroll 0 0;
    margin: 40px auto;
    max-width: 300px;
    padding: 30px 30px;
    position: relative;
    text-align: left;
}
.popup h2 {
    text-transform: uppercase;
    font-size:16px;
    font-family: 'CenturyGothic-Bold';
    color:#343434;
}
.popup .fields {margin:20px 0 0 0;}
.popup .fields label {display:block; margin:10px 0 0 0; border-radius: 5px; border:1px #ffffff solid;}
.popup .fields label.err {border-color: red;}
.popup .fields input[type='text'],
.popup .fields textarea {
    display:block;
    width:276px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #212121;
    height:30px;
    line-height:30px;
    padding:0 10px;
    font-family: "CenturyGothic";
    font-size: 16px;
}
.popup .fields textarea {
    height:90px;
    resize:none;
    line-height:24px;
}
.popup input[type='submit'] {
    display:block;
    height:30px;
    padding:0 10px;
    border-radius:5px;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
    text-align: center;
    margin:20px auto 0 auto;
    cursor:pointer;
}
.popup input[type='submit']:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; }
.popup input.error {border-color:#FF0000;}
.popup .success {
    display:none;
    margin:20px 0;
    font-family: "CenturyGothic-Bold";
    color:#e00a39;
}
.popup .error {
    display: none;
    margin:20px 0;
    font-family: "CenturyGothic-Bold";
    color:#FF0000;
}
.popup .success.show,
.popup .error.show {display:block;}

.popup .fields span {
    font-size:12px;
    line-height:14px;
}
.popup .fields span a {
    color:#000000;
}
.popup .fields span a:hover {
    color:#e00a39;
}


/* Preloader */
#preloader {
    display:none;
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #0b0b0b;
    opacity: 0.6;
    z-index:1099;
}
#status {
    display:none;
    width:128px;
    height:128px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-64px 0 0 -64px; /* is width and height divided by two */
}


/*system forms*/
.syst .fields {margin:20px 0 0 0;}
.syst .fields label {display:block; margin:10px 0 0 0; border-radius: 5px; border:1px #ffffff solid;}
.syst .fields label.err {border-color: red;}
.syst .fields input[type='text'],
.syst .fields input[type='password'],
.syst .fields input[type='tel'],
.syst .fields textarea {
    display:block;
    width:276px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #212121;
    height:30px;
    line-height:30px;
    padding:0 10px;
    font-family: "CenturyGothic";
    font-size: 16px;
}
.syst .fields textarea {
    height:90px;
    resize:none;
    line-height:24px;
}
.syst input[type='submit'],
.content .wrapper .syst a.edit_profile {
    display:block;
    height:30px;
    padding:0 10px;
    border-radius:5px;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
    text-align: center;
    margin:20px 0 0 0;
    cursor:pointer;
}
.content .wrapper .syst a.edit_profile {
    display:inline-block;
    color:#ffffff;
    line-height:30px;
}

.syst input[type='submit']:hover,
.content .wrapper .syst a.edit_profile:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; }

.syst input[type='submit'].in_row {display:inline-block; margin:0 25px 0 0;}
.syst input[type='submit'].present_finish {
    display: inline-block;
    margin: 0 0 0 15px;
}

.syst .text-danger {
    font-family: "CenturyGothic-Bold";
    color:#FF0000;
}
.syst form {margin:0 0 20px 0;}

.syst .btns {margin:20px 0 0 0;}

.syst .cab_menu a {display:inline-block; margin:0 0 0 25px;}
#toTop {
    width:50px;
    height:50px;
    background:url('../img/up.png') 0 0 no-repeat;
    position:fixed;
    bottom:30px; /* отступ кнопки от нижнего края страницы*/
    left:30px;
    cursor:pointer;
    display:none;
    z-index:1000;
}

.content .wrapper .pay_order {
    display:inline-block;
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:5px;
    background:#e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color:#ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
.content .wrapper .pay_order:hover {box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease 0s; color:#ffffff;}


/*cdek*/
 .ui-autocomplete-loading {
    background: #FFF right center no-repeat;
}

#city {
    width: 25em;
}

#log {
    height: 200px;
    width: 600px;
    overflow: auto;
}


/*presents*/
#PublicityActions .row_quantity .quantity_block span.quantity {border:none;}
#PublicityActions .order_list h2:first-child {padding-top:0;}
#PublicityActions h3 {color:#e00a39;}
#PublicityActions .actions_list {
    margin-bottom:20px;
    padding-bottom: 40px;
    border-bottom: 1px #e5e5e5 solid;
}
#PublicityActions .present_link {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #e00a39;
    background: linear-gradient(to top, #e00a39, #ec2c56);
    color: #ffffff;
    transition: all 0.3s ease 0s;
    font-family: "CenturyGothic-Bold";
    text-decoration: none;
}
#PublicityActions .present_link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}

#GivePresentsByAction .filter_block {margin-left:0;}
#GivePresentsByAction .price {font-size: 16px;}



#GivePresentsByAction .quantity_block_p {
    width: 124px;
    height: 52px;
    position: relative;
    margin: 5px auto 0 auto;
}

#GivePresentsByAction .quantity_block_p .control-label {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 0 0 5px 0;
}

#GivePresentsByAction .quantity_block_p span {
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #5a5a5a;
    font-size: 18px;
    border: 1px #bdbdbd solid;
}

#GivePresentsByAction .quantity_block_p span.counter:hover {
    background: #bdbdbd;
}

#GivePresentsByAction .quantity_block_p span.counter.dis:hover {
    background: none;
}

#GivePresentsByAction .quantity_block_p span.counter-minus {
    border-radius: 5px 0 0 5px;
}

#GivePresentsByAction .quantity_block_p span.counter-plus {
    border-radius: 0 5px 5px 0;
}

#GivePresentsByAction .quantity_block_p span.quantity {
    border-left: none;
    border-right: none;
    color: #343434;
    font-family: "CenturyGothic-Bold";
    background: none;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#GivePresentsByAction .quantity_block_p span .fa {
    font-size: 14px;
    color: #5a5a5a;
}

#GivePresentsByAction .quantity_block_p span.dis {
    cursor: default;
}

#GivePresentsByAction .quantity_block_p span.dis .fa {
    color: #bdbdbd;
}

#GivePresentsByAction span.comment {display:block; text-align:center; margin:5px 0 0 0;}




/* media */
@media (max-width: 1599px) {
    .content .wrapper .products.with_filter .products_block {
        width:960px;
    }
}

/* social buttons */
#socialLoginList button {
    cursor:pointer;
    background:none;
    border:none;
    margin-right:10px;
}
#socialLoginList button i {
    color: #343434;
}
#socialLoginList button:hover i,
#socialLoginList button:focus i,
#socialLoginList button:active i {
    color:#e00a39;
}