﻿@using WebApplication1.Classes
@model WebApplication1.Models.ViewModels.DeliveryTypeRadioItem

@if (Model.DeliveryTypeId == DeliveryTypeStatic.SelfDeliveryTypeId)
{
    @Html.HiddenFor(m => m.DeliveryTypeId)
    @Html.HiddenFor(m => m.ParentOrderId)

    <div class="city_line">
        @Html.LabelFor(m => m.SelectedCityName)
        @Html.DropDownListFor(m => m.SelectedCityId, new SelectList(Model.CityItems, "CityId", "CityName"))
    </div>

        for (int j = 0; j < Model.ModeItems.Count; j++)
            {
                @Html.HiddenFor(m => m.SelectedDeliveryModeId)
                @Html.HiddenFor(m => m.ModeItems[j].DeliveryModeId)

                <div class="pickup_line">
                    <label for="DeliveryType_TypeItems_0__ModeItems_0__SelectedSelfDeliveryPointId">Пункт выдачи</label>

                    @if (Model.ModeItems[j].DeliveryModeId == DeliveryTypeStatic.SelfDeliveryModeId)
                    {

                            @Html.HiddenFor(m => m.ParentOrderId, new { @class = "currOrderId" })
                            @Html.EditorFor(item => @Model.ModeItems[j])

                            <div id="IK_CostMessage">
                                @if (!string.IsNullOrWhiteSpace(Model.ModeItems[j].MessageAboutCostAndPeriod))
                                {
                                    <text>Адрес: </text>@Model.ModeItems[j].SelectedSelfDeliveryPointDescription;
                                    @Model.ModeItems[j].MessageAboutCostAndPeriod;
                                }
                            </div>

                    }
                </div>
            }

        }

        @if (Model.DeliveryTypeId == DeliveryTypeStatic.CDEKDeliveryTypeId)
        {
            @Html.HiddenFor(m => m.DeliveryTypeId)
            <div style="display: inline-block;">
                @Html.LabelFor(m => m.SelectedCityName, new { @class = "cdek_city" })
                @Html.TextBoxFor(m => m.SelectedCityName, new { @class = "cdek_city_input", @placeholder = "введите город" })

                @Html.HiddenFor(m => m.ParentOrderId, new { @class = "currOrderId" })
                @Html.HiddenFor(m => m.SelectedCityId, new { @class = "currCityId" })
                <input type="hidden" placeholder="Введите название города" class="currCityName" value="" />

                <a href="#" class="cdek_calc">посчитать</a>
            </div>

            <div class="CDEK_DeliveryModes">
                @Html.Partial("CDEKDeliveryModesPartial", Model)
            </div>
        }
