﻿<div class="content_page">
    <h1>Контакты</h1>
    <h2>По вопросам работы интернет-магазина обращайтесь</h2>

        <p>
            ООО «Бьюти трейд групп»
        </p>
        <p>
            тел.: 8-800-234-79-95
        </p>
        <p>
            ИНН/КПП  6167109197/616701001
        </p>
        <p>
            ОГРН 1126195011139, свидетельство серия 61 № 006369240 от 26.10.12, выдано Межрайонной инспекцией ФНС № 25 по Ростовской области.
        </p>
        <p>
            Адрес 344019, г. Ростов-на-Дону, пр. Шолохова, 11-19А, оф. 118
        </p>


    <h2>Схема проезда</h2>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yL9JzJd4osd_GA9jPOV1V1LpnyoAnOMw&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
</div>