﻿@using WebApplication1.Classes
<div class="content_page">
    <h1>Доставка</h1>
    <h2>Условия доставки заказов</h2>
    <p>
        Доставка товара осуществляется в пределах территории Российской Федерации. На доставку передаются только оплаченные заказы либо заказы с оплатой при получении.
    </p>
    @{
        string message = DataService.GetDeliveryPromoMessage("layout");

        if (!string.IsNullOrWhiteSpace(message))
        {
            <p>
                <strong>message</strong>
            </p>
        }
    }

    <p>
        Сроки доставки на странице оформления заказа приведены в рабочих днях. Для заказов, оплаченных онлайн, они отсчитываются с первого рабочего дня после даты оплаты заказа. Для заказов с оплатой при получении они отсчитываются с первого рабочего дня после принятия заказа. Заказы, как правило, передаются на доставку в течение одного рабочего дня. Заказы, принятые в выходные и праздничные дни, передаются на доставку на следующий рабочий день.
    </p>
    <p>
        Если доставка вашего заказа задерживается - звоните на горячую линию 8 (800) 234-79-95. Наша служба поддержки обязательно поможет решить эту проблему.
    </p>
    <p>
        <strong>Внимание!</strong> Обязательно вскройте упаковку и внимательно осмотрите содержимое посылки при получении в присутствии сотрудников транспортной компании. В случае обнаружения повреждения упаковки или товара, требуйте у сотрудника компании-доставщика оформления соответствующих документов. Если возможно, постарайтесь снять процесс вскрытия посылки на видео, например, на мобильный телефон.
    </p>
    <p>Все отправляемые заказы застрахованы.</p>
    <h2>Способы доставки</h2>
    <h3>Служба доставки "СДЭК"</h3>
    <p>Компания СДЭК обладает собственной широкой сетью пунктов выдачи заказов, а также предоставляет услуги курьерской доставки с передачей заказа.</p>
    <h3>Самовывоз из магазинов "Индустрия красоты"</h3>
    <p>В данный момент, возможна доставка в следующие магазины:</p>
    <ul>
        <li>г. Ростов-на-Дону, бульвар Комарова, 24 А. Режим работы: пн-вс, с 10-00 до 22-00.</li>
        <li>г. Ростов-на-Дону, ул. Зорге, 37. Режим работы: пн-вс, с 10-00 до 20-00.</li>
        <li>г. Ростов-на-Дону, пр. Стачки, 24. Режим работы: пн-сб с 10-00 до 20-00, вс с 10-00 до 18-00.</li>
        <li>г. Ростов-на-Дону, пр. Будённовский, 96/132. Режим работы: пн-вс, c 9.00 до 20.00. </li>
        <li>г. Ростов-на-Дону, п. Верхнетемерницкий, ул. Обсерваторная, дом № 13. Режим работы: пн-вс, с 9-00 до 22-00.</li>
        <li>г. Ростов-на-Дону, пр. Космонавтов, 2/2. Режим работы: пн-вс, с 10-00 до 22-00.</li>
        <li>г. Ростов-на-Дону, ул. Таганрогская, 143. Режим работы: пн-сб с 9-00 до 20-00, вс с 9-00 до 18-00.</li>
        <li>г. Ростов-на-Дону, пр. Ворошиловский, 101. Режим работы: пн-сб с 9-00 до 20.00, вс с 9-00 до 18-00.</li>
        <li>г. Ростов-на-Дону, пр. Ленина, 105. Режим работы: пн-сб с 9-00 до 20-00, вс с 9-00 до 17-00.</li>
        <li>г. Ростов-на-Дону, ул. Пойменная, 1, ТЦ МЕГАМАГ. Режим работы: пн-вс, с 10-00 до 20-00.</li>
        <li>г. Ростов-на-Дону, пл. Базарная, 2, пн-вс. Режим работы: с 8-00 до 18-00.</li>
        <li>г. Ростов-на-Дону, ул. Малиновского, 23д. Режим работы: пн-вс, с 10-00 до 22-00.</li>
        <li>г. Ростов-на-Дону, ул. Пушкинская, 123/67. Режим работы: пн-пт с 10-00 до 20-00, сб-вс с 10-00 до 18-00.</li>
        <li>г. Ростов-на-Дону, пр. М.Нагибина, 17, ТРЦ РИО. Режим работы: пн-вс с 10-00 до 22-00.</li>
        <li>г. Ростов-на-Дону, ул. Большая Садовая, 120. Режим работы: пн-все с 10-00 до 21-00.</li>
        <li>г. Ростов-на-Дону, ул. Большая Садовая, 52-56. Режим работы: пн-вс с 10-00 до 21-00.</li>
        <li>г. Ростов-на-Дону, ул. Добровольского 18/22. Режим работы: пн-вс, с 9-00 до 20-00.</li>
        <li>г. Ростов-на-Дону, пр. Коммунистический, 32. Режим работы: пн-вс, с 10-00 до 22-00.</li>
        <li>г. Ростов-на-Дону, пр. Будённовский 97/243. Режим работы: пн-пт с 9-00 до 20-00, сб-вс с 9-00 до 18-00.</li>
        <li>г. Азов, ул. Московская, д. 46/48. Режим работы: пн-пт с 9-00 до 19-00, сб-вс с 9-00 до 18-00.</li>
        <li>г. Батайск, ул. Кирова, 45. Режим работы: пн-вс, с 10-00 до 20-00.</li>
        <li>г. Белая Калитва, ул. Энтузиастов, 14 корпус 1. Режим работы: пн-вс с 09-00 до 20-00. </li>
        <li>г. Волгодонск, ул. 30 лет Победы, 20. Режим работы: пн-вс с 9-00 до 18-00.</li>
        <li>г. Воронеж, ул. Кольцовская, 35, 2-ой этаж ТЦ «Галереи Чижова». Режим работы: пн-вс с 10-00 до 20-00. </li>
        <li>г. Воронеж, ул. 20-летия Октября, 90. Режим работы: пн-вс с 10-00 до 21-00. </li>
        <li>г. Краснодар, ул Красная, 170. Режим работы: пн-вс с 10-00 до 20-00.</li>
        <li>г. Краснодар, ул Ставропольская, 226. Режим работы: пн-вс с 10-00 до 20-00.</li>
        <li>г. Краснодар, ул. им. 40-летия Победы, 146/2. Режим работы: пн-вс с 10-00 до 20-00.</li>
        <li>г. Краснодар, пр. Чекистов, 1/3. пн-вс с 10-00 до 22-00.</li>
        <li>г. Москва, Косино, ул. Святоозерская, 1А. пн-вс с 10-00 до 22-00.</li>
        <li>г. Новочеркасск, ул. Московская 31/Дубовского 35. Режим работы: пн-пт с 9-00 до 19-00, сб-вс с 9-00 до 17-00.</li>
        <li>г. Новочеркасск, пр. Платовский, 82. Режим работы: пн-вс, с 9-00 до 19-00. </li>
        <li>г. Таганрог, ул. Петровская, 60. Режим работы: пн-пт с 10-00 до 19-00, сб-вс с 10-00 до 18-00.</li>
        <li>г. Таганрог, ул. Чехова, д.322. Режим работы: пн-пт с 10-00 до 20-00, сб-вс с 10-00 до 18-00.</li>
        <li>г. Таганрог, ул. Джержинского, 163. Режим работы: пн-пт с 10-00 до 20-00, сб-вс с 10-00 до 18-00.</li>
        <li>г. Шахты, ул. Красный Шахтёр, 74 А. Режим работы: пн-вс, с 9-00 до 19-00.</li>
    </ul>
    <h3>Самовывоз из офиса "Интернет-магазина"</h3>
    <p>
        Также вы можете забрать свой заказ из офиса интернет-магазина по адресу: пр. Шолохова, 11-19а, офис 110А. Режим работы: пн-пт, с 9-00 до 18-00.<br /><strong>Есть возможность оплаты при получении.</strong>
    </p>
</div>

