﻿<main class="content">
    <div class="wrapper">

        <div class="content_page">
            <p style="text-align:center;"><img src="https://krasivo.pro/pic/banner/2017-10-19-Free-delivery.png" alt="Бесплатная доставка - стираем границы" style="max-width: 100%" /></p>

            <h1>Бесплатная доставка - стираем границы!</h1>
            <br />
            @*<strong>АКЦИЯ!</strong>*@
            <br />
            <p>
                И снова мы запускаем волну бесплатной доставки. С 19 по 31 октября 2017 года совершайте покупки в интернет-магазине "Индустрия красоты" на сумму от 1&nbsp;999 рублей и получайте доставку по всей России в подарок! Ловите удачный момент совершить желанные покупки!
            </p>
            <div class="share_block">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js" async="async"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
            </div>

        </div>
</main><!-- .content -->