﻿@model WebApplication1.Models.ViewModels.HomeViewModel

        @*@Html.Partial("SaleActionsPartial", Model.Actions)*@
        @Html.Partial("BannerPartial", Model.Banners)

        <div class="hit_products products">
            <h3>Хиты продаж</h3>
            <div class="products_list">
                @Html.Partial("ItemsPartial", Model.InventTable)
            </div>
        </div>

        <div class="expert_products products">
            <h3>Эксперты рекомендуют</h3>
            <div class="products_list">
                @Html.Partial("ItemsPartial", Model.RecommendedItems)
            </div>
        </div>


        <div class="brands_block">
            <h3>Популярные бренды</h3>
            <div class="cl"></div>
            <div class="brands_list brands_slider">
                @Html.Partial("BrandPartial", Model.Brands)
            </div>
        </div>

