﻿<div class="content_page">
    <h1>Публичная оферта</h1>
    <h2>Договор купли-продажи товаров дистанционным способом</h2>

    <p>
        г. Ростов-на-Дону
    </p>
    <p>
        «01» февраля 2017 г.
    </p>
    <p>
        Настоящий «Договор купли-продажи» (далее «Договор») определяет взаимоотношения между ООО «Бьюти трейд групп», именуемым в дальнейшем «Продавец» с одной стороны, и Покупателем (физическим лицом), принявшим публичное предложение (оферту) о заключении Договора.
    </p>





    <ol>
        <li>
            <h3>ОПРЕДЕЛЕНИЯ</h3>
            <ol>
                <li>Клиент - физическое лицо, размещающее Заказы на сайте http://krasivo.pro, либо указанное в качестве получателя Товара, либо использующее товары, приобретенные на сайте http://krasivo.pro.</li>
                <li>Продавец – ООО «Бьюти трейд групп».</li>
                <li>Интернет-магазин - Интернет-сайт, расположенный на сервере в г. Ростов-на-Дону и имеющий адрес в сети Интернет http://krasivo.pro/. На нем представлены товары, предлагаемые Продавцом своим Клиентам для оформления Заказов, а также условия оплаты и доставки этих Заказов Клиентам.</li>
                <li>Товар - объект материального мира, не изъятый из гражданского оборота и представленный к продаже на Сайте.</li>
                <li>Заказ - должным образом, оформленный запрос Клиента на доставку по указанному адресу перечня Товаров, размещенный Покупателем самостоятельно на Сайте.</li>
                <li>Служба доставки – третье лицо, оказывающее по договору с продавцом услуги по доставке заказов клиентам.</li>
                <li>Акция - это мероприятие, направленное на увеличение объемов продаж, на привлечение внимания потребителей к продукции, на упрочение положения организации на рынке. Акции на сайте публикуются в форме: подарков, призов и скидок</li>
            </ol>
        </li>
        <li>
            <h3>ПРЕДМЕТ ДОГОВОРА</h3>
            <ol>
                <li>Продавец поставляет и передает, а Покупатель оплачивает и получает товары согласно размещенному Заказу.</li>
            </ol>
        </li>
        <li>
            <h3>ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА И ИЗМЕНЕНИЯ ЕГО УСЛОВИЙ</h3>
            <ol>
                <li>Договора со стороны Покупателя, т.е. полным и безоговорочным принятием Покупателем условий Договора, в соответствии с п.1 ст.433 и п.3 ст.438 Гражданского кодекса Российской Федерации является проведение Покупателем оплаты в соответствии со сделанным Заказом.</li>
                <li>Продавец оставляет за собой право вносить изменения в условия настоящего договора.</li>
            </ol>
        </li>
        <li>
            <h3>ОБЩИЕ ПОЛОЖЕНИЯ</h3>
            <ol>
                <li>Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Товара, включая цвет, размеры и формы. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Покупатель должен обратиться к Продавцу.</li>
                <li>Оформление Покупателем Заказа и дальнейшая передача его к исполнению, означает достаточное и полное ознакомление Клиента с Товаром, с информацией о наличии (отсутствии) преференций, скидок, а также о влиянии условий Заказа на формирование конечной цены Товара.</li>
                <li>В случае отсутствия заказанных Товаров на складе Продавца, в том числе по причинам, не зависящим от Продавца, Продавец вправе аннулировать указанный Товар из Заказа Клиента, и уведомить об этом Клиента путем направления электронного сообщения по адресу, указанному Клиентом при регистрации либо непосредственного звонка Клиенту.</li>
                <li>Заказ считается исполненным в момент фактической передачи Товаров, входящих в состав заказа, Покупателю на основании выданной Продавцом или транспортной компанией, осуществляющей доставку Заказа, накладной на определенные Товары под роспись Покупателя. По исполнении Заказа обязательства Продавца перед Покупателем считаются выполненными.</li>
                <li>В случае подписания покупателем выданной Продавцом или транспортной компанией накладной на заказ без вскрытия Заказа и без составления акта Покупатель не может предъявить претензии Продавцу по данному Заказу.
                <li>Право собственности на Товар и связанные с ним риски переходит от Продавца к Покупателю в момент передачи Товара. Подтверждением перехода Права собственности на товар служит подпись покупателя в накладной, выданной Продавцом или транспортной компанией.
            </ol>
        </li>
        <li>
            <h3>
                ПРАВА И ОБЯЗАННОСТИ СТОРОН
            </h3>
            <ol>
                <li>
                    Продавец обязан:
                    <ol>
                        <li>Поставить Товар в соответствии с условиями Заказа.</li>
                        <li>Гарантировать соответствие качества Товара требованиям качества для аналогичных Товаров на территории РФ. Обеспечить гарантийные обязательства в соответствии с условиями настоящего Договора.</li>
                        <li>В случае изменения срока поставки, немедленно информировать Покупателя об изменении условий поставки с целью получения согласия на новые условия выполнения Заказа в целом, либо в части. Продавец информирует Покупателя посредством телефонной либо электронной связи.</li>
                        <li>Рассмотреть претензии в соответствии с п. 5.3.4. и принять меры к их удовлетворению.</li>
                    </ol>
                </li>
                <li>
                    Продавец имеет право:
                    <ol>
                        <li>Не принимать претензий по возвращаемому Товару при отсутствии упаковки или при потере ее товарного вида, обнаружении внешних повреждений товара, несоответствии номеров на товаре, упаковке или гарантийном талоне.</li>
                        <li>Не принимать претензий по возвращаемому Товару надлежащего качества, имеющему индивидуально-определенные свойства, если указанный Товар может быть использован исключительно приобретающим его Покупателем.</li>
                        <li>Не принимать претензий по возвращаемому Товару надлежащего качества, указанному в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденному Постановлением Правительства РФ от 19.01.1998 № 55.</li>
                        <li>При возврате Покупателем товара надлежащего качества требовать от Покупателя возмещения расходов, понесенных Продавцом при организации возврата товара от Покупателя.</li>
                        <li>Продавец оставляет за собой право вносить изменения в условия настоящего Договора, в связи с чем, Покупатель обязуется самостоятельно отслеживать подобные изменения.</li>
                        <li>Продавец вправе аннулировать заказы Покупателя, содержащие товары, от которых ранее Покупатель отказался 3 и более раз, указав причины, не связанные с наличием недостатков в этих товарах.</li>
                        <li>Продавец вправе отказать в заключении договора и оформлении заказа, если у клиента уже оформлены и не получены другие заказы на общую сумму от 50 000 рублей.</li>
                    </ol>
                </li>
                <li>
                    Покупатель обязан:
                    <ol>
                        <li>при оформлении Заказа точное наименование требуемого Товара, его номер по каталогу производителя, или все данные необходимые для точного определения требуемого Товара (цвет, вариант исполнения). В случае самостоятельного заказа нести ответственность за подбор Товара по каталогам производителя данного Товара.</li>
                        <li>Оплачивать Товар, согласно Заказам, по указанной в них цене.</li>
                        <li>
                            При приемке заказа
                            <ol>
                                <li>провести внешний осмотр на предмет внешнего повреждения упаковки</li>
                                <li>в случае отсутствия внешних повреждений упаковки подписаться в накладной о получении Заказа</li>
                                <li>вскрыть в присутствии представителя службы доставки внешнюю упаковку с целью проверки сохранности вложимого, осмотреть товар на предмет целостности его индивидуальной упаковки и наличия внешних повреждений на ней. Убедившись в сохранности упаковки и в отсутствии на ней следов вскрытия и внешних повреждений, открыть индивидуальную упаковку и проверить наличие в ней товара. Убедившись в наличии товара и отсутствии на нем следов механических повреждений сверить артикул получаемого товара с артикулом, проставленным в сопроводительном документе, проверить комплектацию и цвет товара.</li>
                                <li>В случае наличия претензий потребовать от представителя службы доставки составить Акт внешнего осмотра и Акт приемки в 3-х экземплярах. В акте осмотра описываются повреждения внешней упаковки, а в Акте приема описываются все повреждения индивидуальной упаковки товара и его некомплектность.</li>
                            </ol>
                        </li>
                        <li>В случае передачи Продавцом Товара с нарушением условий Заказа о количестве, ассортименте, комплектности, таре и (или) упаковке Товара, - не позднее 20-ти, следующих за днем покупки, календарных дней известить Продавца об этих нарушениях.</li>
                    </ol>
                </li>
                <li>
                    Покупатель имеет право:
                    <ol>
                        <li>Потребовать возврата предоплаты в случае невозможности исполнения Продавцом условий Заказа.</li>
                        <li>Внести изменения в Заказ до начала его исполнения Продавцом.</li>
                        <li>До передачи ему Товара отказаться от исполнения договора при условии возмещения Продавцу транспортных расходов, понесенных Продавцом в связи с совершением действий по выполнению настоящего Договора.</li>
                        <li>Предъявить претензии относительно потери работоспособности Товара в ходе его эксплуатации в случаях, на которые распространяются гарантийные обязательства производителя Товара, в установленном производителем порядке на основании заключения официального представителя производителя в данном регионе. В случае обнаружения, что недостатки в качестве Товара возникли не по вине Продавца, расходы по проведению экспертизы ложатся на Покупателя.</li>
                    </ol>
                </li>
                <li>Для оформления заказа и получения возможности использования личного кабинета Покупателю необходимо зарегистрироваться на сайте. При регистрации на сайте и получения возможности использования личного кабинета Покупатель предоставляет следующую информацию о себе: фамилию, имя, отчество, адрес электронной почты, телефон, пароль для доступа к сайту.</li>
                <li>Продавец не несет ответственность за точность и правильность информации, предоставляемой Покупателем при регистрации.</li>
                <li>Покупатель обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации на сайте. В случае возникновения у Покупателя подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Покупатель обязуется незамедлительно уведомить об этом продавца.</li>
            </ol>
        </li>
        <li>
            <h3>ЦЕНА И ПОРЯДОК ОПЛАТЫ</h3>
            <ol>
                <li>Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Покупателем Товара, Продавец при первой возможности информирует об этом Клиента для подтверждения либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным.</li>
                <li>Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит. В случае невозможности исполнения оплаченного заказа Продавцом, Продавец возвращает Покупателю оплаченную за Заказ сумму путем ее перечисления на счет Клиента.</li>
                <li>Стоимость доставки выбранных Покупателем товаров, указанная на Сайте при формировании Покупателем Заказа, не является окончательной. Окончательную стоимость доставки Заказа Продавец сообщает Покупателю путем направления электронного сообщения по адресу, указанному при формировании Покупателем Заказа, или по телефону только после обработки Заказа.</li>
                <li>Оплата Заказа производится Покупателем в рублях.</li>
                <li>Способы оплаты Заказа указаны на Сайте в разделе «Способы оплаты».</li>
                <li>При предоплате Товар под Заказ до момента зачисления денежных средств Покупателя на расчетный счет Продавца не резервируется. Продавец не может гарантировать доступность Товара на складе Продавца в количестве, указанном в момент оформления Заказа, как следствие, могут увеличиться сроки обработки Заказа.</li>
                <li>В случае необходимости осуществления возврата денежных средств Продавцом Покупателю для осуществления возврата денежных средств Покупатель обязан сообщить Продавцу реквизиты банковского счета, на который Продавец обязан перечислить возвращаемые денежные средства.</li>
                <li>Продавец вправе предоставлять клиенту скидки на товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны на сайте и могут быть изменены продавцом в одностороннем порядке.</li>
                <li>Продавец вправе устанавливать скидки в целях продвижения того либо иного способа оплаты или доставки товара. При этом продавец может ограничивать условия действия скидок на те или иные группы товаров.</li>
            </ol>
        </li>
        <li>
            <h3>
                ОТВЕТСТВЕННОСТЬ СТОРОН
            </h3>
            <ol>
                <li>Продавец не несет ответственности за ущерб, причиненный Клиенту вследствие ненадлежащего использования Товаров, заказанных на Сайте.</li>
                <li>Стороны несут ответственность за исполнение обязательств по настоящему Договору в соответствии с законодательством РФ.</li>
                <li>Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если неисполнение является следствием таких непреодолимых обстоятельств как: война или военные действия, землетрясение, наводнение, пожар и другие стихийные бедствия, акты или действия органов государственной власти, изменение таможенных правил, ограничения импорта и экспорта, возникших независимо от воли Сторон после заключения настоящего Договора. Сторона, которая не может исполнить своих обязательств, незамедлительно извещает об этом другую Сторону и предоставляет документы, подтверждающие наличие таких обстоятельств, выданные уполномоченными на то органами.</li>
                <li>Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с клиентом, третьим лицам.</li>
            </ol>
        </li>
        <li>
            <h3>
                РАЗРЕШЕНИЕ СПОРОВ
            </h3>
            <ol>
                <li>В случае возникновения вопросов и претензий со стороны Покупателя он должен обратиться в Службу по работе с клиентами Продавца по телефону или через форму Обратной связи на Сайте</li>
                <li>Стороны примут все меры к разрешению споров и разногласий, которые могут возникнуть при исполнении обязательств по Договору или в связи с этим, путем переговоров.</li>
                <li>В случае если Стороны не пришли к соглашению, все споры подлежат рассмотрению в соответствии с процедурой, предусмотренной законодательством РФ.
            </ol>
        </li>
        <li>
            <h3>
                ПРОЧИЕ УСЛОВИЯ
            </h3>
            <ol>
                <li>Договор вступает в силу со дня подписания Сторонами.</li>
                <li>Настоящий договор, размещенный на используемом Продавцом в Интернете сайте по адресу http://krasivo.pro/license/ является  публичной офертой. Отсутствие подписанного между сторонами экземпляра Договора на бумажном носителе, с проставлением подписей сторон, в случае проведения по нему фактической оплаты Покупателем, не является основанием считать настоящий Договор не заключенным. Проведение оплаты в соответствии со сделанным Заказом считается акцептом Покупателя.</li>
                <li>Признание судом недействительности какого-либо пункта настоящего договора не влечет за собой недействительность остальных пунктов.</li>
                <li>Если Покупатель использует приобретенный на сайте Продавца Товар для дальнейшей перепродажи либо в иных предпринимательских целях, в этом случае ФЗ «О защите прав потребителей» на такие правоотношения не распространяется.</li>
            </ol>
        </li>
        <li>
            <h3>
                КОНФИДЕНЦИАЛЬНОСТЬ И ЗАЩИТА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
            </h3>
            <ol>
                <li>
                    Для приобретения товаров в интернет-магазине, Покупатель предоставляет продавцу свои персональные данные. Предоставляя свои персональные данные, Покупатель соглашается на их обработку продавцом, в том числе и в целях продвижения продавцом товаров и услуг.
                </li>
                <li>
                    Если Покупатель не желает, чтобы его персональные данные обрабатывались, то он должен сообщить об этом в службу по работе с клиентами по телефону 8 (800) 234-79-95. В таком случае вся полученная от Покупателя информация (в тот числе логин и пароль) удаляется из клиентской базы Продавца и Покупатель не сможет размещать заказы на сайте.
                </li>
                <li>
                    Продавец использует информацию:
                    <ul>
                        <li>
                            для регистрации Покупателя на сайте;
                        </li>
                        <li>
                            для выполнения своих обязательств перед Покупателем;
                        </li>
                        <li>
                            для оценки и анализа работы сайта;
                        </li>
                        <li>
                            для определения победителя в акциях, проводимых продавцом.
                        </li>
                    </ul>
                </li>
                <li>
                    Продавец вправе направлять Покупателю сообщения рекламно-информационного характера. Если Покупатель не желает получать рассылки от продавца, он должен изменить соответствующие настройки подписки в личном кабинете, либо обратиться в службу по работе с клиентами продавца.
                </li>
                <li>
                    Продавец обязуется не разглашать полученную от Покупателя информацию. Не считается нарушением предоставление продавцом информации агентам и третьим лицам, действующим на основании договора с продавцом, для исполнения обязательств перед Покупателем.
                </li>
                <li>
                    Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.
                </li>
                <li>
                    Продавец не несет ответственности за сведения, предоставленные Покупателем на сайте в общедоступной форме.
                </li>
                <li>
                    Продавец не несет ответственности за убытки, которые Покупатель может понести в результате того, что его логин и пароль стали известны третьему лицу.
                </li>
                <li>
                    В случае возникновения у продавца подозрений относительно использования учетной записи Покупателя третьим лицом или вредоносным программным обеспечением Продавец вправе в одностороннем порядке изменить пароль Покупателя. Для восстановления пароля Покупателю необходимо обратиться в службу по работе с клиентами продавца.
                </li>
            </ol>
        </li>
        <li>
            <h3>
                РЕКВИЗИТЫ ПРОДАВЦА
            </h3>
            <p>
                ООО «Бьюти трейд групп» (ООО «БиТи-групп», LLC «BT-Group»)
            </p>
            <p>
                Юридический адрес: 344019 г. Ростов-на-дону, пр.  Шолохова, 11-19а
            </p>
            <p>
                Фактический адрес: 344019 г. Ростов-на-дону, пр.  Шолохова, 11-19а
            </p>
            <p>
                Расчётный счёт: 40702810252090010971 в Юго-Западном банке ПАО «Сбербанк России» г. Ростов-на-Дону
            </p>
            <p>
                Корреспондентский счёт: 30101810600000000602
            </p>
            <p>
                БИК: 046015602
            </p>
            <p>
                ИНН/КПП: 6167109197/616701001
            </p>
            <p>
                ОГРН 1126195011139, свидетельство серия 61 № 006369240 от 26.10.12, выдано Межрайонной инспекцией ФНС № 25 по Ростовской области.
            </p>
            <p>
                Руководитель: Директор – Казанцева Марина Валентиновна, действующая на основании Устава.
            </p>
        </li>
    </ol>

   
</div>