﻿<div class="content_page">
    <h1>Оплата заказов</h1>
    <p>
        В нашем магазине вы можете оплатить заказы в режиме онлайн, перечислив средства со счета своей карты через защищенный платежный шлюз Сбербанка, или оплатить заказ при получении в офисе интернет-магазина или у курьера/в пункте выдачи заказов транспортной компании "СДЭК".
        Уточнить, возможна ли оплата при получении в выбранном городе доставки, можно на странице оформления заказа.
    </p>
    <p>
        <strong>Внимание!</strong> При получении товара в офисе интернет-магазина возможна оплата только наличными.
    </p>
    <h2>Банковские карты</h2>
    <img src="~/pic/visa.png" alt="" />
    <p>

    </p>
    <p>
        Для оплаты заказа необходимо перейти в «Личный кабинет» пользователя в раздел «Мои заказы», выбрать заказ и нажать кнопку «Оплатить заказ». Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных систем:
    </p>
    <ul>
        <li>
            все виды платежных карточек VISA, за исключением Visa Electron.
            В большинстве случаев карта Visa Electron не применима для оплаты через интернет, за исключением карт, выпущенных отдельными банками.
            О возможность оплаты картой Visa Electron вам нужно выяснять у банка-эмитента вашей карты.
        </li>
        <li>все виды карточек MasterCard.</li>
        <li>платёжные карты МИР.</li>
    </ul>


    <h3>Процесс передачи данных</h3>
    <p>
        Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.
        Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
    </p>
    <h3>Процесс оплаты</h3>
    <p>
        Для оплаты заказа необходимо перейти в «Личный кабинет» пользователя в раздел «Мои заказы», выбрать заказ и нажать кнопку «Оплатить заказ». При этом система переключит Вас на страницу авторизационного сервера, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вернуться в наш магазин кнопкой "Вернуться в магазин". После того, как Вы возвращаетесь в наш магазин, система уведомит Вас о результатах авторизации. В случае подтверждения авторизации Ваш заказ будет автоматически выполняться в соответствии с заданными Вами условиями. В случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.
    </p>
    <h3>Отмена заказа</h3>
    <p>
        @*При отмене позиций из оплаченного заказа или при аннулировании заказа целиком Вы можете заказать другой товар на эту сумму, либо вернуть всю сумму на карту, обратившись к менеджеру интернет-магазина.*@
        При отмене оплаченного заказа Вы можете вернуть всю сумму на карту, обратившись к менеджеру интернет-магазина.
    </p>
</div>
