﻿<div class="content_page shops_page">
    <h1>Адреса магазинов</h1>    
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <script type="text/javascript"> 
        var markerUrl = "http://krasivo.pro/img/marker.png";
    </script>


    <div class="shops_block v1 active" data-reg-id="v1">
        <div class="title"><a class="region_title" href="#">Ростов-на-Дону</a></div>
        <aside class="shops_list">
            <div class="item"><a href="#" class="map_link" data-lat="47.220346" data-long="39.710081">Индустрия красоты Садовая-2</a><div class="descr">344002, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 52-56<br /> +7 (863) 240-68-19</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.233056" data-long="39.764465">Индустрия красоты Нахичевань</a><div class="descr">344037, Ростовская обл, г Ростов-на-Дону, Базарная пл, д 2/2<br /> +7 (863) 311-53-44</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.223969" data-long="39.727239">Индустрия красоты Салон Садовая</a><div class="descr">344006, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 120<br /> +7 (918) 554-92-52</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.230278" data-long="39.628775">Индустрия красоты Зорге</a><div class="descr">344015, Ростовская обл, г Ростов-на-Дону, ул Зорге, д 37<br /> +7 (863) 294-57-32</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.203997" data-long="39.723735">Индустрия красоты Мегамаг</a><div class="descr">344002, Ростовская обл, г Ростов-на-Дону, ул Пойменная, д 1, (ТЦ МЕГАМАГ)<br /> +7 (863) 311-10-32</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.288713" data-long="39.706685">Индустрия красоты Добровольского</a><div class="descr">344113, г. Ростов-на-Дону, бул. Комарова, д. 24 "А"<br /> +7 (863) 298-62-42</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.208698" data-long="39.629511">Индустрия красоты ТЦ Западный</a><div class="descr">344091, Ростовская обл, г Ростов-на-Дону, Коммунистический пр-кт, влд 32<br /> +7 (863) 298-60-21</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.239817" data-long="39.747864">Индустрия красоты Интернет-магазин</a><div class="descr">344019, г. Ростов-на-Дону, пр. Шолохова,  д. 11-19А, оф. 110<br /> 8-800-234-79-95</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.228901" data-long="39.610584">Индустрия красоты ОК</a><div class="descr">344090, Ростовская обл, г Ростов-на-Дону, ул Малиновского, д 23а<br /> +7 (918) 531-19-71</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.223969" data-long="39.727239">Индустрия красоты Садовая</a><div class="descr">344006, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 120<br /> +7 (863) 263-53-13</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.289495" data-long="39.705203">Индустрия красоты Северный</a><div class="descr">344113, Ростовская обл, г Ростов-на-Дону, ул Добровольского, д 18/22<br /> +7 (863) 237-76-00</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.232310" data-long="39.700828">Индустрия красоты Черепахина</a><div class="descr">344011, Ростовская обл, г Ростов-на-Дону, ул Черепахина, д 243/97<br /> +7 (863) 290-31-19</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.249225" data-long="39.715731">Индустрия красоты Ленина</a><div class="descr">344038, Ростовская обл, г Ростов-на-Дону, пр-кт Ленина, д 105<br /> +7 (863) 243-28-08</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.211281" data-long="39.671462">Индустрия красоты Стачки</a><div class="descr">344004, Ростовская обл, г Ростов-на-Дону, пр-кт Стачки, д 24<br /> +7 (863) 244-96-10</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.232744" data-long="39.713818">Индустрия красоты Ворошиловский</a><div class="descr">344010, г. Ростов-на-Дону, пр-т. Ворошиловский, д.101<br /> +7 (863) 231-53-45</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.263041" data-long="39.659254">Индустрия красоты Военвед</a><div class="descr">344069, Ростовская обл., г. Ростов-на-Дону, ул. Таганрогская, д. 143<br /> +7 (863) 255-85-25</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.247561" data-long="39.710961">Индустрия красоты РИО</a><div class="descr">344038, Ростовская обл, г Ростов-на-Дону, пр-кт Михаила Нагибина, д 17<br /> +7 (918) 850-29-44</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.225866" data-long="39.716827">Индустрия красоты Пушкинская</a><div class="descr">344002, Ростовская обл, г Ростов-на-Дону, ул Пушкинская, д 123/67<br /> +7 (863) 275-14-36</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.236586" data-long="39.700532">Индустрия красоты Комсомольская площадь</a><div class="descr">344011, Ростовская обл, г Ростов-на-Дону, Буденновский пр-кт, д 96/132<br /> +7 (863) 232-26-30</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.281212" data-long="39.717546">Индустрия красоты Вавилония</a><div class="descr">344092, Ростовская обл.. г. Ростов-на-Дону, пр-т Космонавтов, д. 2/2 (ТЦ Вавилония)<br /> +7 (863) 307-54-45</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.308714" data-long="39.722002">Индустрия красоты Ашан</a><div class="descr">346735, Ростовская область, Аксайский р-н, п. Верхнетемерницкий, ул. Обсерваторная, 13<br /> +7 (918) 554-51-48</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.249225" data-long="39.715731"></a>Студия профессионального макияжа на Ленина<div class="descr">г. Ростов-на-Дону, пр. Ленина, 105<br /> </div></div>
        </aside>
        <div class="shops_maps">
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap_v1, myPlacemark;
                function init() {
                    myMap_v1 = new ymaps.Map("v1", { center: [47.242227, 39.701185], zoom: 12 });
                    myPlacemark = new ymaps.Placemark([47.220346, 39.710081], { hintContent: "344002, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 52-56", balloonContent: "<b>344002, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 52-56</b><br />Индустрия красоты Садовая-2 +7 (863) 240-68-19" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.233056, 39.764465], { hintContent: "344037, Ростовская обл, г Ростов-на-Дону, Базарная пл, д 2/2", balloonContent: "<b>344037, Ростовская обл, г Ростов-на-Дону, Базарная пл, д 2/2</b><br />Индустрия красоты Нахичевань +7 (863) 311-53-44" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.223969, 39.727239], { hintContent: "344006, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 120", balloonContent: "<b>344006, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 120</b><br />Индустрия красоты Салон Садовая +7 (918) 554-92-52" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.230278, 39.628775], { hintContent: "344015, Ростовская обл, г Ростов-на-Дону, ул Зорге, д 37", balloonContent: "<b>344015, Ростовская обл, г Ростов-на-Дону, ул Зорге, д 37</b><br />Индустрия красоты Зорге +7 (863) 294-57-32" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.203997, 39.723735], { hintContent: "344002, Ростовская обл, г Ростов-на-Дону, ул Пойменная, д 1, (ТЦ МЕГАМАГ)", balloonContent: "<b>344002, Ростовская обл, г Ростов-на-Дону, ул Пойменная, д 1, (ТЦ МЕГАМАГ)</b><br />Индустрия красоты Мегамаг +7 (863) 311-10-32" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.288713, 39.706685], { hintContent: "344113, г. Ростов-на-Дону, бул. Комарова, д. 24А", balloonContent: "<b>344113, г. Ростов-на-Дону, бул. Комарова, д. 24А</b><br />Индустрия красоты Добровольского +7 (863) 298-62-42" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.208698, 39.629511], { hintContent: "344091, Ростовская обл, г Ростов-на-Дону, Коммунистический пр-кт, влд 32", balloonContent: "<b>344091, Ростовская обл, г Ростов-на-Дону, Коммунистический пр-кт, влд 32</b><br />Индустрия красоты ТЦ Западный +7 (863) 298-60-21" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.239817, 39.747864], { hintContent: "344019, г. Ростов-на-Дону, пр. Шолохова,  д. 11-19А, оф. 110", balloonContent: "<b>344019, г. Ростов-на-Дону, пр. Шолохова,  д. 11-19А, оф. 110</b><br />Индустрия красоты Интернет-магазин 8-800-234-79-95" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.228901, 39.610584], { hintContent: "344090, Ростовская обл, г Ростов-на-Дону, ул Малиновского, д 23а", balloonContent: "<b>344090, Ростовская обл, г Ростов-на-Дону, ул Малиновского, д 23а</b><br />Индустрия красоты ОК +7 (918) 531-19-71" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.223969, 39.727239], { hintContent: "344006, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 120", balloonContent: "<b>344006, Ростовская обл, г Ростов-на-Дону, ул Большая Садовая, д 120</b><br />Индустрия красоты Садовая +7 (863) 263-53-13" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.289495, 39.705203], { hintContent: "344113, Ростовская обл, г Ростов-на-Дону, ул Добровольского, д 18/22", balloonContent: "<b>344113, Ростовская обл, г Ростов-на-Дону, ул Добровольского, д 18/22</b><br />Индустрия красоты Северный +7 (863) 237-76-00" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.232310, 39.700828], { hintContent: "344011, Ростовская обл, г Ростов-на-Дону, ул Черепахина, д 243/97", balloonContent: "<b>344011, Ростовская обл, г Ростов-на-Дону, ул Черепахина, д 243/97</b><br />Индустрия красоты Черепахина +7 (863) 290-31-19" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.249225, 39.715731], { hintContent: "344038, Ростовская обл, г Ростов-на-Дону, пр-кт Ленина, д 105", balloonContent: "<b>344038, Ростовская обл, г Ростов-на-Дону, пр-кт Ленина, д 105</b><br />Индустрия красоты Ленина +7 (863) 243-28-08" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.211281, 39.671462], { hintContent: "344004, Ростовская обл, г Ростов-на-Дону, пр-кт Стачки, д 24", balloonContent: "<b>344004, Ростовская обл, г Ростов-на-Дону, пр-кт Стачки, д 24</b><br />Индустрия красоты Стачки +7 (863) 244-96-10" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.232744, 39.713818], { hintContent: "344010, г. Ростов-на-Дону, пр-т. Ворошиловский, д.101", balloonContent: "<b>344010, г. Ростов-на-Дону, пр-т. Ворошиловский, д.101</b><br />Индустрия красоты Ворошиловский +7 (863) 231-53-45" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.263041, 39.659254], { hintContent: "344069, Ростовская обл., г. Ростов-на-Дону, ул. Таганрогская, д. 143", balloonContent: "<b>344069, Ростовская обл., г. Ростов-на-Дону, ул. Таганрогская, д. 143</b><br />Индустрия красоты Военвед +7 (863) 255-85-25" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.247561, 39.710961], { hintContent: "344038, Ростовская обл, г Ростов-на-Дону, пр-кт Михаила Нагибина, д 17", balloonContent: "<b>344038, Ростовская обл, г Ростов-на-Дону, пр-кт Михаила Нагибина, д 17</b><br />Индустрия красоты РИО +7 (918) 850-29-44" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.225866, 39.716827], { hintContent: "344002, Ростовская обл, г Ростов-на-Дону, ул Пушкинская, д 123/67", balloonContent: "<b>344002, Ростовская обл, г Ростов-на-Дону, ул Пушкинская, д 123/67</b><br />Индустрия красоты Пушкинская +7 (863) 275-14-36" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.236586, 39.700532], { hintContent: "344011, Ростовская обл, г Ростов-на-Дону, Буденновский пр-кт, д 96/132", balloonContent: "<b>344011, Ростовская обл, г Ростов-на-Дону, Буденновский пр-кт, д 96/132</b><br />Индустрия красоты Комсомольская площадь +7 (863) 232-26-30" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.281212, 39.717546], { hintContent: "344092, Ростовская обл.. г. Ростов-на-Дону, пр-т Космонавтов, д. 2/2 (ТЦ Вавилония)", balloonContent: "<b>344092, Ростовская обл.. г. Ростов-на-Дону, пр-т Космонавтов, д. 2/2 (ТЦ Вавилония)</b><br />Индустрия красоты Вавилония +7 (863) 307-54-45" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.308714, 39.722002], { hintContent: "346735, Ростовская область, Аксайский р-н, п. Верхнетемерницкий, ул. Обсерваторная, 13", balloonContent: "<b>346735, Ростовская область, Аксайский р-н, п. Верхнетемерницкий, ул. Обсерваторная, 13</b><br />Индустрия красоты Ашан +7 (918) 554-51-48" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.249225, 39.715731], { hintContent: "г. Ростов-на-Дону, пр. Ленина, 105", balloonContent: "<b>г. Ростов-на-Дону, пр. Ленина, 105</b><br />Студия профессионального макияжа на Ленина " }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v1.geoObjects.add(myPlacemark);
                    $(".shops_block.v1").on("click", ".map_link", function (e) { e.preventDefault(); var tmpLat = $(this).attr("data-lat"); var tmpLong = $(this).attr("data-long"); if (tmpLat && tmpLong) { myMap_v1.setCenter([tmpLat, tmpLong], 18, { checkZoomRange: true }); } });
                }</script>
            <div id="v1" class="shops_map"></div>
        </div>
    </div>
    <div class="shops_block v2" data-reg-id="v2">
        <div class="title"><a class="region_title" href="#">Москва</a></div>
        <aside class="shops_list">
            <div class="item"><a href="#" class="map_link" data-lat="55.714648" data-long="37.883572">Индустрия красоты Москва Косино-Парк</a><div class="descr">111675, г Москва, Косино-Ухтомский р-н, ул Святоозерская, д 1А (ТЦ Косино-Парк)<br /> +7 (495) 933 34 94</div></div>
        </aside>
        <div class="shops_maps">
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap_v2, myPlacemark;
                function init() {
                    myMap_v2 = new ymaps.Map("v2", { center: [55.714648, 37.883572], zoom: 13 });
                    myPlacemark = new ymaps.Placemark([55.714648, 37.883572], { hintContent: "111675, г Москва, Косино-Ухтомский р-н, ул Святоозерская, д 1А (ТЦ Косино-Парк)", balloonContent: "<b>111675, г Москва, Косино-Ухтомский р-н, ул Святоозерская, д 1А (ТЦ Косино-Парк)</b><br />Индустрия красоты Москва Косино-Парк +7 (495) 933 34 94" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v2.geoObjects.add(myPlacemark);
                    $(".shops_block.v2").on("click", ".map_link", function (e) { e.preventDefault(); var tmpLat = $(this).attr("data-lat"); var tmpLong = $(this).attr("data-long"); if (tmpLat && tmpLong) { myMap_v2.setCenter([tmpLat, tmpLong], 18, { checkZoomRange: true }); } });
                }</script>
            <div id="v2" class="shops_map"></div>
        </div>
    </div>
    <div class="shops_block v3" data-reg-id="v3">
        <div class="title"><a class="region_title" href="#">Воронеж</a></div>
        <aside class="shops_list">
            <div class="item"><a href="#" class="map_link" data-lat="51.667194" data-long="39.191861">Индустрия красоты Воронеж</a><div class="descr">394018, г. Воронеж, ул. Кольцовская, д. 35 (2-ой этаж ТЦ «Галереи Чижова»)<br /> +7 (473) 229-53-48</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="51.655981" data-long="39.188861">Индустрия красоты Воронеж-2</a><div class="descr">394006, г. Воронеж, ул. 20-летия Октября, д. 90<br /> +7 (930) 414-99-19</div></div>
        </aside>
        <div class="shops_maps">
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap_v3, myPlacemark;
                function init() {
                    myMap_v3 = new ymaps.Map("v3", { center: [51.661588, 39.190361], zoom: 15 });
                    myPlacemark = new ymaps.Placemark([51.667194, 39.191861], { hintContent: "394018, г. Воронеж, ул. Кольцовская, д. 35 (2-ой этаж ТЦ «Галереи Чижова»)", balloonContent: "<b>394018, г. Воронеж, ул. Кольцовская, д. 35 (2-ой этаж ТЦ «Галереи Чижова»)</b><br />Индустрия красоты Воронеж +7 (473) 229-53-48" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v3.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([51.655981, 39.188861], { hintContent: "394006, г. Воронеж, ул. 20-летия Октября, д. 90", balloonContent: "<b>394006, г. Воронеж, ул. 20-летия Октября, д. 90</b><br />Индустрия красоты Воронеж-2 +7 (930) 414-99-19" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v3.geoObjects.add(myPlacemark);
                    $(".shops_block.v3").on("click", ".map_link", function (e) { e.preventDefault(); var tmpLat = $(this).attr("data-lat"); var tmpLong = $(this).attr("data-long"); if (tmpLat && tmpLong) { myMap_v3.setCenter([tmpLat, tmpLong], 18, { checkZoomRange: true }); } });
                }</script>
            <div id="v3" class="shops_map"></div>
        </div>
    </div>
    <div class="shops_block v4" data-reg-id="v4">
        <div class="title"><a class="region_title" href="#">Краснодар</a></div>
        <aside class="shops_list">
            <div class="item"><a href="#" class="map_link" data-lat="45.042527" data-long="38.977487">Индустрия красоты Краснодар-1</a><div class="descr">350015, Краснодарский край, г Краснодар, ул Красная, д 170<br /> +7 (988) 248-17-78</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="45.018532" data-long="39.031143">Индустрия красоты Краснодар-2</a><div class="descr">350040, Краснодарский край, г Краснодар, ул Ставропольская, д 226<br /> +7 (861) 244-78-83</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="45.055136" data-long="39.021244">Индустрия красоты Краснодар-3</a><div class="descr">350901, Краснодарский край, г.Краснодар, ул. им. 40-летия Победы, 146/2<br /> +7 (989) 824-25-27</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="45.027712" data-long="38.905622">Индустрия красоты Краснодар-4</a><div class="descr">350089, Краснодарский край, г.Краснодар, пр. Чекистов, 1/3<br /> +7 (988) 956-53-43</div></div>
        </aside>
        <div class="shops_maps">
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap_v4, myPlacemark;
                function init() {
                    myMap_v4 = new ymaps.Map("v4", { center: [45.035977, 38.983874], zoom: 13 });
                    myPlacemark = new ymaps.Placemark([45.042527, 38.977487], { hintContent: "350015, Краснодарский край, г. Краснодар, ул. Красная, д 170", balloonContent: "<b>350015, Краснодарский край, г Краснодар, ул Красная, д 170</b><br />Индустрия красоты Краснодар-1 +7 (988) 248-17-78" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v4.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([45.018532, 39.031143], { hintContent: "350040, Краснодарский край, г. Краснодар, ул. Ставропольская, д 226", balloonContent: "<b>350040, Краснодарский край, г. Краснодар, ул Ставропольская, д 226</b><br />Индустрия красоты Краснодар-2 +7 (861) 244-78-83" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v4.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([45.055136, 39.021244], { hintContent: "350901, Краснодарский край, г.Краснодар, ул. им. 40-летия Победы, 146/2", balloonContent: "<b>350901, Краснодарский край, г.Краснодар, ул. им. 40-летия Победы, 146/2</b><br />Индустрия красоты Краснодар-3 +7 (989) 824-25-27" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v4.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([45.027712, 38.905622], { hintContent: "350089, Краснодарский край, г.Краснодар, пр. Чекистов, 1/3", balloonContent: "<b>350089, Краснодарский край, г.Краснодар, проспект Чекистов, 1/3</b><br />Индустрия красоты Краснодар-4 +7 (988) 956-53-43" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v4.geoObjects.add(myPlacemark);
                    $(".shops_block.v4").on("click", ".map_link", function (e) { e.preventDefault(); var tmpLat = $(this).attr("data-lat"); var tmpLong = $(this).attr("data-long"); if (tmpLat && tmpLong) { myMap_v4.setCenter([tmpLat, tmpLong], 18, { checkZoomRange: true }); } });
                }</script>
            <div id="v4" class="shops_map"></div>
        </div>
    </div>
    <div class="shops_block v5" data-reg-id="v5">
        <div class="title"><a class="region_title" href="#">Ростовская область</a></div>
        <aside class="shops_list">
            <div class="item"><a href="#" class="map_link" data-lat="47.251036" data-long="38.916626">Индустрия красоты Таганрог-3</a><div class="descr">347931, Ростовская обл, г Таганрог, ул Дзержинского, д 163<br /> +7 (918) 556-21-22</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.110835" data-long="39.424893">Индустрия красоты Азов</a><div class="descr">346780, Ростовская область, г. Азов, ул. Московская, д. 46/48<br /> +7 (988) 949-84-73</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.137310" data-long="39.745852">Индустрия красоты Батайск</a><div class="descr">346880, Ростовская область, г. Батайск, ул. Кирова, д. 45<br /> +7 (919) 871-47-26</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.411443" data-long="40.101711">Индустрия красоты Платовский</a><div class="descr">346400, Ростовская обл, г Новочеркасск, Платовский пр-кт, д 82<br /> +7 (863) 52-58-859</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="48.176148" data-long="40.809367">Индустрия красоты Белая Калитва</a><div class="descr">347042, Ростовская обл, Белокалитвинский р-н, г Белая Калитва, ул Энтузиастов, д 14 к 1	<br /> +7 (863) 834-14-60</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.415723" data-long="40.096114">Индустрия красоты Новочеркасск</a><div class="descr">346400, Ростовская обл, г Новочеркасск, ул Московская, д 31/35<br /> +7 (863) 522-77-79</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.509740" data-long="42.166560">Индустрия красоты Волгодонск</a><div class="descr">347381, Ростовская область, г. Волгодонск, ул. 30 лет Победы, д. 20<br /> +7 (918) 540-87-57</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="48.317819" data-long="40.268231">Индустрия красоты Каменск</a><div class="descr">347809, Ростовская обл, г Каменск-Шахтинский, пр-кт Карла Маркса, д 81<br /> +7 (919) 870-31-72</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.707054" data-long="40.216291">Индустрия красоты Шахты</a><div class="descr">346500, Ростовская обл, г Шахты, пер Красный Шахтер, д. 74а<br /> +7 (919) 871-58-84</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.211447" data-long="38.935599">Индустрия красоты Таганрог</a><div class="descr">347949, Ростовская обл, г Таганрог, ул Петровская, д 60/2<br /> +7 (863) 436-08-20</div></div>
            <div class="item"><a href="#" class="map_link" data-lat="47.221025" data-long="38.866024">Индустрия красоты Таганрог-2</a><div class="descr">347939, Ростовская обл, г Таганрог, ул Чехова, д 322<br /> +7 (863) 438-90-57</div></div>
        </aside>
        <div class="shops_maps">
            <script type="text/javascript">
                ymaps.ready(init);
                var myMap_v5, myPlacemark;
                function init() {
                    myMap_v5 = new ymaps.Map("v5", { center: [47.497235, 39.958843], zoom: 8 });
                    myPlacemark = new ymaps.Placemark([47.251036, 38.916626], { hintContent: "347931, Ростовская обл, г Таганрог, ул Дзержинского, д 163", balloonContent: "<b>347931, Ростовская обл, г Таганрог, ул Дзержинского, д 163</b><br />Индустрия красоты Таганрог-3 +7 (918) 556-21-22" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.110835, 39.424893], { hintContent: "346780, Ростовская область, г. Азов, ул. Московская, д. 46/48", balloonContent: "<b>346780, Ростовская область, г. Азов, ул. Московская, д. 46/48</b><br />Индустрия красоты Азов +7 (988) 949-84-73" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.137310, 39.745852], { hintContent: "346880, Ростовская область, г. Батайск, ул. Кирова, д. 45", balloonContent: "<b>346880, Ростовская область, г. Батайск, ул. Кирова, д. 45</b><br />Индустрия красоты Батайск +7 (919) 871-47-26" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.411443, 40.101711], { hintContent: "346400, Ростовская обл, г Новочеркасск, Платовский пр-кт, д 82", balloonContent: "<b>346400, Ростовская обл, г Новочеркасск, Платовский пр-кт, д 82</b><br />Индустрия красоты Платовский +7 (863) 52-58-859" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([48.176148, 40.809367], { hintContent: "347042, Ростовская обл, Белокалитвинский р-н, г Белая Калитва, ул Энтузиастов, д 14 к 1	", balloonContent: "<b>347042, Ростовская обл, Белокалитвинский р-н, г Белая Калитва, ул Энтузиастов, д 14 к 1	</b><br />Индустрия красоты Белая Калитва +7 (863) 834-14-60" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.415723, 40.096114], { hintContent: "346400, Ростовская обл, г Новочеркасск, ул Московская, д 31/35", balloonContent: "<b>346400, Ростовская обл, г Новочеркасск, ул Московская, д 31/35</b><br />Индустрия красоты Новочеркасск +7 (863) 522-77-79" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.509740, 42.166560], { hintContent: "347381, Ростовская область, г. Волгодонск, ул. 30 лет Победы, д. 20", balloonContent: "<b>347381, Ростовская область, г. Волгодонск, ул. 30 лет Победы, д. 20</b><br />Индустрия красоты Волгодонск +7 (918) 540-87-57" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([48.317819, 40.268231], { hintContent: "347809, Ростовская обл, г Каменск-Шахтинский, пр-кт Карла Маркса, д 81", balloonContent: "<b>347809, Ростовская обл, г Каменск-Шахтинский, пр-кт Карла Маркса, д 81</b><br />Индустрия красоты Каменск +7 (919) 870-31-72" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.707054, 40.216291], { hintContent: "346500, Ростовская обл, г Шахты, пер Красный Шахтер, д. 74а", balloonContent: "<b>346500, Ростовская обл, г Шахты, пер Красный Шахтер, д. 74а</b><br />Индустрия красоты Шахты +7 (919) 871-58-84" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.211447, 38.935599], { hintContent: "347949, Ростовская обл, г Таганрог, ул Петровская, д 60/2", balloonContent: "<b>347949, Ростовская обл, г Таганрог, ул Петровская, д 60/2</b><br />Индустрия красоты Таганрог +7 (863) 436-08-20" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    myPlacemark = new ymaps.Placemark([47.221025, 38.866024], { hintContent: "347939, Ростовская обл, г Таганрог, ул Чехова, д 322", balloonContent: "<b>347939, Ростовская обл, г Таганрог, ул Чехова, д 322</b><br />Индустрия красоты Таганрог-2 +7 (863) 438-90-57" }, { iconLayout: "default#image", iconImageHref: markerUrl, iconImageSize: [32, 32] });
                    myMap_v5.geoObjects.add(myPlacemark);
                    $(".shops_block.v5").on("click", ".map_link", function (e) { e.preventDefault(); var tmpLat = $(this).attr("data-lat"); var tmpLong = $(this).attr("data-long"); if (tmpLat && tmpLong) { myMap_v5.setCenter([tmpLat, tmpLong], 18, { checkZoomRange: true }); } });
                }</script>
            <div id="v5" class="shops_map"></div>
        </div>
    </div>    
    
</div>
